<div class="login-box">
  <div class="login-logo">
    <a href="http://ip4b.ca" class="logo"></a>
  </div>
  <!-- /.login-logo -->

  <div class="login-box-body">
    <p class="login-box-msg">
      Registration
    </p>

    <% if notice %>
      <p class="notice text-warning login-box-msg"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class="alert text-danger login-box-msg"><%= alert %></p>
    <% end %>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="form-group has-feedback">
        <%= f.text_field :fullname, autofocus: true, class: 'form-control', placeholder: t('devise.registrations.fullname') %>
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
        <%= errors_for resource, :fullname %>
      </div>

      <div class="form-group has-feedback">
        <%= f.email_field :email, class: 'form-control', placeholder: t('devise.registrations.email') %>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        <%= errors_for resource, :email %>
      </div>

      <div class="form-group has-feedback">
        <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: t('devise.registrations.password') %>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <%= errors_for resource, :password %>
      </div>

      <div class="form-group has-feedback">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: t('devise.registrations.confirm') %>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <%= errors_for resource, :password_confirmation %>
      </div>

      <div class="row">
        <div class="col-xs-4 col-xs-offset-8">
          <%= f.submit t('devise.registrations.sign_up'), class: 'btn btn-primary btn-block btn-flat' %>
        </div>
        <!-- /.col -->

        <div class="col-xs-12">
          <%= render "devise/shared/links" %>
        </div>
      </div>
      <!-- /.row -->

    <% end %>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
