<%= form_for(setting) do |f| %>
  <% if setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
      <% setting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% case setting.setting_type %>
    <% when "html" %>
        <%# f.label :value %>
        <%= f.text_area :value, rows: 5, cols: 25, :class => "tinymce"  %>
    <% when "date" %>
        <%= f.text_field :value, class: 'form-control datepicker', id: 'view-calendar'  %>

        <%# This makes the datepicker close after selecting a date #%>
	    <script>
	        $('#view-calendar').datepicker({ format: "yyyy-mm-dd" }).on('changeDate', function(e) {
	            $('#view-calendar').datepicker('hide')
	        });
	    </script>

    <% else %>
        <%= f.label :value %>
        <%= f.text_area :value %>
    <% end %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

