<%= tinymce_assets if @setting.setting_type == "html" %>

<h1>Editing setting <%= @setting.name %></h1>

<%= render 'form', setting: @setting %>

<%= link_to 'Show', @setting %> |
<%= link_to 'Back', settings_path %>

<%= tinymce if @setting.setting_type == "html" %>
