<%= render layout: 'shared/box', locals: { title: "#{icon 'phone-square'} BTNs (#{@selectable_btns.count} #{'BTN'.pluralize(@selectable_btns.count)})".html_safe } do %>

  <table class="table table-bordered table-striped table-hover table-condensed">
    <thead>
      <tr>
        <th>BTN</th>
        <th>Services</th>
        <th>Start Date</th>
        <th>End Date</th>
      </tr>
    </thead>

    <tbody>
      <% @btns.each do |btn| %>
        <tr id="btn-row-<%= btn.id %>">
          <td class="btn-row-btn"><%= link_to btn.billingtelephonenumber, client_btn_path(@client, btn) %></td>
          <td class="btn-row-phn">
            <% if btn.phones.activated.any? %>
              <ul>
                <% btn.phones.activated.limit(3).each do |phone| %>
                  <li><%= phone.phone_number %></li>
                <% end %>
                <% if btn.phones.activated.count > 3 %>
                  <li>(<%= btn.phones.activated.count - 3 %> others)</li>
                <% end -%>
              </ul>
            <% end %>
          </td>
          <td class="btn-row-sdt"><%= btn.activated_at %></td>
          <td class="btn-row-edt"><%= btn.deactivated_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% content_for :footer, flush: true do %>
    <%= link_to('Add BTN', '#', class: 'btn btn-xs btn-box btn-default') %>
    <%= paginate(btns, param_name: :btns_page) %>
  <% end %>

<% end %>
