<%= render layout: 'shared/box', locals: { title: "#{icon 'invoice'} Invoice".html_safe, footer: '' } do %>
  <table class="table table-bordered table-striped table-hover">
    <tr>
      <th>Invoice Date</th>
      <th>Client name</th>
      <th>BTN</th>
      <th>Invoice Number</th>
      <th>Amount</th>
      <th>Created at</th>
      <th>Posted at</th>
    </tr>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= link_to invoice.invoice_date, invoice_path(invoice) %></td>
        <td><%= invoice.client.try(:name) %></td>
        <td><%= invoice.client.try(:btn).try(:billingtelephonenumber) %></td>
        <td><%= link_to invoice.invoicenumber, invoice_path(invoice) %></td>
        <td><%= link_to money(invoice.amount_invoiced), invoice_path(invoice) %></td>
        <td><%= I18n.localize invoice.created_at, format: :medium %></td>
        <td><%= invoice.posted_at %></td>
      </tr>
    <% end %>
  </table>
  <div class="small">*Invoices created before <%= I18n.localize Invoice::POST_FEATURE_IMPLEMENTED, format: :medium %> can never be posted because posting invoices with SGE started on that date</div>
<% end %>
