<%# In case we want to show an invoice without going through controller.  Untested code for future use %>
<% @calls = invoice.calls.decorate if @calls.nil? %>
<% @clientOrSite = invoice.ressource if @clientOrSite.nil? %>
<% @billable_services = invoice.billable_services if @billable_services.nil? %>
<%= render 'invoices/templates/monthly' %>

<% child_invoices = @invoice.site_invoices.sort_by {|i| i.site.try(:site_number) } %>
<% child_invoices.each do |child_inv| %>
    <% @calls = child_inv.calls.decorate %>
    <% @clientOrSite = child_inv.ressource %>
    <% @billable_services = child_inv.billable_services %>
    <% @invoice = child_inv.decorate %>
    <%= render 'invoices/templates/monthly' %>
<% end %>
