<%= render layout: 'shared/box', locals: { title: "Charges (#{@billable_services_count2})", extra_classes: "", id: "billable_services_widget" } do %>
  <div class="row">

  <div class="form-group">
    <div class="col-md-4">
      <% if deactivated_billable_services? %>
      <label class="control-label">Listing Deactivated Charges</label>
        <%= link_to 'Show Activated', client_show_safe_params.merge(deactivated_billable_services: 0), class: 'btn btn-default btn-box form-control' %>
      <% else %>
      <label class="control-label">Listing Activated Charges</label>
        <%= link_to 'Show Deactivated', client_show_safe_params.merge(deactivated_billable_services: 1), class: 'btn btn-default btn-box form-control' %>
      <% end %>
    </div>

    <%= render :file => 'shared/_site_picker.html.erb', :locals => {:ressourceName => 'billable'} %>

    <div class="col-md-4">
      <% if recurring_billable_services? %>
      <label class="control-label">Showing Recurring</label>
        <%= link_to 'Show One-Time', client_show_safe_params.merge(billable_service_recurrence: 1, deactivated_billable_services: 1), class: 'btn btn-default btn-box form-control' %>
      <% else %>
      <label class="control-label">Showing One-Time</label>
        <%= link_to 'Show Recurring', client_show_safe_params.merge(billable_service_recurrence: 2, deactivated_billable_services: 0), class: 'btn btn-default btn-box form-control' %>
      <% end %>
    </div>


    <div class="col-md-4">
    </div>
  </div>
  </div>
  <br>
  <div class="charges_scroll">

  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
	<th class="col-md-1">Service Status</th>
	<th class="col-md-1"></th>
        <th class="col-md-1">Service ID</th>
	<th class="col-md-1">Type</th>
        <th class="col-md-2">Description</th>
	<th class="col-md-1">Site</th>
        <th class="col-md-1">Quantity</th>
        <th class="col-md-1">Unit Price</th>
        <th class="col-md-1">Total</th>
        <th class="col-md-1">Start Date</th>
	<th class="col-md-1">End Date</th>


        <th class="col-md-1"></th>

      </tr>
    </thead>

    <tbody>
      <% @billable_services.each do |service| %>

        <tr>
          <td><%= service.activated? ? 'Active' : 'Inactive' %></td>
	  <td>
	    <small><table>
	      <tr><td>id:</td><td><%= service.id %></td></tr>
	      <tr><td>pid:</td><td><%= service.charge_pid %></td></tr>
	    </table></small>
	  </td>
	  <td>
	  <% if service.asset %>
	    <a href="/services/<%= service.asset.id %>"><%= service.asset.service_id %></a>
	      <!-- <br /><span style="overflow-x:hidden;" title="id:<%= service.asset.site_id %>" ><%= service_site_selector(service.asset, @selectable_site_collection) %></span> -->
	  <% end %>

	  </td>

	  <td><%= service.recurrence_type %></td>
          <td><b><%= service.name %></b><br>
	    <span title="product id:<%= service.product_id %>"><%= service.description %></span>
	  </td>
	  <td>
	    <% if service.site %>
	      <a href="/sites/<%= service.site.id %>">
	      <%= service.site.site_number %><br>
	      <%= service.site.name %>
		</a>
	    <% end %>
	    <%#= service.site != nil ? "#{service.site.site_number}" : '' %>

	  </td>
          <td><span class="pull-right"><%= service.qty %></span></td>
          <td><span class="pull-right"><%= money(service.unit_price) %></span></td>
          <td><span class="pull-right"><%= money(service.total) %></span></td>

          <td><%= date service.billing_period_started_at %></td>
          <td><%= date service.billing_period_ended_at %></td>

	  <td><%= link_to icon("edit"), edit_client_billable_service_path(@client,service), class: 'btn btn-warning btn-box btn-xs' %></td>


	  <% if nil %>
            <% servicePrice = Product.find_by(id: service.product_id).try(:unitprice) %>
	    <!-- <td><span class="pull-right"><%= money(service.product.unit_cost) if service.product  %></span></td> -->
            <!-- <td><span class="pull-right"><%= servicePrice.nil? ? 'n/d' : money(servicePrice) %></span></td> -->

            <% if service.activated? %>
              <td><%= link_to icon('minus'), client_billable_service_deactivate_path(@client, service), method: :patch, class: 'btn btn-danger btn-xs btn-box'%></td>
            <% else %>
              <td><%= link_to icon('plus'), client_billable_service_activate_path(@client, service), method: :patch, class: 'btn btn-success btn-xs btn-box'%></td>
            <% end %>
	  <% end %>



        </tr>
      <% end %>
    </tbody>

    <tfoot>
      <tr>
        <!-- <th colspan="6"><span class="pull-right">Total</span></th>
             <td><span class="pull-right"><%= money(@billable_services_total) %></span></td> -->
      </tr>
    </tfoot>
  </table>
  </div> <!-- end new div -->

  <% content_for :footer, flush: true do %>
    <%= link_to 'Add Charge', '#', class: "btn btn-xs btn-box btn-default", data: { toggle: 'modal', target: '#add-service-modal' } %>
    <%= link_to 'Search', client_billable_services_path(@client), class: "btn btn-xs btn-box btn-default" %>

    <%= paginate(@billable_services, param_name: :services_page) %>

    <%= render layout: 'shared/modal', locals: { title: 'Add Charge', html: { id: 'add-service-modal' }} do %>
      <%= render 'billable_services/form' %>
    <% end %>
  <% end %>
<% end %>
