<%= form_for(@billable_service, :html => {:class => 'form-horizontal' }) do |f| %>

  <!-- <div class="form-group">
       <%#= f.label :service_id, class: 'col-sm-2 control-label' %>
       <%#= watch out here - if this is enabled, selectpicker chooses the __WRONG__ item and when you hit update will change the service! %>
       <%#= f.select :service_id, options_from_collection_for_select(Service.order(:name).all, :id, :name), {}, class: 'selectpicker form-control' %>
       </div> -->

  <% if false %>
  <div class="form-group">
    <% if request.controller_class == ClientsController %> <%# form is used on the clients controller page - only show service choice it here! %>
      <%= f.label :service_id, class: 'col-sm-2 control-label' %>
      <%#= Don't order as this will choose the wrong thing due to selectpicker %>
      <%#= f.select :service_id, options_from_collection_for_select(Service.order(:name).all, :id, :name), {}, class: 'selectpicker form-control' %>
      <%#= f.select :service_id, options_from_collection_for_select(Service.order(:name).all.map{ |s|  s.id, s.name ]}), {}, class: 'selectpicker form-control' %>

      <%#= f.select :service_id, options_from_collection_for_select(Service.all, :id, :name), {}, class: 'selectpicker form-control' %>
      <%= f.select :product_id, options_from_collection_for_select(Product.all, :id, :name), {}, class: 'form-control' %>
    <% end %>
  </div>
  <% end %>


  <hr> <%################# CLIENT INFO #########################%>
  <div class="form-group">
    <label class="col-sm-2 control-label">BTN:</label>
    <div class="col-sm-10">
      <!-- <input class="form-control" type="text" placeholder="<%#= ( @billable_service.client and @billable_service.client.btn ) ? @billable_service.client.btn.billingtelephonenumber : 'error' %>" readonly> -->
      <input class="form-control" type="text" placeholder="<%= ( @client and @client.btn ) ? @client.btn.billingtelephonenumber : 'error' %>" readonly>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Client Name:</label>
    <div class="col-sm-10">
      <!-- <input class="form-control" type="text" placeholder="<%#= @billable_service.client ? @billable_service.client.name : 'no client' %>" readonly> -->
      <input class="form-control" type="text" placeholder="<%= @client ? @client.name : 'no client' %>" readonly>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Site Number:</label>
    <div class="col-sm-10">
      <% if @billable_service.client %>
	<%= select "", "site_number", options_from_collection_for_select(@billable_service.client.sites.sort_by { |s| s.site_number }, :id, :site_number, @billable_service.site_id), {:include_blank => true}, class: 'form-control' %>
      <% else %>
	<%= select "", "site_number", options_from_collection_for_select(@client.sites.sort_by { |s| s.site_number }, :id, :site_number, @billable_service.site_id), {:include_blank => true}, class: 'form-control' %>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 col-sm-2 control-label">Site Name:</label>
    <div class="col-sm-10">
      <% if @billable_service.client %>
      <%= f.select :site_id, options_from_collection_for_select(@billable_service.client.sites.sort_by { |s| s.name }, :id, :name, @billable_service.site_id), {:include_blank => true}, class: 'form-control' %>
      <% else %>
	<%= f.select :site_id, options_from_collection_for_select(@client.sites.sort_by { |s| s.name }, :id, :name, @billable_service.site_id), {:include_blank => true}, class: 'form-control' %>
      <% end %>
      <!-- <input class="form-control" type="text" placeholder="<%= @billable_service.site ? @billable_service.site.name : 'err: no site' %>" readonly> -->

    </div>
  </div>


  <div class="form-group">
    <label class="col-sm-2 col-sm-2 control-label">Service:</label>
    <div class="col-sm-10">
      <% if @billable_service.client %>
	<%= f.select :asset_id, options_from_collection_for_select(@billable_service.client.services.sort_by { |s| s.name }, :id, :name, @billable_service.asset_id), {:include_blank => true}, class: 'form-control' %>
      <% else %>
	<%= f.select :asset_id, options_from_collection_for_select(@client.services.sort_by { |s| s.name }, :id, :name, @billable_service.asset_id), {:include_blank => true}, class: 'form-control' %>
      <% end %>
    </div>
  </div>

  <hr> <%################# PRODUCT #########################%>

  <!-- <label class="control-label"><input type="checkbox" disabled> Active</label> -->
  <!-- <div class="form-group">
       <label class="col-sm-2 control-label">Product Code:</label>
       <div class="col-sm-10"> -->
      <%#= f.select :product_category_id, options_from_collection_for_select(ProductCategory.all, :id, :code, @billable_service.product_category), {}, class: 'form-control' %>
      <!-- <select class="form-control">
	   <option>A - not implemented</option>
	   <option>B - not implemented</option>
	   <option>C - not implemented</option>
	   </select> -->

      <!-- <input class="form-control" type="text" placeholder="not implemented" readonly> -->
  <!-- </div>
       </div> -->

  <div class="form-group">
    <label class="col-sm-2 control-label">Product Name:</label>
    <div class="col-sm-9">

      <%= f.select :product_id, options_from_collection_for_select(Product.all, :id, :name, @billable_service.product_id), {:include_blank => true} , class: 'form-control' %>
      <!-- <select class="form-control">
	   <option>A - not implemented</option>
	   <option>B - not implemented</option>
	   <option>C - not implemented</option>
	   </select> -->
    </div>
    <div class="col-sm-1">
      <% if @billable_service.product %>
      <a class="btn btn-warning btn-box btn product_edit_link_btn" href="/products/<%= @billable_service.product.id %>/edit"><i class="fa fa-edit"></i></a>
      <% end %>
    </div>

  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Description:</label>
    <div class="col-sm-9">
      <!-- <input class="form-control" id="bs_product_description" type="text" placeholder="<%= @billable_service.description %>" readonly> -->
      <%= f.select :product_id, options_from_collection_for_select(Product.all, :id, :description, @billable_service.product_id), {:include_blank => true} , class: 'form-control', id: 'product_description_select' %>



      <%# if @billable_service.client %>
      <%#= select_tag :product_selectize, :product_id, class: 'selectize products', query_client: @billable_service.client.id %>
      <%# end %>
    </div>
    <div class="col-sm-1">
      <% if @billable_service.product %>
      <a class="btn btn-warning btn-box btn product_edit_link_btn" href="/products/<%= @billable_service.product.id %>/edit"><i class="fa fa-edit"></i></a>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Note:</label>
    <div class="col-sm-10">
      <%= f.text_area :note, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Assigned To:</label>
    <div class="col-sm-10">
      <%= f.select :assignment_level, options_for_select(BillableService.assignment_levels.map { |k,v| [k,k] }, @billable_service.assignment_level), {}, class: ' form-control' %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Reference Number:</label>
    <div class="col-sm-10">
      <%= f.text_field :reference_number, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Equipment Serial Number:<!-- Supplier Account No: --></label>
    <div class="col-sm-10">
      <%= f.text_field :supplier_account_no, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Password1:</label>
    <div class="col-sm-10">
      <%= f.text_field :password1, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label"><%= f.label :supplier_id, 'Supplier :', class: 'control-label' %></label>
    <div class="col-sm-10">
      <%= f.select :supplier_id, DIDSupplier.all.collect{|s| [s.name, s.id]}.sort_by { |s| s[0] }, {include_blank: true}, class: 'selectpicker form-control' %>
    </div>
  </div>



  <hr> <%################# QTY AND PRICE #########################%>
  <div class="form-group">
    <%= f.label :qty, 'Quantity:', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :qty, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :unitprice,'Unit Price:', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :unitprice, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :totalprice, 'Total Price:', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <input class="form-control" id="bs_totalprice_input" type="text" placeholder="<%= @billable_service.totalprice %>" readonly>
      <%#= f.text_field :totalprice, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Unit Cost:</label>
    <div class="col-sm-10">
      <input class="form-control" id="bs_product_unit_cost_input" type="text" placeholder="<%= money(@billable_service.product.unit_cost) if @billable_service.product  %>" readonly>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Total Cost:</label>
    <div class="col-sm-10">
      <input class="form-control" id="bs_total_cost_input" type="text" placeholder="not implemented" readonly>
    </div>
  </div>



  <div class="form-group">
    <%= f.label :billing_period_started_at,'Start Date:', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :billing_period_started_at , class: 'form-control datepicker', :value => ( @billable_service.billing_period_started_at.strftime("%F") if @billable_service.billing_period_started_at) || '' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :billing_period_ended_at,'Terminate On:', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :billing_period_ended_at, class: 'form-control datepicker', :value => ( @billable_service.billing_period_ended_at.strftime("%F") if @billable_service.billing_period_ended_at) || ''  %>
    </div>
  </div>
  <!-- <div class="form-group">
       <label class="col-sm-2 control-label"><input type="checkbox">Set Termination:</label>
       <div class="col-sm-10">

       </div>
       </div> -->


  <hr> <%################# Reoccurance #########################%>
  <div class="form-group">
    <label class="col-sm-2 control-label">Reoccurence:</label>
    <div class="col-sm-10">
      <%#= f.select :billing_period, options_for_select([['Monthly', :monthly], ['Yearly', :yearly]], @billable_service.recurrence_type), {}, class: ' form-control' %>
      <%= f.select :recurrence_type, options_for_select(BillableService.recurrence_types.map { |k,v| [k,k] }, @billable_service.recurrence_type), {:include_blank => true }, class: ' form-control' %>
      <!-- <select class="form-control">
	   <option>A - not implemented</option>
	   <option>B - not implemented</option>
	   <option>C - not implemented</option>
	   </select> -->
    </div>
  </div>

  <!-- <div class="form-group">
       <label class="col-sm-2 control-label">Apply every:</label> <%# is this tblTimePeriod ?? %>
       <div class="col-sm-10">
       <select class="form-control">
       <option>1 - not implemented</option>
       <option>2 - not implemented</option>
       <option>3 - not implemented</option>
       <option>4 - not implemented</option>
       <option>5 - not implemented</option>
       <option>6 - not implemented</option>
       <option>7 - not implemented</option>
       <option>8 - not implemented</option>
       <option>9 - not implemented</option>
       <option>10 - not implemented</option>
       <option>11 - not implemented</option>
       <option>12 - not implemented</option>
       </select>
       </div>
       </div> -->

  <div class="form-group">
    <label class="col-sm-2 control-label">Charge Mode:</label>
    <div class="col-sm-10">
      <%= f.select :charge_mode_id, options_from_collection_for_select(ChargeMode.all, :id, :mode, @billable_service.charge_mode_id), {:include_blank => true }, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Prorate Start:</label>
    <div class="col-sm-10">
      <%= f.select :prorate_id_start, options_from_collection_for_select(Prorate.all, :id, :meaning, @billable_service.prorate_id_start), {}, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Prorate Termination:</label>
    <div class="col-sm-10">
      <%= f.select :prorate_id_end, options_from_collection_for_select(Prorate.all, :id, :meaning, @billable_service.prorate_id_end), {}, class: 'form-control' %>
    </div>
  </div>




  <!-- <div class="form-group">
       <label class="col-sm-2 control-label">Terminated By:</label>
       <div class="col-sm-10">
       <select class="form-control">
       <option>A - not implemented</option>
       <option>B - not implemented</option>
       <option>C - not implemented</option>
       </select>
       </div>
       </div> -->

  <!-- <div class="form-group">
       <label class="col-sm-2 control-label">Terminated On:</label>
       <div class="col-sm-10">
       <input class="form-control datepicker" type="text" placeholder="not implemented" readonly>
       </div>
       </div> -->

  <% if nil %>
  <div class="form-group">
    <label class="col-sm-2 control-label">Max Occurrences:</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" placeholder="not implemented" readonly>
    </div>
  </div>
  <% end %>


  <div class="form-group">
    <%= f.label :billing_period,'Apply:', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.select :billing_period, options_for_select([['Monthly', :monthly], ['Yearly', :yearly]], @billable_service.billing_period), {}, class: ' form-control' %>
    </div>
    <%#= f.select :billing_period, options_for_select([['Monthly', :monthly], ['Yearly', :yearly]], @billable_service.billing_period), {}, class: 'selectpicker form-control' %>
  </div>

  <!-- <div class="form-group">
       <%#= f.label :discount, class: 'col-sm-2 control-label' %>
       <%#= f.text_field :discount, class: 'form-control' %>
       </div> -->




  <!-- <div class="form-group"> -->
    <%#= f.label :site_id, class: 'col-sm-2 control-label' %>
    <%#= f.select :site_id, options_from_collection_for_select(@client.sites.activated, :name, :id, @billable_service.site_id), {}, class: 'selectpicker form-control' %>
  <!-- </div> -->




  <hr> <%################# GL OVERRIDE #########################%>
  <% if nil %>
  <div class="form-group">
    <label class="col-sm-2 control-label"><input type="checkbox"> Overide GL</label>
    <div class="col-sm-10">
    </div>
  </div>



  <div class="form-group">
    <div class="col-sm-1"></div>
    <label class="col-sm-2 control-label">GL Account</label>
    <div class="col-sm-8">
      <select class="form-control">
	<option>A - not implemented</option>
	<option>B - not implemented</option>
	<option>C - not implemented</option>
      </select>
    </div>
  </div>
  <% end %>



  <% if @billable_service.client %>
    <!-- <span style="display:none" id="client_id_value" val="<%#= @billable_service.client.id %>"></span> -->
  <% else %>
    <%= f.hidden_field :client_id, value: @client.id %></td>
  <% end %>

  <div class="actions">
    <%= f.submit nil, class: 'btn btn-primary btn-box' %>
  </div>
<% end %>
