<div class="box">
  <div class="box-header with-border">
    <h2 class="box-title"><strong>Editing service:</strong> <%= @billable_service.name %></h2>
    <div class="box-body">
      <i><%= @billable_service.description %></i>
    </div>
  </div>


  <!-- /.box-header -->
  <div class="box-body">
    <%= render 'form' %>
  </div>
  <!-- /.box-body -->

  <div class="box-footer clearfix">
    <%= link_to 'Show', billable_service_path %> |
    <%#= link_to 'Back', redirect_back_path || billable_services_path  %>
    <%= link_to 'Back', redirect_back_path  %>
  </div>
</div>
<!-- /.box -->
