
<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Export Charges</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <style>
    </style>

    <%#= form_for(@search, url: exports_client_billable_services_path, method: :get, :html => {:class => ''}) do |f| %>
    <%= form_for(@search, url: exports_billable_services_path, method: :get, :html => {:class => ''}) do |f| %>

      <div class="row">
	<div class="col-md-4">
	  <%= f.collection_check_boxes :recurrences, BillableService.recurrence_types.map { |k,v| [k,v] }, :first, :first do |b| %>
	    <label class="checkbox-inline">
	      <%= b.check_box %>
	      <%= b.object[0] %>
	    </label>
	  <% end %>
	</div>
      </div>  <!-- end row -->
      <div class="row" style="padding-top:4px">
	<div class="col-md-4">
	  <label class="checkbox-inline">
	    <%= f.check_box :activated %>
	    Activated
	  </label>
	  <label class="checkbox-inline">
	    <%= f.check_box :deactivated %>
	    Deactivated
	  </label>
	</div>
      </div>
      <hr style="margin-top:4px; margin-bottom:4px;">

      <!-- SUPPLIER -------------------------------------------------------------------------->
      <div class="row search-group search-group-col">
	<div class="col-md-1" style="width:5%; padding: 6px 12px; ">
	  <input type="checkbox" id="cb_supplier">
	  All
	</div>

	<div class="col-xs-3" id="supplier-left">
	  <div class="input-group">
	    <span class="input-group-addon" style="min-width:100px">Supplier:</span>
	    <%= f.select :supplierid, options_from_collection_for_select(DIDSupplier.all, :id, lambda { |s| "#{s.name}"}, @search.supplierid), {:include_blank => true}, class: 'form-control ' %>

	  </div>
	</div>
	<% if false %>
	<div class="col-md-1" style="width:auto">
	  <div class=" input-group">
	    <button type="button" class="btn btn-default" id="btn-supplier-select" aria-label="Select input type">
	      <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
	    </button>
	  </div>
	</div>

	<div class="col-xs-3" id="supplier-right">
	  <div class=" input-group">
	    <span class="input-group-addon" style="min-width:100px">Supplier Text:</span>
	    <%= f.text_field :supplier, class: 'form-control'  %>
	  </div>
	</div>
	<% end %>
      </div>
      <div class="row search-group search-group-col">
	<div class="col-md-1" style="width:5%; padding: 6px 12px; ">
	  <input type="checkbox" id="cb_serviceid">
	  All
	</div>
      	<div class="col-xs-3">
	  <div class=" input-group">
	    <span class="input-group-addon">Service ID:</span>
	    <%= f.text_field :assetid, class: 'form-control' %>
	  </div>
	</div>
      </div>

      <!------------------------------------------------------------------------------------->

      <!-- PRODUCT -------------------------------------------------------------------------->
      <div class="row search-group search-group-col">
	<div class="col-md-1" style="width:5%; padding: 6px 12px; ">
	  <input type="checkbox" id="cb_product">
	  All
	</div>

	<div class="col-xs-8">
	  <div class="input-group" id="product-left">
	    <span class="input-group-addon" style="min-width:100px; max-height:100px">Product:</span>
	    <%#= f.select :product, options_from_collection_for_select(@client.billable_services.collect { |b| b.product }.sort_by { |s| s.name }.uniq{|s| s.name }, :id, lambda { |s| "#{s.name}, #{s.description}"}, @search.product), {:include_blank => true}, class: 'form-control ' %>
	    <%#= f.select :product, options_from_collection_for_select(Product.all, :id, lambda { |s| "#{s.name}, #{s.description}"}, @search.product), {:include_blank => true}, class: 'form-control ' %>

	    <%= f.select :product, options_from_collection_for_select(Product.all, :id, lambda { |s| "#{s.description}"}, @search.product), {:include_blank => true}, class: 'form-control ' %>



	  </div>
	</div>
	<% if false %>
	<div class="col-md-1" style="width:auto">
	  <div class=" input-group">
	    <button type="button" class="btn btn-default" id="btn-product-select" aria-label="Select input type">
	      <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
	    </button>
	  </div>
	</div>


	<div class="col-xs-3" id="product-right">
	  <div class="input-group">
	    <span class="input-group-addon" style="min-width:100px">Product Text:</span>
	    <%= f.text_field :producttext, class: 'form-control' %>
	  </div>
	</div>
	<% end %>
      </div>
      <!------------------------------------------------------------------------------------->


      <!-- REFERENCE NUMBER ----------------------------------------------------------------->
      <div class="row search-group search-group-col">
	<div class="col-md-1" style="width:5%; padding: 6px 12px; ">
	  <input type="checkbox" id="cb_referencenumber">
	  All
	</div>


	<div class="col-xs-3">
	  <div class="input-group">
	    <span class="input-group-addon" style="min-width:100px">Reference <b>#</b>:</span>
	    <%= f.text_field :referencenumber , class: 'form-control ', style: 'min-width:222px; padding: 6px 12px;' %>
	  </div>
	</div>
      </div>
      <!------------------------------------------------------------------------------------->


      <!-- DATE SELECTION   ----------------------------------------------------------------->
      <div class="row search-group search-group-col">
	<div class="col-md-1" style="width:5%; padding: 6px 12px; ">
	  <input type="checkbox" id="cb_all_date">
	  All
	</div>

	<div class="col-xs-3"> <!-- startdate ------>
	  <div class="input-group">
	    <span class="input-group-addon" style="min-width:100px" >Start Date:</span>
	    <%= f.text_field :startdate , autocomplete: 'off', class: 'form-control datepicker' %>
	  </div>
	</div>

	<div class="col-md-1" style="width:auto">
	  <div class=" input-group" style="height:41px; width:41px;">
	    <div style="display: inline-block;  margin-bottom: 0;   font-weight: normal;   text-align: center;  vertical-align: middle; white-space: nowrap;    padding: 6px 12px;    font-size: 14px;    line-height: 1.428571429;">
	      <span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span>
	    </div>
	  </div>
	</div>

	<div class="col-xs-3"> <!-- end date  ------>
	  <div class="input-group">
	    <span class="input-group-addon" style="min-width:100px" >End Date:</span>
	    <%= f.text_field :enddate , autocomplete: 'off', class: 'form-control datepicker' %>
	  </div>
	</div>

      </div>
      <!------------------------------------------------------------------------------------->


      <div class="row" style="padding-top:4px">
	<div class="col-md-1">
	  <%= link_to 'reset', url_for(controller: 'billable_services', action: 'exports'), class: "btn btn-warning" %>
	</div>

	<div class="col-md-1">
	  <%= f.submit "Search", class: 'btn btn-primary' %>
	</div>

	<!-- <div class="col-xs-3" id="supplier-right">
	     <div class=" input-group">
	     <span class="input-group-addon">Limit records:</span>
	     <%#= f.text_field :limitrecords, class: 'form-control' %>
	     <button id="set_limit_max">All
	     </div>
	     </div> -->


      </div>

    <% end %>
    <hr>




<% if @billable_services.length > 0 %>
<div class="row">
  <div style="overflow-x:auto; width:100%; height:1000px">
    <table class="table table-bordered table-striped table-hover table-condensed small flex-table table-hover">

    <caption><b>Charges (<%= @results_length %>/<%= BillableService.all.length %>)</b></caption>
    <thead>
      <tr>
	<% @billable_services[0].to_export_hash.keys.each do |k| %>
	  <th><%= k %></th>
	<% end %>
      </tr>
    </thead>
    <tbody>
      <% @billable_services.each do |bs| %>
	<tr>
	  <% bs.to_export_hash.each do |k,v| %>
	    <td title="<%= k %>"><%= v %></td>
	  <% end %>
	</tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
<% end %>

  </div>
  <!-- /.box-body -->

  <div class="box-footer clearfix">
    <%# pathToNewBillableService = url_for(controller: 'billable_services', action: 'new', client_id: @client.id) %>
    <%#= link_to 'Add Service', pathToNewBillableService, class: "btn btn-xs btn-box btn-default" %>

    <% if @billable_services.length > 0 %>
      <%= link_to "Get CSV for table", change_current_url_type("json"), class: "btn btn-xs btn-box btn-default" %> <%# We are using json because the CSV type isn't working%>
    <% end %>
    <%= paginate @billable_services, params: request.parameters %>
    <%#= request.parameters[:page] %>
    <%#= link_to_next_page @billable_services, ">", params: request.parameters %>
    <%#= link_to_prev_page @billable_services, "<", params: request.parameters %>


  </div>
</div>


<script>
 var selectize_product= null;
 var selectize_supplier = null;
 $(document).ready(function(){
   $("[name='billable_service_search[site]']").selectize({ create: true, sortField: 'text'});
   selectize_product = $("#billable_service_export_search_product").selectize({ create: true, sortField: 'text'});
   selectize_supplier = $("#billable_service_export_search_supplierid").selectize({ create: true, sortField: 'text'});

   if($("#billable_service_export_search_product").val() == ""){
     $("#cb_product").prop('checked',true)
     $(selectize_product)[0].selectize.disable();
   }

   $("#cb_product").change(function(){
     if(this.checked){
       $(selectize_product)[0].selectize.disable();

     } else {
       $(selectize_product)[0].selectize.enable();
     }
   })

   if($("#billable_service_export_search_supplierid").val() == ""){
     $("#cb_supplier").prop('checked',true);
     $(selectize_supplier)[0].selectize.disable();
   }

   $("#cb_supplier").change(function(){
     if(this.checked){
       $(selectize_supplier)[0].selectize.disable();
     } else {
       $(selectize_supplier)[0].selectize.enable();
     }
   })

   if ( $("#billable_service_export_search_assetid").val() == ""){
     $("#cb_serviceid").prop('checked',true);
     $("#billable_service_export_search_assetid").attr('disabled','true');
   }

   $("#cb_serviceid").change(function(){
     if(this.checked){
       $("#billable_service_export_search_assetid").attr('disabled','true');
     } else {
       $("#billable_service_export_search_assetid").removeAttr('disabled','true');
     }

   })

   if($("#billable_service_export_search_referencenumber").val() == ""){
     $("#cb_referencenumber").prop('checked',true);
     $("#billable_service_export_search_referencenumber").attr('disabled','true');
   }

   $("#cb_referencenumber").change(function(){
     if(this.checked){
       $("#billable_service_export_search_referencenumber").attr('disabled','true');
     } else {
       $("#billable_service_export_search_referencenumber").removeAttr('disabled','true');
     }
   })


   if($("#billable_service_export_search_enddate").val() == "" && $("#billable_service_export_search_startdate").val() == ""){
     $("#cb_all_date").prop('checked',true)
     $("#billable_service_export_search_enddate").attr('disabled','true')
     $("#billable_service_export_search_startdate").attr('disabled','true')
   } else {
     $("#cb_all_date").prop('checked',false)
   }

   $("#cb_all_date").change(function(){
     if(this.checked){
       $("#billable_service_export_search_enddate").attr('disabled','true')
       $("#billable_service_export_search_startdate").attr('disabled','true')
     } else {
       $("#billable_service_export_search_enddate").removeAttr('disabled','true')
       $("#billable_service_export_search_startdate").removeAttr('disabled','true')
     }
   })

 })


</script>
