<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Listing Services</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">


    <%= form_for(@search, url: client_billable_services_path, method: :get, :html => {:class => ''}) do |f| %>

      <div class="row">
	<div class="col-md-4">
	  <%= f.collection_check_boxes :recurrences, BillableService.recurrence_types.map { |k,v| [k,v] }, :first, :first do |b| %>
	    <label class="checkbox-inline">
	      <%#= b.object[0] %>
	      <%#= b.label %>
	      <%= b.check_box %>
	      <%= b.object[0] %>
	    </label>
	  <% end %>
	</div>
      </div>  <!-- end row -->

      <div class="row" style="padding-top:4px">
	<div class="col-md-4">
	  <label class="checkbox-inline">
	    <%= f.check_box :activated %>
	    Activated
	  </label>
	  <label class="checkbox-inline">
	    <%= f.check_box :deactivated %>
	    Deactivated
	  </label>
	</div>
      </div>

      <div class="row search-group search-group-col">

	<div class="col-xs-3">
	  <div class=" input-group">
	    <span class="input-group-addon">Service ID:</span>
	    <%= f.text_field :assetid, class: 'form-control' %>
	  </div>
	</div>
	<div class="col-xs-3">
	  <div class="input-group">
	    <span class="input-group-addon">Product Code:</span>
	    <%= f.text_field :servicename, class: 'form-control' %>
	  </div>

	</div>
	<div class="col-xs-3">
	  <div class="input-group">
	    <span class="input-group-addon">Description:</span>
	    <%= f.text_field :servicedescription, class: 'form-control' %>

	  </div>
	</div>
	<div class="col-xs-3">
	  <div class="input-group">
	    <span class="input-group-addon" >Quantity:</span>
	    <%= f.text_field :quanity, class: 'form-control' %>
	  </div>
	</div>

	<% if false %>
	<div class="col-xs-3 " style="padding-left:0px;">
	  <div class="input-group">
	    <span class="input-group-addon">Code:</span>
	    <%= f.text_field :servicecode, class: 'form-control' %>
	  </div>
	</div>
	<% end %>
      </div> <!-- end row -->

      <div class="row search-group search-group-col" style="padding-top:4px">

	<div class="col-xs-3">
	  <div class="input-group">
	    <span class="input-group-addon" >Start Date:</span>
	    <%= f.text_field :startdate , class: 'form-control datepicker' %>
	  </div>
	</div>



	<div class="col-xs-3">
	  <div class="input-group">
	    <span class="input-group-addon" >End Date:</span>
	    <%= f.text_field :enddate , class: 'form-control datepicker' %>
	  </div>
	</div>


	<div class="col-xs-3" style="padding-left:0px;">
	  <!-- <div class="input-group"> -->
	  <div class="row">
	    <div class="col-xs-3" style="padding-right:0px">
	      <!-- <span class="input-group-addon selectize-input" style="padding-left:0px;" >Site:</span> -->
	    <span class="input-group-addon selectize-input" >Site:</span>
	    </div>
	    <!-- <div class="col-xs-9 selectize-custom" style="padding-left:0px"> -->
	    <div class="col-xs-9 selectize-custom" style="padding-left:0px">
	    <%= f.select :site, options_from_collection_for_select(@client.sites.sort_by { |s| s.site_number }, :id, lambda { |s| "#{s.site_number}, #{s.name}"}, @search.site), {:include_blank => true}, class: 'form-control ' %>
	    </div>
	  </div>
	</div>

      </div>  <!-- end row -->


      <script>
       $(document).ready(function(){
	 $("[name='billable_service_search[site]']").selectize({ create: true, sortField: 'text'});
       })
      </script>

      <div class="row" style="padding-top:4px">
	<div class="col-md-1">
	  <%= link_to 'reset', url_for(controller: 'billable_services', action: 'index', client_id: @client.id), class: "btn btn-warning" %>
	</div>

	<div class="col-md-1">
	  <%= f.submit "Search", class: 'btn btn-primary' %>
	</div>
      </div>

    <% end %>
    <hr>

    <% if @billable_services.length > 0 %>
      <table class="table table-bordered table-striped table-hover">
	<caption><b>Charges (<%= @results_length %>)</b></caption>
	<thead>
	  <tr>
	    <th class="col-md-1">Service Status</th>
	    <th class="col-md-1"></th>
            <th class="col-md-1">Service ID</th>
	    <th class="col-md-1">Type</th>
            <th class="col-md-2">Description</th>
	    <th class="col-md-1">Site</th>
            <th class="col-md-1">Quantity</th>
            <th class="col-md-1">Unit Price</th>
            <th class="col-md-1">Total</th>
            <th class="col-md-1">Start Date</th>
	    <th class="col-md-1">End Date</th>


            <th class="col-md-1"></th>

	  </tr>
	</thead>
	<tbody>
	  <% @billable_services.each do |service| %>
	    <tr>
	      <td><%= service.activated? ? 'Active' : 'Inactive' %></td>
	      <td>
		<small><table>
		  <tr><td>id:</td><td><%= service.id %></td></tr>
		  <tr><td>pid:</td><td><%= service.charge_pid %></td></tr>
		</table></small>
	      </td>
	      <td><% if service.asset %><a href="/services/<%= service.asset.id %>"><%= service.asset.service_id %></a><% end %></td>
	      <td><%= service.recurrence_type %></td>

	      <td><b><%= service.name %></b><br>
		<span title="product id:<%= service.product_id %>"><%= service.description %></span>
	      </td>

	      <td>
		<% if service.site %>
		  <a href="/sites/<%= service.site.id %>">
		    <%= service.site.site_number %><br>
		    <%= service.site.name %>
		  </a>
		<% end %>
	      </td>
              <td><span class="pull-right"><%= service.qty %></span></td>
              <td><span class="pull-right"><%= money(service.unit_price) %></span></td>
              <td><span class="pull-right"><%= money(service.total) %></span></td>

              <td><%= date service.billing_period_started_at %></td>
              <td><%= date service.billing_period_ended_at %></td>

	      <td><%= link_to icon("edit"), edit_client_billable_service_path(@client,service), class: 'btn btn-warning btn-box btn-xs' %></td>





	    </tr>
	  <% end %>
	</tbody>
      </table>
    <% end %>
    <% if false %>
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <!-- <th class="col-md-1">Validation</th> -->
	<!-- <th>billable_service id</th> -->
	<th class="col-md-1"></th>
        <th class="col-md-2">Asset</th>
        <th class="col-md-1">Start Date</th>
        <th class="col-md-2">Name</th>
        <th class="col-md-4">Description</th>
        <th class="col-md-1"><span class="pull-right">Quantity</span></th>
        <th class="col-md-1"><span class="pull-right">Unit Price</span></th>
        <th class="col-md-1"><span class="pull-right">Service Price</span></th>
        <th class="col-md-1"><span class="pull-right">Total</span></th>
        <th class="col-md-1"></th>
        <th class="col-md-1"></th>
      </tr>
    </thead>
      <tbody>
        <% @billable_services.each do |service| %>
	  <tr>
	    <td><%= service.recurrence_type %></td>
          <td><% if service.asset %><%= service.asset.name %><% end %><%#= service.service_id %></td>
          <td><%= date service.billing_period_started_at %></td>
          <td><%= service.name %></td>
          <td><span title="<%= service.product_id %>"><%= service.description %></span></td>
          <td><span class="pull-right"><%= service.qty %></span></td>
          <td><span class="pull-right"><%= money(service.unit_price) %></span></td>
          <% servicePrice = Product.find_by(id: service.product_id).try(:unitprice) %>
          <td><span class="pull-right"><%= servicePrice.nil? ? 'n/d' : money(servicePrice) %></span></td>
          <td><span class="pull-right"><%= money(service.total) %></span></td>

          <!-- <td>
            <%# link_to icon("edit"), edit_billable_service_path(service), class: 'btn btn-warning btn-box btn-xs' %>
            <%# link_to icon("remove"), remove_billable_service_path(@client, @client.btn, @selected_invoice, service), class: 'btn btn-danger btn-box btn-xs', data: { confirm: "Terminate billable service.\n#{service.name} will be removed from this invoice.\nAre you sure?", method: :delete } %>
          </td> -->
          <% if service.activated? %>
            <td><%= link_to icon('minus'), client_billable_service_deactivate_path(@client, service), method: :patch, class: 'btn btn-danger btn-xs btn-box'%></td>
          <% else %>
            <td><%= link_to icon('plus'), client_billable_service_activate_path(@client, service), method: :patch, class: 'btn btn-success btn-xs btn-box'%></td>
          <% end %>

	  <td><%= link_to icon("edit"), edit_client_billable_service_path(@client,service), class: 'btn btn-warning btn-box btn-xs' %></td>


        </tr>
        <% end %>
      </tbody>
  </table>
  <% end %>
  </div>
  <!-- /.box-body -->

  <div class="box-footer clearfix">
    <%#= link_to 'New Service', new_service_path %>
    <% pathToNewBillableService = url_for(controller: 'billable_services', action: 'new', client_id: @client.id) %>
    <%= link_to 'Add Service', pathToNewBillableService, class: "btn btn-xs btn-box btn-default" %>




    <%= paginate @billable_services, params: request.parameters %>
  </div>
</div>
<!-- /.box -->
