<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Export Charges</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <style>
    </style>

    <%#= form_for(@search, url: exports_client_billable_services_path, method: :get, :html => {:class => ''}) do |f| %>
    <%= form_for(@search, url: onetime_billable_services_path, method: :get, :html => {:class => ''}) do |f| %>

      <!-- DATE SELECTION   ----------------------------------------------------------------->
      <div class="row search-group search-group-col">
	<div class="col-xs-3"> <!-- startdate ------>
	  <div class="input-group">
	    <span class="input-group-addon" style="min-width:100px" >Start Date:</span>
	    <%= f.text_field :onetime_startdate , autocomplete: 'off', class: 'form-control datepicker' %>
	  </div>
	</div>

	<div class="col-md-1" style="width:auto">
	  <div class=" input-group" style="height:41px; width:41px;">
	    <div style="display: inline-block;  margin-bottom: 0;   font-weight: normal;   text-align: center;  vertical-align: middle; white-space: nowrap;    padding: 6px 12px;    font-size: 14px;    line-height: 1.428571429;">
	      <span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span>
	    </div>
	  </div>
	</div>

	<div class="col-xs-3"> <!-- end date  ------>
	  <div class="input-group">
	    <span class="input-group-addon" style="min-width:100px" >End Date:</span>
	    <%= f.text_field :onetime_enddate , autocomplete: 'off', class: 'form-control datepicker' %>
	  </div>
	</div>

	<%= f.hidden_field :onetime, value: "true" %>

      </div>
      <!------------------------------------------------------------------------------------->


      <div class="row" style="padding-top:4px">
	<div class="col-md-1">
	  <%= link_to 'reset', url_for(controller: 'billable_services', action: 'exports'), class: "btn btn-warning" %>
	</div>

	<div class="col-md-1">
	  <%= f.submit "Search", class: 'btn btn-primary' %>
	</div>

	<!-- <div class="col-xs-3" id="supplier-right">
	     <div class=" input-group">
	     <span class="input-group-addon">Limit records:</span>
	     <%#= f.text_field :limitrecords, class: 'form-control' %>
	     <button id="set_limit_max">All
	     </div>
	     </div> -->


      </div>

    <% end %>
    <hr>




<% if @billable_services.length > 0 %>
<div class="row">

  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      <li class="active">
	<a href="#CSV_PREVIEW" data-toggle="tab">CSV Preview</a>
      </li>
      <li>
	<a href="#FULL_TABLE" data-toggle="tab">Full Table</a>
      </li>
    </ul>

    <div class="tab-content">

      <div class="tab-pane active" id="CSV_PREVIEW" style="overflow-x:auto; width:100%; height:1000px">
	<table class="table table-bordered table-striped table-hover table-condensed small flex-table table-hover">

	  <caption><b>Charges (<%= @results_length %>/<%= BillableService.all.length %>)</b></caption>
	  <thead>
	    <tr>
	      <% @billable_services[0].to_onetime_export_hash.keys.each do |k| %>
		<th><%= k %></th>
	      <% end %>
	    </tr>
	  </thead>
	  <tbody>
	    <% @billable_services.each do |bs| %>
	      <tr>
		<% bs.to_onetime_export_hash.each do |k,v| %>
		  <td title="<%= k %>"><%= v %></td>
		<% end %>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
      </div>

      <div class="tab-pane" id="FULL_TABLE" style="overflow-x:auto; width:100%; height:1000px">
	<!-- <div style="overflow-x:auto; width:100%; height:1000px"> -->
	<table class="table table-bordered table-striped table-hover table-condensed small flex-table table-hover">

	  <caption><b>Charges (<%= @results_length %>/<%= BillableService.all.length %>)</b></caption>
	  <thead>
	    <tr>
	      <% @billable_services[0].to_export_hash.keys.each do |k| %>
		<th><%= k %></th>
	      <% end %>
	    </tr>
	  </thead>
	  <tbody>
	    <% @billable_services.each do |bs| %>
	      <tr>
		<% bs.to_export_hash.each do |k,v| %>
		  <td title="<%= k %>"><%= v %></td>
		<% end %>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
      </div>
    </div>
  </div>
</div>
<% end %>

  </div>
  <!-- /.box-body -->

  <div class="box-footer clearfix">
    <%# pathToNewBillableService = url_for(controller: 'billable_services', action: 'new', client_id: @client.id) %>
    <%#= link_to 'Add Service', pathToNewBillableService, class: "btn btn-xs btn-box btn-default" %>

    <% if @billable_services.length > 0 %>
      <%= link_to "Get CSV for table", change_current_url_type("json"), class: "btn btn-xs btn-box btn-default" %> <%# We are using json because the CSV type isn't working%>
    <% end %>
    <%= paginate @billable_services, params: request.parameters %>
    <%#= request.parameters[:page] %>
    <%#= link_to_next_page @billable_services, ">", params: request.parameters %>
    <%#= link_to_prev_page @billable_services, "<", params: request.parameters %>


  </div>
</div>


<script>
 var selectize_product= null;
 var selectize_supplier = null;
 $(document).ready(function(){
   $("[name='billable_service_search[site]']").selectize({ create: true, sortField: 'text'});
   selectize_product = $("#billable_service_export_search_product").selectize({ create: true, sortField: 'text'});
   selectize_supplier = $("#billable_service_export_search_supplierid").selectize({ create: true, sortField: 'text'});

   if($("#billable_service_export_search_product").val() == ""){
     $("#cb_product").prop('checked',true)
     $(selectize_product)[0].selectize.disable();
   }

   $("#cb_product").change(function(){
     if(this.checked){
       $(selectize_product)[0].selectize.disable();

     } else {
       $(selectize_product)[0].selectize.enable();
     }
   })

   if($("#billable_service_export_search_supplierid").val() == ""){
     $("#cb_supplier").prop('checked',true);
     $(selectize_supplier)[0].selectize.disable();
   }

   $("#cb_supplier").change(function(){
     if(this.checked){
       $(selectize_supplier)[0].selectize.disable();
     } else {
       $(selectize_supplier)[0].selectize.enable();
     }
   })


   if($("#billable_service_export_search_referencenumber").val() == ""){
     $("#cb_referencenumber").prop('checked',true);
     $("#billable_service_export_search_referencenumber").attr('disabled','true');
   }

   $("#cb_referencenumber").change(function(){
     if(this.checked){
       $("#billable_service_export_search_referencenumber").attr('disabled','true');
     } else {
       $("#billable_service_export_search_referencenumber").removeAttr('disabled','true');
     }
   })


   if($("#billable_service_export_search_enddate").val() == "" && $("#billable_service_export_search_startdate").val() == ""){
     $("#cb_all_date").prop('checked',true)
     $("#billable_service_export_search_enddate").attr('disabled','true')
     $("#billable_service_export_search_startdate").attr('disabled','true')
   } else {
     $("#cb_all_date").prop('checked',false)
   }

   $("#cb_all_date").change(function(){
     if(this.checked){
       $("#billable_service_export_search_enddate").attr('disabled','true')
       $("#billable_service_export_search_startdate").attr('disabled','true')
     } else {
       $("#billable_service_export_search_enddate").removeAttr('disabled','true')
       $("#billable_service_export_search_startdate").removeAttr('disabled','true')
     }
   })

 })


</script>
