<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Editing service</h3>
  </div>
  <!-- /.box-header -->

  <div class="box-body">
    <p>
      <strong>Description:</strong>
      <%= @billable_service.description %>
    </p>

    <p>
      <strong>Name:</strong>
      <%= @billable_service.name %>
    </p>

    <p>
      <strong>Unitprice:</strong>
      <%= @billable_service.unitprice %>
    </p>

    <!-- <p>
	 <strong>Renewable:</strong>
	 <%#= @billable_service.renewable %>
	 </p> -->

    <!-- <p>
	 <strong>Available:</strong>
	 <%#= @billable_service.available %>
	 </p> -->
  </div>
  <!-- /.box-body -->

  <div class="box-footer clearfix">
    <%= link_to 'Edit', edit_billable_service_path(@billable_service) %> |
    <%= link_to 'Back', redirect_back_path || billable_services_path %>
  </div>
</div>
<!-- /.box -->
