<%= render layout: 'shared/box', locals: { title: "#{icon 'phone-square'} BTN".html_safe } do %>

  <table class="table">
    <tr>
      <th class="col-md-3">Billing Telephone Number :</th>
      <td class="col-md-9"><span class="form-control"><%= @btn.billingtelephonenumber %></span></td>
    </tr>

    <tr>
      <th>Start Date :</th>
      <td><span class="form-control"><%= @btn.activated_at %></span></td>
    </tr>

    <tr>
      <th>End Date :</th>
      <td><span class="form-control"><%= @btn.deactivated_at %></span></td>
    </tr>
  </table>

<% end %>
