<%= render layout: 'shared/box', locals: { title: "#{icon 'phone-square'} BTNs".html_safe, footer: paginate(btns) } do %>
    <%= render 'searches/form' %>

    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th>Billing Telephone Number</th>
          <th>Services</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @btns.each do |btn| %>
          <tr id="btn-row-<%= btn.id %>">
            <td class="btn-row-btn"><%= btn.billingtelephonenumber %></td>
            <td class="btn-row-phn">
              <% if btn.phones.any? %>
              <ul>
              <% btn.phones.limit(4).each do |phone| %>
              <li><%= phone.service_id %></li>
              <% end %>
              <% if btn.phones.count > 4 %>
              <li>(<%= btn.phones.count - 4 %> others)</li>
              <% end -%>
              </ul>
              <% end %>
            </td>
            <td class="btn-row-sdt"><%= btn.activated_at %></td>
            <td class="btn-row-edt"><%= btn.deactivated_at %></td>
            <td><%= link_to 'Show', btn %></td>
            <td><%= link_to 'Edit', edit_btn_path(btn) %></td>
            <td><%= link_to 'Destroy', btn, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

<% end %>
