<% content_for :title do %>
  BTNs
<% end -%>

<%= form_for(@btn) do |f| %>

  <div class="row">
    <div class="col-md-4">

      <%= render layout: 'shared/box', locals: { title: "#{icon 'phone-square'} Edit BTN".html_safe } do %>

      <table class="table">
        <tr>
          <th class="col-md-3"><%= f.label :billingtelephonenumber, 'Billing Telephone Number' %></th>
          <td class="col-md-9"><%= f.text_field :billingtelephonenumber, class: 'form-control' %></td>
        </tr>

        <tr>
          <th><%= f.label :activated_at, 'Start Date' %></th>
          <td><%= f.date_field :activated_at, class: 'form-control' %></td>
        </tr>

        <tr>
          <th><%= f.label :deactivated_at, 'End Date' %></th>
          <td><%= f.date_field :deactivated_at, class: 'form-control' %></td>
        </tr>
      </table>

      <% end %>

    </div>
  </div>

<%= f.submit 'Save changes' %>

<% end %>


<%= link_to 'Show', @btn %> |
<%= link_to 'Back', btns_path %>
