<% content_for :title do %>
<% if @btn.client %>
   BTN for <%= link_to  @btn.client.name, client_path(@btn.client) %>
<% else %>
   BTN disconnected
<% end %>
<% end -%>

<div class="row">
  <div class="col-md-4">
    <%= render @btn %>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <%= render 'phones/phones', phones: @btn.phones %>
  </div>
</div>

<%= link_to 'Edit', edit_btn_path(@btn) %> |
<%= link_to 'Back', defined?(redirect_back_path) && !redirect_back_path.nil? ? redirect_back_path : btns_path %>
