<!-- #invoice-page-1 -->
<div id="invoice-page-1" class="page">
  <%= render :partial => 'pageone', object: departmental -%>
</div>
<!-- /#invoice-page-1 -->

<div class="break"></div>

<!-- #invoice-page-3 -->
<div id="invoice-page-3" class="page">
  <!-- #invoice-page-3.container-fluid -->
  <div class="container-fluid">
    <%= render :partial => 'monthlycharges', locals: { :invoice => departmental } -%>
  </div>
  <!-- /#invoice-page-3.container-fluid -->
</div>
<!-- /#invoice-page-3 -->

<div class="break"></div>

<!-- #invoice-page-4 -->
<div id="invoice-page-4" class="page">
  <!-- #invoice-page-4.container-fluid -->
  <div class="container-fluid">
    <%= render :partial => 'callsummary', object: departmental -%>
  </div>
  <!-- /#invoice-page-4.container-fluid -->
</div>
<!-- /#invoice-page-4 -->

<%= render partial: 'calldetail', collection: departmental.call_detail_pages, locals: { :invoice => departmental } %>
