<!-- #invoice-page-1 -->
<div id="invoice-page-1" class="page">
  <%= render 'invoices/shared/pageone' %>
</div>
<!-- /#invoice-page-1 (Summaries) -->
<div class="break"></div>

<% if @invoice.clientOnly? %>
	<!-- #invoice-page-2 (fine print stuff) -->
	<div id="invoice-page-2" class="page">
	  <!-- #invoice-page-2.container-fluid -->
	  <div class="container-fluid">
	    <%= render 'invoices/shared/pagetwo' %>
	  </div>
	  <!-- /#invoice-page-2.container-fluid -->
	</div>
	<!-- /#invoice-page-2 -->
	<div class="break"><!-- Top level break in templates/_monthly.html.erb --></div>
<% end %>

<!-- Monthly charges _monthly -->
<%= render 'invoices/recurring_charges/monthlycharges' %>

<% if @invoice.total_calls_count > 0 %>

<!-- #invoice-page-4 : Call summary -->
<div id="invoice-page-4" class="page">
  <!-- #invoice-page-4.container-fluid -->
  <div class="container-fluid">
    <%= render 'invoices/calls/callsummary' %>
  </div>
  <!-- /#invoice-page-4.container-fluid -->
</div>
<!-- /#invoice-page-4 -->
<div class="break"></div>

<%= render 'invoices/calls/calldetail' %>

<% end %>
