<!-- #invoice-page-1 - of summary invoice -->
<div id="invoice-page-1" class="page">
  <%= render 'pageone' %>
</div>
<!-- /#invoice-page-1 - of summary invoice -->
<div class="break"></div>

<!-- #invoice-page-2 -->
<div id="invoice-page-2" class="page">
  <!-- #invoice-page-2.container-fluid -->
  <div class="container-fluid">
    <%= render 'pagetwo' %>
  </div>
  <!-- /#invoice-page-2.container-fluid -->
</div>
<!-- /#invoice-page-2 -->
<div class="break"></div>

<!-- #invoice-page-3 - department summary-->
<div id="invoice-page-3" class="page">
  <div class="container-fluid">
    <%= render 'department_summary' %>
  </div>
</div>
<!-- /#invoice-page-3 -->
<div class="break"></div>

<!-- #invoice-page-4 -->
<div id="invoice-page-4" class="page">
  <!-- #invoice-page-4.container-fluid -->
  <div class="container-fluid">
    <%= render 'callsummary' %>
  </div>
  <!-- /#invoice-page-4.container-fluid -->
</div>
<!-- /#invoice-page-4 -->
<div class="break"></div>

<%= render 'calldetail' %>

<%= render 'departmental' %>
