<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <label class="col-sm-2 control-label">Name:</label>
    <div class="col-sm-10">
      <%= f.text_field :name,class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Code:</label>
    <div class="col-sm-10">
      <%= f.text_field :code,class: 'form-control' %>
    </div>
  </div>



  <div class="form-group">
    <label class="col-sm-2 control-label">Description:</label>
    <div class="col-sm-10">
      <%= f.text_field :description, class: 'form-control' %>
    </div>
  </div>


  <div class="form-group">
    <label class="col-sm-2 control-label">Amount:</label>
    <div class="col-sm-10">
      <%= f.text_field :amount, class: 'form-control' %>
    </div>
  </div>


  <div class="form-group">
    <label class="col-sm-2 control-label">Purchase Amount:</label>
    <div class="col-sm-10">
      <%= f.text_field :purchase_amount, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Product Category:</label>
    <div class="col-sm-10">
      <%= f.select :product_category_id, options_from_collection_for_select(ProductCategory.all, :id, :product_category_label, @product.product_category_id), {}, class: ' form-control' %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Product Class:</label>
    <div class="col-sm-10">
      <%= f.select :product_class_id, options_from_collection_for_select(ProductClass.all, :id, :product_class_label, @product.product_class_id), {}, class: ' form-control' %>
    </div>
  </div>

  <div type="form-group">
    <label class="col-sm-2 control-label">Product Type:</label>
    <div class="col-sm-10">
      <%= f.select :product_type_id, options_from_collection_for_select(ProductType.all, :id, :name, @product.product_type_id), {}, class: ' form-control' %>
    </div>
  </div>


  <div type="form-group">
    <label class="col-sm-2 control-label">GL Account:</label>
    <div class="col-sm-10">
      <%= f.select :gl_account_id, options_from_collection_for_select(GlAccount.all, :id, :gl_account_label, @product.gl_account_id), {}, class: ' form-control' %>
    </div>
  </div>


  <div type="form-group">
    <label class="col-sm-2 control-label">Line of Business:</label>
    <div class="col-sm-10">
      <%= f.select :line_of_business_id, options_from_collection_for_select(LineOfBusiness.all, :id, :code, @product.line_of_business_id), {}, class: ' form-control' %>
    </div>
  </div>



  <div class="actions">
    <%#= f.submit %>
    <%= f.submit nil, class: 'btn btn-primary btn-box' %>
  </div>
<% end %>

<% if @dependent_bs %>
<hr>
<button id="show_dependent_table" class="btn btn-info btn-sm">show</button> <b> Effected Charges: <%= @dependent_bs.length %></b>
<div id="dependent_charges" style="display:none">
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
	<th>ID</th>
	<th>Client Name</th>
	<th>Site Name</th>
	<th>Site Number</th>
	<th></th>
      </tr>
    </thead>
    <tbody>
      <% @dependent_bs.each do |bs| %>
	<tr>
	  <td><%= bs.id %></td>
	  <td><%= bs.client.name %></td>
	  <td><%= bs.site.name %></td>
	  <td><%= bs.site.site_number %></td>
	  <td><%= link_to icon("edit"), edit_client_billable_service_path(bs.client.id,bs), class: 'btn btn-warning btn-box btn-xs' %></td>
	</tr>
      <% end %>
    </tbody>
  </table>
</div>
<script>$("#show_dependent_table").click(function(){
   if($("#dependent_charges").is(":visible")){ $("#dependent_charges").hide(); $("#show_dependent_table").text("show"); }
   else { $("#dependent_charges").show(); $("#show_dependent_table").text("hide"); }
  })
</script>
<% end %>
