<%= render layout: 'shared/box', locals: { title: "#{icon 'service'} Services".html_safe, footer: nil } do %>
  <%= render 'searches/form' %>

  <!-- NOTE: It's empty because I can't realistically get this feature in for tomorrow -->
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Unitprice</th>
        <th>Renewable</th>
        <th>Available</th>
      </tr>
    </thead>

    <tbody>
      <tr>
      </tr>
    </tbody>
  </table>
<% end %>
