<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Listing Products</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <%#= render 'searches/form' %>

    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
	  <!-- <th>ID</th> -->
          <th>Name</th>
          <th>Description</th>
	  <th>Line of Business</th>

          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @products.each do |product| %>
          <tr>
	    <!-- <td><%#= product.id %></td> -->
            <td><%= product.name %></td>
            <td><%= product.description %></td>
	    <td><% if product.line_of_business %><%= product.line_of_business.code %><% end %></td>
	    <!-- <td><%#= product.code %></td> -->
            <td>
	      <%#= link_to 'Show', product %>
              <%= link_to icon("edit"), edit_product_path(product), class: 'btn btn-warning btn-box btn-xs' %>
              <%#= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
	    </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->

  <div class="box-footer clearfix">
    <%= link_to 'New Product', new_product_path, class: "btn btn-xs btn-box btn-default" %>
    <%#= paginate @products %>
  </div>
</div>
<!-- /.box -->
