<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Editing product</h3>
  </div>
  <!-- /.box-header -->

  <div class="box-body">
    <p>
      <strong>Description:</strong>
      <%= @product.description %>
    </p>

    <p>
      <strong>Name:</strong>
      <%= @product.name %>
    </p>

    <p>
      <strong>Unitprice:</strong>
      <%#= @product.unitprice %>
    </p>

    <p>
      <strong>Renewable:</strong>
      <%= @product.renewable %>
    </p>

    <p>
      <strong>Available:</strong>
      <%#= @product.available %>
    </p>
  </div>
  <!-- /.box-body -->

  <div class="box-footer clearfix">
    <%#= link_to 'Edit', edit_product_path(@product) %> |
    <%= link_to 'Back', products_path %>
  </div>
</div>
<!-- /.box -->
