<table class="table table-bordered table-striped table-hover" id="buildings">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>Province</th>
      <th>Country</th>
      <th>Postal Code</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% buildings.each do |building| %>
      <tr id="bldg-<%= building.id %>">
        <td class="bldg-name"><%= building.name %></td>
        <td class="bldg-addr"><%= building.address %></td>
        <td class="bldg-city"><%= building.city %></td>
        <td class="bldg-prov"><%= building.province %></td>
        <td class="bldg-cnt"><%= building.country %></td>
        <td class="bldg-post"><%= building.postalcode %></td>
        <td>
          <div class="text-right">
            <%= link_to icon("edit"), edit_building_path(building), class: 'btn btn-warning btn-box btn-xs' %>
            <%= link_to icon("remove"), building_path(building), class: 'btn btn-danger btn-box btn-xs', data: { confirm: "Deleting building.\nAre you sure?", method: :delete } %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
