<%= form_for(@building, html: {class: 'form-horizontal'}) do |f| %>
  <% if @building.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@building.errors.count, "error") %> prohibited this building from being saved:</h2>

      <ul>
      <% @building.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Address</h3>
    </div>
    <!-- /.box-header -->

    <div class="box-body">
      <div class="row">
        <%= f.label :name, class: 'control-label col-md-1' %>
        <div class="form-group col-md-10">
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="col-md-1"></div>
      </div>

      <div class="row">
        <label class="control-label col-md-1">Address</label>
        <div class="form-group col-md-10">
          <%= f.text_field :address1, class: 'form-control' %>
          <%= f.text_field :address2, class: 'form-control' %>
        </div>
        <div class="col-md-1"></div>
      </div>

      <div class="row">
        <%= f.label :city, class: 'control-label col-md-1' %>
        <div class="form-group col-md-3">
          <%= f.text_field :city, class: 'form-control' %>
        </div>

        <%= f.label :province, class: 'control-label col-md-1' %>
        <div class="form-group col-md-3">
          <%= f.text_field :province, class: 'form-control' %>
        </div>

        <%= f.label :country, class: 'control-label col-md-1' %>
        <div class="form-group col-md-3">
          <%= f.text_field :country, class: 'form-control' %>
        </div>

        <!-- <div class="col-md-1"></div> -->
      </div>

      <div class="row">
        <%= f.label :postalcode, class: 'control-label col-md-1' %>
        <div class="form-group col-md-10">
          <%= f.text_field :postalcode, class: 'form-control' %>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
    <!-- /.box-body -->

    <div class="box-footer clearfix"></div>
  </div>
  <!-- /.box -->

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
