<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Editing Building</h3>
  </div>
  <!-- /.box-header -->

  <div class="box-body">
    <%= render 'form' %>
  </div>
  <!-- /.box-body -->

  <div class="box-footer clearfix">
    <%= link_to 'Show', @building %> |
    <%= link_to 'Back', buildings_path %>
  </div>
</div>
<!-- /.box -->
