<%= render layout: 'shared/box', locals: { title: "#{icon(icon_for 'building')} Buildings".html_safe } do %>
  <%= render 'searches/form' %>

  <%= render 'buildings', buildings: @buildings %>

  <% content_for :footer, flush: true do %>
    <%= link_to 'Add Building', new_building_path %>
    <%= paginate @buildings %>
  <% end %>
<% end %>
