<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">View Building</h3>
  </div>
  <!-- /.box-header -->

  <div class="box-body">
    <p>
      <strong>Name:</strong>
      <%= @building.name %>
    </p>

    <p>
      <strong>Address1:</strong>
      <%= @building.address1 %>
    </p>

    <p>
      <strong>Address2:</strong>
      <%= @building.address2 %>
    </p>

    <p>
      <strong>City:</strong>
      <%= @building.city %>
    </p>

    <p>
      <strong>Province:</strong>
      <%= @building.province %>
    </p>

    <p>
      <strong>Country:</strong>
      <%= @building.country %>
    </p>

    <p>
      <strong>Postalcode:</strong>
      <%= @building.postalcode %>
    </p>
  </div>
  <!-- /.box-body -->

  <div class="box-footer clearfix">
    <%= link_to 'Edit', edit_building_path(@building) %> |
    <%= link_to 'Back', buildings_path %>
  </div>
</div>
<!-- /.box -->
