<%= render layout: 'shared/box', locals: { title: "#{icon 'calculator'} Billing".html_safe, footer: '' } do %>
  <% if @billing.nil? %>
    No billing data for support client.
  <% else %>
  <table id="client-status-table" class="table table-condensed">
    <tbody>
      <tr class="form-group">
        <th class="col-md-5">Balance&nbsp;:</th>
        <td class="col-md-7"><span class="form-control"><%= money @billing.balance %></span></td>
      </tr>

      <% if false %>
      <tr class="form-group">
        <th>Start Date&nbsp;:</th>
        <td><span class="form-control"><%= date @billing.activated_at %></span></td>
      </tr>

      <tr class="form-group">
        <th>Billing Start Date&nbsp;:</th>
        <td><span class="form-control"><%= date @billing.billing_start_date %></span></td>
      </tr>
      <% end %>
      <tr class="form-group">
        <th>Last Usage Date&nbsp;:</th>
        <td><span class="form-control"><%= date @billing.last_usage_date %></span></td>
      </tr>

      <tr class="form-group">
        <th>Last Statement Date&nbsp;:</th>
        <td><span class="form-control"><%= date @billing.last_statement_date %></span></td>
      </tr>

      <tr class="form-group">
        <th>Last Statement Amount&nbsp;:</th>
        <td><span class="form-control"><%= money @billing.last_statement_amount %></span></td>
      </tr>

      <tr class="form-group">
        <th>Last Payment Amount&nbsp;:</th>
        <td><span class="form-control"><%= money @billing.last_payment_amount %></span></td>
      </tr>

      <tr class="form-group">
        <th>Last Payment Date&nbsp;:</th>
        <td><span class="form-control"><%= date @billing.last_payment_date %></span></td>
      </tr>



      <% if @billing.deactivated_at %>
        <tr class="form-group">
          <th>Termination Date&nbsp;:</th>
          <td><span class="form-control"><%= date @billing.deactivated_at %></span></td>
        </tr>
      <% end %>

    </tbody>

    <tfoot>
      <!-- <tr class="form-group">
           <th></th>
           <td>
           <%#= link_to "#{icon 'edit'} Edit".html_safe, edit_client_billing_path(@client), class: 'btn btn-box btn-warning btn-sm pull-right' %>
           </td>
	   </tr> -->
    </tfoot>
  </table>
  <% end %>
<% end %>
