<%= form_for @billing, url: client_billing_path(@client) do |f| %>
  <table id="client-billing-table" class="table table-condensed">
    <tbody>
      <tr class="form-group">
        <th class="col-md-5"><%= f.label :balance %>&nbsp;:</th>
        <td class="col-md-7"><%= f.text_field :balance, class: 'form-control', disabled: true %></td>
      </tr>

      <tr class="form-group">
        <th><%= f.label :activated_at, 'Start Date' %>&nbsp;:</th>
        <td><%= f.text_field :activated_at, class: 'form-control datepicker' %></td>
      </tr>

      <tr class="form-group">
        <th><%= f.label :billing_start_date, 'Billing Start Date' %>&nbsp;:</th>
        <td><%= f.text_field :billing_start_date, class: 'form-control datepicker' %></td>
      </tr>

      <tr class="form-group">
        <th><%= f.label :last_usage_date, 'Last Usage Date' %>&nbsp;:</th>
        <td><%= f.text_field :last_usage_date, class: 'form-control datepicker' %></td>
      </tr>

      <tr class="form-group">
        <th><%= f.label :last_statement_date, 'Last Statement Date' %>&nbsp;:</th>
        <td><%= f.text_field :last_statement_date, class: 'form-control datepicker' %></td>
      </tr>

      <tr class="form-group">
        <th><%= f.label :last_statement_amount, 'Last Statement Amount' %>&nbsp;:</th>
        <td><%= f.text_field :last_statement_amount, class: 'form-control' %></td>
      </tr>

<!--      <tr class="form-group">
        <th><%#= f.label :coverage, 'Coverage' %>&nbsp;:</th>
        <td><%#= f.select @client.coverage_id, Coverage, :id, :name_french, class: 'form-control' %></td>
      </tr>
-->

      <!-- <tr class="form-group">
        <th><%# f.label :statement_type, 'Statement Type' %>&nbsp;:</th>
        <td><%# f.select :statement_type, ['Customer Detail - French', 'Customer detail Invoice - Coop', 'Customer detail Invoice - Commercant', 'Department - Project Code - French', 'Department Level - Project code - French', 'Customer Detail - English', 'Department Level - Project code - English', 'Customer - Project Code - French', 'Department - Project Code - English', 'Customer - Project Code - English'], {}, class: 'selectpicker form-control' %></td>
      </tr> -->

      <!-- <tr class="form-group">
        <th><%# f.label :payment_method %>&nbsp;:</th>
        <td><%# f.select :payment_method, payment_methods_options_for(@billing), {selected: @billing.payment_method}, class: 'selectpicker form-control' %></td>
      </tr> -->

      <!-- <tr class="form-group">
        <th>Calling Rate Plans&nbsp;:</th>
        <td>
          <%# f.select :local_rate_plan_id, options_from_collection_for_select(LocalRatePlan.all, :id, :name, @billing.local_rate_plan_id), {}, class: 'selectpicker form-control' %>

          <%# f.select :national_rate_plan_id, options_from_collection_for_select(NationalRatePlan.all, :id, :name, @billing.national_rate_plan_id), {}, class: 'selectpicker form-control' %>

          <%# f.select :world_rate_plan_id, options_from_collection_for_select(InternationalRatePlan.all, :id, :name, @billing.world_rate_plan_id), {}, class: 'selectpicker form-control' %>
        </td>
      </tr> -->



    </tbody>

    <tfoot>
      <tr class="form-group">
        <th></th>
        <td>
          <%= link_to 'Back', redirect_back_path || clients_path, class: 'btn btn-default btn-box pull-right' %>
          <%= f.submit nil, class: 'btn btn-primary btn-box' %>
        </td>
      </tr>
    </tfoot>
  </table>
<% end %>
