<div class="login-box">
  <div class="login-logo">
    <a href="http://ip4b.ca" class="logo"></a>
  </div>
  <!-- /.login-logo -->

  <div class="login-box-body">
    <p class="login-box-msg">
      <%=t 'devise.sessions.sign_in_to_start' %>
    </p>

    <% if notice %>
      <p class="notice text-warning login-box-msg"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class="alert text-danger login-box-msg"><%= alert %></p>
    <% end %>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group has-feedback">
        <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: t('devise.sessions.email') %>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        <%= errors_for resource, :email %>
      </div>

      <div class="form-group has-feedback">
        <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: t('devise.sessions.password') %>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <%= errors_for resource, :password %>
      </div>

      <div class="row">

        <% if devise_mapping.rememberable? -%>
          <div class="col-xs-8">
            <div class="checkbox">
              <%= f.label :remember_me do %>
                <%= f.check_box :remember_me %> <%=t 'devise.sessions.remember_me' %>
              <% end %>
            </div>
          </div>
          <!-- /.col -->
        <% end -%>

        <div class="col-xs-4">
          <%= f.submit t('devise.sessions.sign_in'), class: 'btn btn-primary btn-block btn-flat' %>
        </div>
        <!-- /.col -->

        <div class="col-xs-12">
          <%= render "devise/shared/links" %>
        </div>

      </div>
      <!-- /.row -->

    <% end %>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
