<% if @client %>
  <%= form_for([@client, @contact]) do |f| %>
    <%= render 'contacts/form/fields', f: f %>
  <% end %>
<% else %>
  <%= form_for(@contact) do |f| %>
    <%= render 'contacts/form/fields', f: f %>
  <% end %>
<% end %>
