<h1>Editing Contact</h1>

<%= render 'form' %>

<% if @client %>
  <%= link_to 'Show', client_contact_path(@client, @contact) %> |
  <%= link_to 'Back', client_contacts_path(@client) %>
<% else %>
  <%= link_to 'Show', @contact %> |
  <%= link_to 'Back', contacts_path %>
<% end %>
