<% content_for :title do %>
  Listing Contacts
<% end -%>

<div class="row">
  <div class="col-md-12">
    <%= render layout: 'shared/box', locals: { title: "#{icon(icon_for 'contact')} Phone Contacts".html_safe } do %>
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th class="col-md-3">Phone Type</th>
            <th class="col-md-3">Phone Number</th>
            <th class="col-md-4">Name</th>
            <th class="col-md-3"></th>
          </tr>
        </thead>

        <tbody>
          <% @phone_contacts.each do |contact| %>
            <tr>
              <td><%= contact.phone_type %></td>
              <td><%= contact.phone_number %></td>
              <td><%= contact.name %></td>
              <td>
		<%= link_to edit_client_phone_contact_path(@client,contact), class: "btn btn-warning btn-sm", title: "Edit" do %>
		  <i class="fa fa-pencil-square-o"></i> Edit
		  <% end %>
		<%= link_to client_phone_contact_path(@client,contact), class: "btn btn-danger btn-sm", title: "Delete", method: :delete, data: { confirm: 'Are you sure?' } do %>
		  <i class="fa fa-trash-o"></i> Delete
		<% end %>
	      </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div style="margin-left:10px; margin-top:16px;">
	<%= link_to new_client_phone_contact_path(@client), class: "btn btn-success btn-sm" do %>
	  <i class="fa fa-plus fa-lg"></i> New
	<% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= render layout: 'shared/box', locals: { title: "#{icon(icon_for 'contact')} Email Contacts".html_safe } do %>
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th class="col-md-3">Email</th>
            <th class="col-md-3">Name</th>
            <th class="col-md-3">Email Type</th>
            <th class="col-md-1">Subscribed</th>
            <th class="col-md-3"></th>
          </tr>
        </thead>

        <tbody>
          <% @email_contacts.each do |contact| %>
            <tr>
              <td><%= contact.email %></td>
              <td><%= contact.name %></td>
              <td><%= contact.email_type %></td>
	      <td><% if contact.subscribed %><i class="fa fa-lg fa-check-circle-o text-success"></i><% else %><i class="fa fa-lg fa-times-circle-o text-danger"></i><% end %> </td>
              <td>
		<%= link_to edit_client_email_contact_path(@client,contact), class: "btn btn-warning btn-sm", title: "Edit" do %>
		  <i class="fa fa-pencil-square-o"></i> Edit
		<% end %>
		<%= link_to client_email_contact_path(@client,contact), class: "btn btn-danger btn-sm", title: "Delete",  method: :delete, data: { confirm: 'Are you sure?' } do %>
		  <i class="fa fa-trash-o"></i> Delete
		<% end %>
	      </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div style="margin-left:10px; margin-top:16px;">
	<%= link_to new_client_email_contact_path(@client), class: "btn btn-success btn-sm" do %>
	  	<i class="fa fa-plus fa-lg"></i> New
	<% end %>
      </div>

      <%#= form_for(:EmailContact, :html => {:class => 'form-inline'}) do |f| %>
	<%#= render 'contacts/EmailContact', f: f %>
      <%# end %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= render layout: 'shared/box', locals: { title: "#{icon(icon_for 'contact')} Technical Contacts".html_safe } do %>
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th class="col-md-3">Name</th>
            <th class="col-md-3">Department</th>
            <th class="col-md-4">Email</th>
            <th class="col-md-3"></th>
          </tr>
        </thead>

        <tbody>
          <% @technical_contacts.each do |contact| %>
            <tr>
              <td><%= contact.name %></td>
              <td><%= contact.department %></td>
              <td><%= contact.email %></td>
              <td>
		<%= link_to edit_client_technical_contact_path(@client,contact), class: "btn btn-warning btn-sm", title: "Edit" do %>
		  <i class="fa fa-edit"></i> Edit
		<% end %>
		<%= link_to client_technical_contact_path(@client,contact), class: "btn btn-danger btn-sm ", title: "Delete", method: :delete, data: { confirm: 'Are you sure?' } do %>
		  <i class="fa fa-trash-o"></i> Delete
		<% end %>
	      </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div style="margin-left:10px; margin-top:16px;">
      <%= link_to new_client_technical_contact_path(@client), class: "btn btn-success btn-sm" do %>
	<i class="fa fa-plus fa-lg"></i> New
      <% end %>
      </div>
      <%#= form_for [Client, @TechnicalContact ] do |f| %>
      <%#= form_for (:technical_contact) do |f| %>

	<%#= f.text_field :email, class: 'form-control' %>
	<%#= f.text_field :name, class: 'form-control' %>
	<%#= f.text_field :department, class: 'form-control' %>
	<%#= f.submit %>
      <%# end %>
      <%#= link_to 'Destroy', destroy_client_technical_contact(@client) %>

      <%#= link_to 'Destroy', destroy_client_technical_contact, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= link_to 'Back', redirect_back_path || clients_path, class: 'btn btn-default btn-box' %>
  </div>
</div>
