<% content_for :title do %>
  Contact
<% end -%>

<div class="row">
  <div class="col-md-4">
    <%= render layout: 'shared/box', locals: { title: "#{icon(icon_for 'contact')} Contact".html_safe } do %>
      <p>
        <strong>Email:</strong>
        <%= @contact.email %>
      </p>

      <p>
        <strong>Name:</strong>
        <%= @contact.name %>
      </p>

      <p>
        <strong>Role:</strong>
        <%= @contact.role %>
      </p>

      <p>
        <strong>Phone number:</strong>
        <%= @contact.phone_number %>
      </p>

      <p>
        <strong>Active:</strong>
        <%= @contact.active %>
      </p>

      <% if @client %>
        <%= link_to 'Edit', edit_client_contact_path(@client, @contact) %> |
        <%= link_to 'Back', client_contacts_path(@client) %>
      <% else %>
        <%= link_to 'Edit', edit_contact_path(@contact) %> |
        <%= link_to 'Back', contacts_path %>
      <% end %>
    <% end %>
  </div>
</div>
