<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>SG-1 beaumont portal</title>
    <link rel="shortcut icon" href="<%= image_path('project_logo_small.png') %>" />
    <%= stylesheet_link_tag "admin_lte", media: "all" %>
    <%= javascript_include_tag "admin_lte" %>
    <%= csrf_meta_tag %>
  </head>

	<body class="hold-transition skin-red sidebar-mini">
		<!-- Site wrapper -->
		<div class="wrapper">

			<!-- Site Header. Navigation & controls -->
			<%= render 'shared/header' %>

			<!-- Sidebar. Main navigation -->
			<%= render 'shared/sidebar' %>

		  <!-- Content Wrapper. Contains page content -->
		  <div class="content-wrapper">

        <%= render 'shared/alert' %>

		    <!-- Content Header (Page header) -->
		    <section class="content-header">
		      <h1>
		        <%= content_for?(:title) ? yield(:title) : "#{controller_name}".humanize %>
		        <small><%= yield :title_small %></small>
		      </h1>

		      <%= render 'shared/breadcrumb' %>
		    </section>

		    <!-- Main content -->
		    <section class="content">
					<%= yield %>
		    </section>
		    <!-- /.content -->

		  </div>
		  <!-- /.content-wrapper -->

			<!-- Footer -->
		  <%= render 'shared/footer' %>

		</div>
		<!-- ./wrapper -->
	</body>
</html>
