<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>SG-1 beaumont portal</title>
    <link rel="shortcut icon" href="<%= image_path('project_logo_small.png') %>" />
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
  </head>

  <body>
    <div id="wrap">
      <div id="main">

      	<%= render 'shared/flash' %>

        <%= render 'shared/topbar' %>

        <%= render 'shared/navigation' %>

      	<div id="contents">
          <!-- CONTENT BEGIN -->
      	  <%= yield %>
      	  <!-- CONTENT END -->
        </div>

        <div class="clearer"></div>

        <div id="footer">
          <p>
            <!-- Beaumont RELEASE <%= $ReleaseNum %> -->
            Copyright (C) 2016 - IP4B
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
