<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Invoice - IP4B Inc.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <%= stylesheet_link_tag "invoice", media: "all" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
