<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>SG-1 beaumont portal</title>
    <link rel="shortcut icon" href="<%= image_path('project_logo_small.png') %>" />
    <%= stylesheet_link_tag "admin_lte", media: "all" %>
    <%= javascript_include_tag "admin_lte" %>
    <%= csrf_meta_tag %>
  </head>

	<body class="hold-transition login-page">
  	<%= yield %>
	</body>
</html>
