<div class="call">
<div class="details" >
<table>
<tr>
  <td>Start:  </td> <td><%= @call.startdatetime %></td>
</tr>
<tr>
  <td>Answer: </td> <td><%= @call.answerdatetime %></td>
</tr>
<tr>
  <td>Release:</td> <td><%= @call.releasedatetime %></td>
</tr>
<tr>
  <td>Callid:</td> <td><%= @call.master_callid %></td>
</tr>
<tr>
  <td>Call type:</td> <td><%= @call.call_type %></td>
</tr>
<tr>
  <td>Client:</td> <td><%= link_to @call.client.try(:name), @call.client if @call.client %></td>
</tr>
</table>

</div>

<div class="cdrs">
  <%= render @call.cdrs %>
</div>
</div>
