@font-face {
    font-family: 'Stargate';
    src:url('/fonts/Stargate.ttf.woff') format('woff'),
        url('/fonts/Stargate.ttf.svg#Stargate') format('svg'),
        url('/fonts/Stargate.ttf.eot'),
        url('/fonts/Stargate.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
