/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

// Font Awesome
@import "font-awesome-sprockets";
@import "font-awesome";

// Bootstrap
@import "bootstrap-sprockets";
@import "bootstrap";

// AdminLTE
@import "admin_lte.min";
@import "skins/skin-red.min";

// Bootstrap Select
@import "bootstrap-select.min";

// Selectize
@import "selectize.bootstrap3";

// Bootstrap Datepicker
@import "bootstrap-datepicker3";

// StarGate
@import 'stargate';

.center {
  display: block;
  float: none;
  margin: 0 auto;
}

.login-logo {

  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 170px;
    height: 91px;

    background-image: image-url("logo.svg");
    background-size: 340px 182px;
    background-position: -85px -16px;
    background-repeat: no-repeat;
  }
}

.vertical-separator {
  color: gray;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.25);
  margin-left: 0.25em;
  margin-right: 0.25em;
}

@import "dashboards";
@import "buildings";
@import "clients";
@import "billable_services";
