@import 'reset';
@import 'stargate';

$maincolour:       #277399;
$secondcolor:      #39ACE6;
$orange:           #E58E38;
$orangehilite:     #E68F39;
$brownaccent:      #997326;
$labels:           #997326;
$siteborder:       #997326;
$sitecolor:        #E68F39;
$values:           #39ACE6;
$backgroundcolour: #666669;

html {
    height: 100%;
    margin-bottom: 1px;  /* Fix IE bug*/
}

body {
    margin: 0;
    padding: 0;
    color: $secondcolor;
}

option {
    padding-left: 0.4em;
}

div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,select,blockquote,th,td {
    margin: 0;
    padding: 0;
}

body {
    font: 12px Nimbus Sans, Arial, Helvetica, sans-serif;
    background-color: $backgroundcolour;
    height: 100%;
}

.global {
    min-height:100%;
}

.stargate {
    font-family: 'Stargate';
}

#wrap {
    position: relative;
    min-height: 100%;
}

#main {
    overflow:auto;
    float: left;
    width:  100%;
    min-height: 500px;
    height: 100%;
    padding-bottom: 20px;
    #topnav {
        p {
            font-size: 24px;
            padding-top:  5px;
            padding-left: 50%;
        }
        position: relative;
        padding-left:  5px;
        padding-top:   4px;
        padding-bottom: 5px;
        min-height:  33px;
        background-color: $brownaccent;
        #logo {
            width:  40px;
            height: 42px;
            position: absolute;
            top:  3px;
            left: 3px;
            background-image: image-url("/assets/project_logo_small.png");
            background-repeat: no-repeat;
        }
        #logo p {
            display: none;
        }

        #logo {
        }
        #appmenu {
            margin-left: 200px;
            float: left;
            font-size: 20px;
        }
        #loginmenu {
            position: absolute;
            right: 0px;
            top:   3px;
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        li {
            display: inline;
            padding-left:  10px;
            padding-right: 10px;
            margin-left:    0px;
            font-size: 10px;
        }
    }
    #navigation {
        clear: both;
        margin-left: 15%;
        position: absolute;
        bottom:      25px;    /* a few px above footer of 20px */
        max-height: 150px;
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        li {
            display: inline;
            padding-left:  10px;
            padding-right: 10px;
            margin-left:    0px;
            border: 1px solid white;
            left-border: 2px solid white;
            font-size: 28px;
        }
    }
    #contents {
        margin-left:  10%;
        margin-right: 10%;
        margin-top:   20px;
        height:       80%;
        overflow: auto;
        clear: both;
    }
}

/**** Footer ****/
.clearer {
    clear: both;
}

#footer p {
    padding: 1px 10px 0px 10px;
    font-size:12px;
    text-align:center;
    color: #000000;
    max-width: 90%;
}
#footer {
    position: absolute;
    background-color: $brownaccent;
    max-height: 20px;
    bottom: 0px;
    width: 100%;
}

a:hover,
a:active {
    color: $orangehilite;
}


a,
a:link,
a:visited {
    color: $orange;
    text-decoration: none;
}

img {
    border: none;
}

/**** Elements specifiques ****/
#page {
    margin: 20px 20px 0 20px;
}

/**** Boite alert top ****/
#alert-bar{
    margin-bottom:10px;
    /* background:url(/images/alertbar.png) repeat-x; */
    top: 40%;
    left: 40%;
    border: 2px solid $orange;
    background-color: white;
    color: $backgroundcolour;
    width: 20%;
    font-size: 30px;
    position: fixed;
    z-index: 1000;
    .message {
        position: relative;
        margin-top:  5px;
        margin-left: 15px;
        padding-left: 10px;
        padding-bottom: 5px;
        .alert {
            text-color: red;
        }
    }

    span, img{
        float: left;
    }
    span {
        margin: 6px;
    }
}


.liquid-round .center-content dl {
}

.liquid-round .center-content dt {
    font-size: 24px;
    color: #99b91e;
}

.liquid-round .center-content dd {
    font-size: 24px;
    color:#bb3344;
}

.active-scaffold {
    width: 99%;
    margin: 5px 5px;
}

.as_content table {
    overflow: auto;
}
.active-scaffold-as_clients td.name-column {
    max-width: 150px;
}

.active-scaffold-as_clients td.admin_contact-column {
    max-width: 150px;
}

.as_content div {
    width: 99%;
    overflow: auto;
}

.as_form .update form {
    overflow: scroll;
}

.center-content div {
    overflow: auto;
    /* this width statement forces the AS table to remain within the boundary */
    /* of the browser, rather than going hidden on the right if a sub part    */
    /* gets too big.  So we get a scroll bar, rather than hidden stuff. */
    width: 100%;
}

.call {
    position: relative;
}

.call .details {
    float: left;
    font:14px Helvetica, sans-serif;
    /* overflow: scroll; */
    border: 1px solid blue;
    min-height: 400px;
    width: 30%;
    padding: 10px;
}

.call td {
    padding-left: 10px;
}

.call .cdrs {
    float: left;
    border: 1px solid blue;
    width: 65%;
}

div.formlabel {
    color: $labels;
    font-size: 14pt;
    width: 160px;
    display: inline;
    text-align: right;
    vertical-align: bottom;
}

div.formvalue {
    color: $values;
    font-size: 18pt;
    width: 70%;
    display: inline;
    vertical-align: bottom;
    overflow-x: hidden;
}

#clientindex {
    /* border: 1px solid blue; */
    /* width:  99%; */
    margin-bottom: 20px;

    div#leftcurrentright {
        position: relative;
        height: 120px;
    }

    div.clientheader {
        margin-left:  10px;
        padding-left: 10px;
        height: 120px;
        width: 80%;
        top:   10px;
        left:  80px;
        position: relative;
        overflow-y: hidden;
    }
    div.formline {
        margin-top: 20px;
    }

    span.firstletter {
        font-size: 14pt;
        margin-left: 7px;
    }

    .arrow img {
        height: 20px;
    }

    div.navleftright {
        width:   75px;
        height:  50px;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    div#prevclient {
        padding-left: 5px;
        position: absolute;
        top:     0;
        left:    0;
        div.name {
            clear: both;
            float: right;
        }
        img {
            float: right;
        };
    }
    div#nextclient {
        padding-right: 5px;
        position: absolute;
        top:     0;
        right:   0;
        div.name {
            clear: both;
            float: left;
        }
        img {
            float: left;
        };
    }
}

#siteindex {
    position: absolute;
    top:    200px;
    right:  80px;
    height: 160px;
    width:  200px;
    padding:  5px;
    border: 1px solid $siteborder;
    border-radius: 6px;
    overflow-y: scroll;
    ul {
        margin: 1px;
    }
    li {
        color: $sitecolor;
        list-style-type: none;
        font-size: 12pt;
    }
    a:link a:visited {
        text-decoration: underline;
    }
    a:hover {
        color: red;
    }
}

#site {
    tr.line {
        font-size: 14pt;
        height: 28px;
    }
    td.title {
        color: $labels;
        padding-right: 4px;
        text-align: right;
    }

}
