// Place all the styles related to the billable_services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.control-buttons form {
    display: inline;
}

.search-group .input-group-addon {
    background-color:#eeeeee !important
}

.search-group-col .col-xs-3:first-child {
    padding-right:0px !important;
    padding-left:15px !important;
}

.search-group-col .col-xs-3:last-child {
    padding-right:15px !important;
    padding-left:0px !important;
}

.search-group-col .col-xs-3 {
//    background-color:yellow !important;
    padding-right:0px !important;
    padding-left:0px !important;
}


.form-control .selectize-input .items {
    padding-left:0px !important;
}

.selectize-custom .selectize-control .selectize-input {
    padding-left:3px !important;
    border-radius:0px !important;

}

div.selecize-custom {
    padding-left:0px !important;
}


input#billable_service_search_startdate {
    border-radius:0px !important;
}

input#billable_service_search_enddate {
    border-radius:0px !important;
}
