#client-name {
  th {
    font-size: 1.1em;
    font-weight: bolder;
  }

  td, td .form-control {
    min-height: inherit;
    max-height: auto;
    height: auto;
  }
}

.charges_scroll {
    overflow-y: scroll;
    overflow-x: scroll;
    max-height: 600px;

}

.highlight-success {
    border: 1px solid green !important;
}
