/*
  Invoices are built with Bootstrap scaffolds
*/

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/*
  US Letter page format
*/

$page-width: 8.5in;
$page-height: 11in;
$page-margin: 0.75in;

/*
  Colors used
*/

$webview-background: #000000;
$black: #1f1f1f;
$gray : #8c8c8c;
$light-gray : #dedede;
$print-lighten-percent : 10%;

/*
  Tell webkit to print background colors and images
*/

body {
  -webkit-print-color-adjust: exact;
}

/*
  Include borders in the calculation of all box model elements and
  pseudo-elements widths and heights.

  This is intended to reduce the maths involved in formatting the page
  for print.
*/

*, *::before, *::after {
	box-sizing: border-box;
}

/*
  Normalize browsers behaviors for all elements
*/

@import "normalize.css";


/////////////////////////////////////
/* Setup page display for web view */
/////////////////////////////////////

/*
  Make document look and behave like a US letter
*/

html {
	background-color: $webview-background;
	overflow: hidden;
	overflow-y: scroll;
}

body {
	overflow: hidden;
	margin-top: 0.5in;
	margin-bottom: 0.5in;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	max-width: $page-width;
	min-height: $page-height;
}

/*
  Constrain page area to within set margins
*/

.page {
	width: $page-width - 2 * $page-margin;
	height: $page-height - 2 * $page-margin;
	margin: $page-margin;

  /*
    Relative position the top page element to match
    detachable part on both sides
  */
  .top-page {
    position: relative;
    top: 0;
  }

  /*
    Relative position the bottom page element to match
    detachable part on both sides
  */
  .bottom-page {
    position: relative;
    bottom: 0;
    margin-bottom: $page-margin;
  }
}


//////////////////////////////////////////
/* Setup page display for printed media */
//////////////////////////////////////////


@media print {
  body, html, .page {
    margin: 0;
    padding: 0;
    border: 0;
  }

  .container, .container-fluid, .row {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }

  body {
    max-width: $page-width - 2 * $page-margin;
    min-height: $page-height - 2 * $page-margin;
  }

	.page {
		width: 100%;
		height: 100%;
    page-break-inside: avoid;
    page-break-after: always;
	}
}

/* Begin */

* {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.0rem;
	line-height: 1.5rem;
	overflow: visible;
	word-wrap: normal;
}

address {
  font-size: 1.0rem;
  line-height: 1.0rem;
}

.bottom-page {
  * {
    line-height: 1.2rem;
  }
}

hr {
  position: relative;
  top: inherit / 3.0;
  left: 0;

	border-bottom: 2px dashed #8c8b8b;
	clear: both;
}

/* table caption */

caption {
	color: $black;
	background-color: $gray;
  padding: 0.2rem;
	font-weight: bold;
	font-size: 1.2rem;
}

@media print {
	caption {
		background-color: lighten($gray, $print-lighten-percent);
	}
}

/* table */

table, tr, td, th {
	background-color: transparent !important;
	border: 0 !important;
}

table {
	tr {
		th {
			font-size: 1.1rem;
			font-weight: bold;
		}
		th, td {
			padding: 0.2rem !important;
			line-height: 1rem !important;
			font-size: 1rem !important;
		}
	}
}

/* table total */

.total {
	border-top: 1pt solid $black !important;
	background-color: $light-gray !important;
}

@media print {
	.total {
		background-color: lighten($light-gray, $print-lighten-percent) !important;
	}
}

/* logo */

img.logoLarge {
	margin-top: -1rem;
	width: auto;
	height: auto;

	max-width: 2.00in;
	max-height: 1.00in;
}

img.logoSmall {
	margin-top: -1rem;
	width: auto;
	height: auto;

	max-width: 1.50in;
	max-height: 0.75in;
}

#summary {
	margin-top: 1rem;
	* {
		line-height: 1.5rem;
		padding: 0.1rem;
	}

	#summary-dues {
		.row {
			margin-bottom: 1rem;
		}
	}
}

.border-black {
	border: 1pt solid $black;
}

#summary {
	margin-top: 1rem;
	* {
		line-height: 1.5rem;
		padding: 0.1rem;
	}

	#summary-dues {
		.row {
			margin-bottom: 1rem;
		}
	}
}

.border-black {
	border: 1pt solid $black;
}

#summary {
	margin-top: 1rem;
	* {
		line-height: 1.5rem;
		padding: 0.1rem;
	}

	#summary-dues {
		.row {
			margin-bottom: 1rem;
		}
	}
}

.border-black {
	border: 1pt solid $black;
}

.form-box {
	background-color: $light-gray !important;
	margin-top: 2rem;
	border: 2pt solid $black;

	* {
		line-height: 3.0rem;
	}
}

@media print {
	.form-box {
		background-color: lighten($light-gray, $print-lighten-percent) !important;
	}
}

.form-spacer {
	margin: 1.5rem;
}

.form-title {
	background-color: $gray;
	border-bottom: 1pt solid $gray;
	font-weight: bold;
}

@media print {
	.form-title {
		background-color: lighten($gray, $print-lighten-percent);
	}
}

.text-lined .text-label, .text-lined .text-block {
	margin-top: 2rem;
}

.text-expand {
	width: 100%;
}

.text-label {
	clear: right;
	margin-right: 0.5rem;
}

.text-block {
	overflow: hidden;
}

.text-underline {
	border-bottom: 1pt solid $black;
	overflow: hidden;
}

.text-indent {
  margin-left: 2rem;
}

table td {
	vertical-align: top;
}

.text-offset {
  height: 6.5in;
}

table, p, .row {
	page-break-inside: avoid;
}

#customer-service-information {
	margin: 0;
}


////////////////////
/*   Page break   */
////////////////////


.break {
	display: block;
	clear: both;
	height: 0.5in;
	background-color: $webview-background;
}

@media print {
	.break {
		display: none;
		height: 0;
    margin: 0;
    padding: 0;
		background-color: transparent;
	}
}


/* show the header on each page */

@media print {
	thead {
		display: table-header-group;
	}
	tfoot {
		display: table-row-group;
	}
	tr {
		page-break-inside: avoid;
	}
}

.customersummary {
	table tr {
		th {
			background-color: $gray !important;
		}
	}
}

@media print {
	.customersummary {
		table tr {
			th {
				background-color: lighten($gray, $print-lighten-percent) !important;
			}
		}
	}
}

.customersummary {
	table tr {
		th {
			background-color: $gray !important;
		}
	}
}

@media print {
	.customersummary {
		table tr {
			th {
				background-color: lighten($gray, $print-lighten-percent) !important;
			}
		}
	}
}

.customersummary {
	table tr {
		th {
			background-color: $gray !important;
		}
	}
}

@media print {
	.customersummary {
		table tr {
			th {
				background-color: lighten($gray, $print-lighten-percent) !important;
			}
		}
	}
}
