<% @info = Call.bySite(@calls) %>
<% @info.each do |site_number, callsForSite| %>
<% site = callsForSite.first.site %>
<tr class="callsummary-site">
  <td class="css-desc text-nowrap"><%= site.display_text.to_s %></td>
  <td class="css-count text-nowrap text-right"><%= callsForSite.count.to_s %></td>
  <td class="css-duration text-nowrap text-right"><%= Call.sumOfDuration(callsForSite) %></td>
  <td class="css-cost text-nowrap text-right"><%= money(callsForSite.map {|c| c.cost}.sum , precision: 3) %></td>
</tr>
<% end %>
