<% @calls.each_slice(60) do |calls| %>
  <div class="page">
    <div class="container-fluid">

      <%= render 'invoices/shared/customerinfobox' %>

      <table class="table table-striped">
        <caption><%=t 'invoices._calldetail.call_summary' %></caption>
        <thead>
          <tr>
            <th class="col-sm-1"><%=t 'invoices._calldetail.date' %></th>
            <th class="col-sm-1"><%=t 'invoices._calldetail.time' %></th>
            <th class="col-sm-2"><%=t 'invoices._calldetail.number' %></th>
            <th class="col-sm-3"><%=t 'invoices._calldetail.city' %></th>
            <th class="col-sm-1 text-right"><%=t 'invoices._calldetail.province' %></th>
            <th class="col-sm-2 text-right"><%=t 'invoices._calldetail.duration' %></th>
            <th class="col-sm-2 text-right"><%=t 'invoices._calldetail.amount' %></th>
          </tr>
        </thead>

        <tbody>
            <% calls.each do |call| %>
              <tr>
                <td class="charge-date "><%= call.date %></td>
                <td class="charge-time "><%= call.time %></td>
                <td class="charge-number "><%= call.called_number %></td>
                <td class="charge-city-place "><%= call.area %></td>
                <td class="charge-prov-place text-right"><%= call.province %></td>
                <td class="charge-duration  text-right"><%= call.duration %></td>
                <td class="charge-price  text-right"><%= money(call.cost, precision: 3) %></td>
              </tr>
            <% end %>

            <!-- call total from call details -->
            <tr class="total">
              <td colspan="3" class="text-left text-expand"><%= t 'invoices._calldetail.total' %></td>
              <td colspan="2" class="text-right"><%= t('invoices._calldetail.count', number: @calls.count ) %></td>
              <td class="text-right"><%= CallDecorator.sumOfDuration(@calls) %></td>
              <td class="text-right"><%= money (@calls.sum {|c| c.cost}) %></td>
            </tr>

        </tbody>
      </table>

    </div>
  </div>

  <div class="break"></div>
<% end %>
