


<%# DEPRECATED - use _call_summary_table.html.erb instead %>



<%# @info = invoice.callsummary(:byareacode, callsummarybyareacode) -%>
<!-- _callsummarybyareacode.html.erb -->
<% Call.byAreaOrCountryCode(@calls).each do |areacode, calls| %>
<tr class="callsummary-areacode">
  <td class="csc-desc text-nowrap"><%= areacode %></td>
  <td class="csc-count text-nowrap text-right"><%= calls.count %></td>
  <td class="csc-duration text-nowrap text-right"><%= Call.sumOfDuration(calls) %></td>
  <td class="csc-cost text-nowrap text-right"><%= money(calls.sum{|c| c.cost}, precision: 3) %></td>
</tr>
<% end %>



<%# DEPRECATED - use _call_summary_table.html.erb instead %>
