<tr>
  <td class="charge-date text-nowrap"><%=l call.date, format: :short %></td>
  <td class="charge-time text-nowrap"><%= call.time %></td>
  <td class="charge-number text-nowrap"><%= call.callednumber %></td>
  <td class="charge-city-place text-nowrap"><%= call.area %></td>
  <td class="charge-prov-place text-nowrap"><%= call.province %></td>
  <td class="charge-duration text-nowrap text-right"><%= call.duration %><!-- <%= call.active_duration %> R:<%= call.invoice_fmt_rate %> --></td>
  <td class="charge-price text-nowrap text-right"><%= money(call.cost, precision: 3) %></td>
</tr>
