<%
=begin
    Takes as parameter:
    - i18n label of title of table (tableTitle_i18n)
    - i18n label of Header of left column (columnHeader_i18n)
    - Hash of category:string => array of calls (hashOfArrayOfCalls)
=end
%>


<% if hashOfArrayOfCalls.count > 0 %>
<table class="table table-striped">
  <caption><%= t tableTitle_i18n %></caption>

  <thead>
    <tr>
      <th class="text-nowrap text-left text-expand"><%= t columnHeader_i18n %></th>
      <th class="text-nowrap text-right"><%=t 'invoices._callsummary.nb_calls'%></th>
      <th class="text-nowrap text-right"><%=t 'invoices._calldetail.duration'%></th>
      <th class="text-nowrap text-right"><%=t 'invoices._calldetail.total'%></th>
    </tr>
  </thead>

  <%# Set our totals now %>


  <% hashOfArrayOfCalls = CallSummaryDecorator.new(hashOfArrayOfCalls) %>
  <% totalCallCount = totalDuration = totalCost = 0 %>

  <tbody>

    <% hashOfArrayOfCalls.getSortedObject.each do |bucket, calls| %>

	  <%
        bucketName = CallSummaryDecorator::bucketDisplayString(bucket)

		totalCallCount += calls.count

		duration = Call.sumOfDuration(calls)
		totalDuration += duration

		cost = calls.sum{|c| c.cost}
		totalCost += cost

      %>

      <tr class="callsummary-areacode">
        <td class="csc-desc text-nowrap"><%= bucketName %></td>
        <td class="csc-count text-nowrap text-right"><%= calls.count %></td>
        <td class="csc-duration text-nowrap text-right"><%= CallDecorator::fmtDuration(duration) %></td>
        <td class="csc-cost text-nowrap text-right"><%= money(cost, precision: 3) %></td>
      </tr>
    <% end %>

    <tr class="cst-totals total">
      <td class="cst-total">Total</td>
      <td class="cst-total-count text-nowrap text-right"><%= totalCallCount %></td>
      <td class="cst-total-duration text-nowrap text-right"><%= CallDecorator::fmtDuration(totalDuration) %></td>
      <td class="cst-total-cost text-nowrap text-right"><%= money totalCost %></td>
    </tr>
  </tbody>
</table>
<% end %>


