<%# NOT USED %>
<% @info = @invoice.callsummary(:bytype, callsummarybytype) -%>
<tr class="callsummary-type">
  <td class="cst-desc text-nowrap"><%= @info.desc %></td>
  <td class="cst-count text-nowrap text-right"><%= @info.count %></td>
  <td class="cst-duration text-nowrap text-right"><%= @info.duration_s %></td>
  <td class="cst-cost text-nowrap text-right"><%= money(@info.cost, precision: 3) %></td>
</tr>
