



<%# DEPRECATED - use _call_summary_table.html.erb instead %>




<% @info = Call.byService(@calls) %>
<%# @info = @invoice.callsummary(:byservice, callsummarybyservice) -%>
<% @info.each do |service_id, callsForService| %>
<% service = callsForService.first.service %>
<tr class="callsummary-service">
  <td class="css-desc text-nowrap"><%= service.display_text.to_s %></td>
  <td class="css-count text-nowrap text-right"><%= callsForService.count.to_s %></td>
  <td class="css-duration text-nowrap text-right"><%= Call.sumOfDuration(callsForService) %></td>
  <td class="css-cost text-nowrap text-right"><%= money(callsForService.map {|c| c.cost}.sum , precision: 3) %></td>
</tr>
<% end %>



<%# DEPRECATED - use _call_summary_table.html.erb instead %>
