<%= render 'invoices/shared/customerinfobox' %>



<%= render partial: 'invoices/calls/call_summary_table', locals: {
    tableTitle_i18n: 'invoices._callsummary._call_summary',
    columnHeader_i18n: 'invoices._callsummary.description',
    hashOfArrayOfCalls: Call.bySummaryType(@calls)
} %>


<%= render partial: 'invoices/calls/call_summary_table', locals: {
    tableTitle_i18n: 'invoices._callsummary._by_service',
    columnHeader_i18n: 'invoices._callsummary.telephone_number',
    hashOfArrayOfCalls: Call.byService(@calls)
} %>


<%= render partial: 'invoices/calls/call_summary_table', locals: {
    tableTitle_i18n: 'invoices._callsummary._by_area_code',
    columnHeader_i18n: 'invoices._callsummary.area_code',
    hashOfArrayOfCalls: Call.byAreaCode(@calls.object)
} %>

<%= render partial: 'invoices/calls/call_summary_table', locals: {
    tableTitle_i18n: 'invoices._callsummary._by_country',
    columnHeader_i18n: 'invoices._callsummary.country',
    hashOfArrayOfCalls: Call.byInternationalArea(@calls)
} %>


<%= render partial: 'invoices/shared/taxtable', locals: {itemType: :calls} %>
