<% if can? :manage, :any %>
  <!-- Info boxes -->
  <div class="row">

    <% # Only displays the clients count box if the user has access %>
    <% if can? :read, Client %>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-aqua"><i class="fa fa-user"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Customers</span>
            <span class="info-box-number"><%= @customers_count %></span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
    <% end %>

    <% # Only displays the btns count box if the user has access %>
    <% if can? :read, Btn %>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-red"><i class="fa fa-phone"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Btns</span>
            <span class="info-box-number"><%= @btns_count %></span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
    <% end %>

    <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>

    <% # Only displays the sites count box if the user has access %>
    <% if can? :read, Site %>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-green"><i class="fa fa-building"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Sites</span>
            <span class="info-box-number"><%= @sites_count %></span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
    <% end %>

    <% # Only displays the phones count box if the user has access %>
    <% if can? :read, Service %>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-yellow"><i class="fa fa-phone"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Services</span>
          <span class="info-box-number"><%= @phones_count %></span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <% end %>

  </div>
  <!-- /.row -->

  <!-- Main row -->
  <div class="row">
    <!-- Left col -->
    <div class="col-md-8 col-md-offset-2">
      <!-- MAP & BOX PANE -->
      <div class="box box-success">
        <div class="box-header with-border">
          <h3 class="box-title">Actions</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div>
        <!-- /.box-header -->

	<div class="box-body">
	  <div class="row">
	    <div class="col-md-5 col-md-offset-1">
              <% if can? :read, Client %>
		<%= link_to "#{icon 'user'} View Customer".html_safe, clients_path, class: 'btn btn-block btn-social btn-default btn-lg', style: "max-width:14em" %>
              <% end %>

              <% if can? :create, Client %>
		<%= link_to "#{icon 'user'} Add Customer".html_safe, new_client_path, class: 'btn btn-block btn-social btn-default btn-lg', style: "max-width:14em" %>
              <% end %>

              <% if can? :run_invoice, Client %>
		<%= link_to "#{icon 'dashboard'} Run Invoice".html_safe, '#', class: 'btn btn-block btn-social btn-default btn-lg', style: "max-width:14em" %>
              <% end %>

              <% if can? :process_payment, Client %>
		<%= link_to "#{icon 'dollar'} Process Payment".html_safe, '#', class: 'btn btn-block btn-social btn-default btn-lg', style: "max-width:14em", data: { toggle: 'modal', target: '.process-payment-modal' } %>
              <% end %>

	      <%= link_to "#{icon 'file'} Generate Report".html_safe, '#', class: 'btn btn-block btn-social btn-default btn-lg', style: "max-width:14em", onclick: 'alert("Not yet implemented.\nIn the future the report functions will be available here");' %>

	      <%= link_to "#{icon 'square'} Onetime Charge Export".html_safe, onetime_billable_services_path, class: 'btn btn-block btn-social btn-default btn-lg', style: "max-width:14em" %>

	      <%= link_to "#{icon 'square'} Charge Export".html_safe, exports_billable_services_path, class: 'btn btn-block btn-social btn-default btn-lg', style: "max-width:14em" %>


	      <%= link_to "#{icon 'square'} View Products".html_safe, products_path, class: 'btn btn-block btn-social btn-default btn-lg', style: "max-width:14em" %>





	    </div>
	  </div>
	</div>
      </div>
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
<% else %>
  <!-- Unauthorized row -->
  <div class="row">
    <!-- Left col -->
    <div class="col-md-6 col-md-offset-3">
      <!-- MAP & BOX PANE -->
      <div class="box box-danger" style="margin-top: 50px;">
        <div class="box-header with-border">
          <h3 class="box-title"><b>Why is this page empty?</b></h3>
        </div>
        <!-- /.box-header -->

        <div class="box-body ">
          <div class="row">
            <div class="col-sm-12">
              <p>You lack required privileges to access the data.</p>
              <p>
                If your account was made recently, this could be an error or
                your account is still pending confirmation.
              </p>
            </div>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
<% end %>

<% if can? :read, Client %>
  <div class="modal view-customer-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span></button>
          <h4 class="modal-title">Find Client</h4>
        </div>

        <%= form_tag '/clients', method: :get do %>
          <div class="modal-body">
            <input type="text" name="query" placeholder="Search query..." class="form-control">
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
            <%= submit_tag 'Go', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
<% end %>

<% if can? :read, Client %>
  <div class="modal process-payment-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span></button>
          <h4 class="modal-title">Process Payment</h4>
        </div>

        <%= form_tag payment_process_dashboards_path, method: 'get' do %>
          <div class="modal-body">
              <div class="form-group">
                <%= label_tag :client_id %>
                <%= select_tag :client_id, nil, class: 'selectize payments' %>
              </div>

              <!-- <div class="form-group">
                <%# label_tag :btn_id %>
                <%# select_tag :btn_id, nil, class: 'selectize' %>
              </div> -->
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
            <%= submit_tag 'Process', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
<% end %>
