<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="box box-default">
      <div class="box-header">
	<h1 class="box-title"><%= @client.name %></h1>
      </div>

      <div class="box-body">
	<%= render 'payments/summary' %>
      </div>
    </div>

    <%= render 'payments/form' %>
  </div>
</div>
