<div xmlns="http://www.w3.org/1999/xhtml">

<h4>Changement d'adresse</h4>

<p>Avez­vous coché la boîte au verso?</p>

<div class="col-xs-12 text-lined">

<div class="row">
	<div class="row">
		<div class="col-xs-12">
		<div class="pull-left text-label">Nom du compte :</div>
		<div class="text-nowrap text-block text-underline">&#160;</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
		<div class="pull-left text-label">Nouvelle adresse :</div>
		<div class="text-nowrap text-block text-underline">&#160;</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
		<div class="pull-left text-label">Ville :</div>
		<div class="text-nowrap text-block text-underline">&#160;</div>
		</div>
		<div class="col-xs-3">
		<div class="pull-left text-label">Province :</div>
		<div class="text-nowrap text-block text-underline">&#160;</div>
		</div>
		<div class="col-xs-3">
		<div class="pull-left text-label">Code Postal :</div>
		<div class="text-nowrap text-block text-underline">&#160;</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
		<div class="pull-left text-label">Téléphone au travail :</div>
		<div class="text-nowrap text-block text-underline">&#160;</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
		<div class="pull-left text-label">Nom du contact :</div>
		<div class="text-nowrap text-block text-underline">&#160;</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
		<div class="pull-left text-label">Adresse électronique :</div>
		<div class="text-nowrap text-block text-underline">&#160;</div>
		</div>
	</div>
</div>

</div>

</div>
