<div xmlns="http://www.w3.org/1999/xhtml" class="row">

<div class="col-xs-6">

<h4>Company Information</h4>
<p>Please send any correspondence and written inquiries to the address below:</p>
<p class="text-indent">
IP4B Inc.<br/>
9600, boul. du Golf<br/>
Montreal (Quebec) H1J 3A8<br/>
Phone: 514-444-IP4B (4742) or 1-844-444-IP4B (4742)<br/>
Fax: 514-444-5644<br/>
Website: www.ip4b.ca<br/>
</p>
<h4>Business Hours</h4>
<p>
Customer Service: M-F 8h - 17h<br/>
Sales: M-F 9h - 17h
</p>
<h4>Payment Information</h4>
<p>
Payments are due by the “Due Date” on the front of your invoice. Payment received after the “Due Date” may not be reflected on your invoice. If we do not receive the payment by the “Due Date”, your account will become past due and will be subject to a late fee of 1.5% per month or $5 whichever is the lower fee.
</p>
<h4>Disconnect Policy</h4>
<p>
Services will be disconnected if there are any outstanding balances 60 days past due. If an account is disconnected, the following amount for reconnection fee will be charged.
</p>
<ol>
	<li>
		$250 administration fee
	</li>
	<li>
		Plus any Telco fees that may apply
	</li>
</ol>
<p>
You are responsible for the payment of all charges on your bill. Failure to pay any portion of your bill may result in collection action.
</p>
<h4>Change of Address</h4>
<p>
Please inform us of a change in address or phone numbers by checking the box on the front of this invoice then complete the Address Change form below.
</p>
<p>
* Take note that for a change of address, you have to inform us 30 days in advance.
</p>

</div>

<div class="col-xs-6">

<h4>Service Termination</h4>
<p>
You must notify IP4B Telecom with a thirty (30) day advance written request for any service disconnection. Failure to do so will result in your receiving the monthly bill for all charges until IP4B Telecom is notified otherwise. 
</p>
<p>
* Clients must consult their IP4Bs services agreement for termination penalty fees during the service term.
</p>
<h4>Billing Disputes</h4>
<p>
Billing disputes need to be submitted in writing to IP4B Telecom within 60 days of the bill date stated on the first page of your invoice.
</p>
<h4>Services Offered</h4>
<p>
Telephony
</p>
<ul>
<li>
Telephone line: VoIp Hosted telephone solution, VoIP phone lines, traditional telephone lines and PRI
</li>
<li>
Calling Cards
</li>
<li>
Conference Bridge
</li>
</ul>
<h6>Internet</h6>
<ul>
<li>
Internet access: fiber optic, cable modem, ADSL
</li>
<li>
Web, FTP and email hosting
</li>
<li>
Private Multi-Site Network
</li>
</ul>

</div>

</div>

