<div xmlns="http://www.w3.org/1999/xhtml" class="row">

<div class="col-xs-6">

<h4>Informations de la compagnie</h4>
<p>Toute correspondance et requêtes écrites doivent être envoyées à l'adresse ci-­dessous :</p>
<p class="text-indent">
IP4B Inc.<br/>
9600, boul. du Golf<br/>
Montréal (Québec) H1J 3A8<br/>
Téléphone : 514-444-­IP4B (4742) ou 1-­844-­444-­IP4B (4742)<br/>
Télécopieur : 514­-444-­5644<br/>
Site Web : www.ip4b.ca<br/>
</p>
<h4>Heures d’ouverture</h4>
<p>
Service clientèle ­- lundi au vendredi 8 h -­ 17 h<br/>
Ventes ­- lundi au vendredi 9 h ­- 17 h
</p>
<h4>Informations de paiement</h4>
<p>
Les paiements sont dus à la «Date d’échéance» sur la première page de votre facture. Les paiements reçus après la «Date d’échéance» peuvent ne pas apparaître votre facture. Si nous ne recevons pas le paiement avant la «Date d’échéance», le solde passé dû sera soumis à une pénalité de retard de 1.5 % par mois ou 5.00 $, selon le plus petit montant de deux.
</p>
<h4>Politique de débranchement</h4>
<p>
Les services seront débranchés s'il y a un solde dû de plus de 60 jours. Si un compte est débranché, des honoraires seront facturés pour la reconnexion.
</p>
<ol>
	<li>
		Honoraires d'administration de 250 $
	</li>
	<li>
		Tous les honoraires du Telco qui peuvent s'appliquer
	</li>
</ol>
<p>
Vous êtes responsables du paiement de toutes les charges sur votre facture. Suite à un défaut de paiement de votre facture, en partie ou en totalité, nous pourrions faire appel à une agence de recouvrement.
</p>
<h4>Changement d'adresse</h4>
<p>
Veuillez nous informer de tous changements d’adresse ou de numéros de téléphone en cochant la boîte au verso puis, complétez le formulaire Changement d’adresse ci-dessous.
</p>
<p>
* Prenez note que nous devons être avisé d’un changement d’adresse au moins 30 jours à l’avance.
</p>

</div>

<div class="col-xs-6">

<h4>Fin de services</h4>
<p>
Pour mettre fin à un ou plusieurs services, vous devez aviser IP4B Telecom par écrit au moins trente (30) jours avant la date de débranchement souhaitée. Tant que IP4B Telecom ne recevra pas un tel avis, vous continuerez d’être facturé pour ces services à chaque mois.
</p>
<p>
* Le client doit consulter son entente de services avec IP4B Telecoms pour les honoraires de pénalité de terminaison pendant le terme de service.
</p>
<h4>Litige de facturation</h4>
<p>
Tout litige ou désaccord sur la facturation doit être soumis par écrit à IP4B Telecom dans les 60 jours suivant de la date de facturation apparaissant sur la première page de votre facture. Aucune demande reçue après ce délai ne sera traitée.
</p>
<h4>Services offerts</h4>
<p>
Téléphonie
</p>
<ul>
<li>
Lignes téléphoniques : solution VoIP hébergée, lignes téléphoniques et PRI VoIP, lignes téléphoniques et PRI traditionnels
</li>
<li>
Cartes d’appels
</li>
<li>
Service d’appel conférence
</li>
</ul>
<h6>Internet</h6>
<ul>
<li>
Accès Internet : fibre optique, Fibex, modem câble, ADSL
</li>
<li>
Web, FTP et hébergement de courrier électronique
</li>
<li>
Réseau multi-­sites privés
</li>
</ul>

</div>

</div>

