<!-- views/services/_form.html.erb used for editing a service -->
<%= form_for(@service.object) do |f| %>
  <div class="table-responsive">
    <table class="table table-bordered">


      <tr class="form-group">
        <td><%= f.label :activated, "Activated"   %></td>
        <td><%= f.check_box :activated  =%></td>
      </tr>

      <tr class="form-group">
        <th><%= f.label :site_id, 'Site :', class: 'control-label' %></th>
        <td><%= f.select :site_id, @client.sites.order(:site_number).collect{|s| [s.to_s_withSiteNum, s.id]}, {include_blank: true}, class: 'selectpicker form-control' %></td>
      </tr>

      <%= f.fields_for @btn do |fbtn| %>
      <tr class="form-group">
        <th><%= fbtn.label :billingtelephonenumber, 'BTN :', class: 'control-label' %></th>
        <td><%= fbtn.text_field :billingtelephonenumber, class: 'form-control', disabled: true %>
                   <%= f.hidden_field :btn_id, value: @btn.id %></td>
      </tr>
      <% end %>

      <tr class="form-group">
        <th><%= f.label :phone_service_type_id, 'Phone Service type :', class: 'control-label' %></th>
        <td><%= f.select :phone_service_type_id, options_from_collection_for_select(PhoneServiceType.order(:code).all, :id, :code, @service.object.phone_service_type.try(:id)),{include_blank: true}, class: 'selectpicker form-control' %></td>
      </tr>


      <tr class="form-group">
        <th><%= f.label :service_id, 'Service ID :', class: 'control-label' %></th>
        <td><%= f.text_field :service_id, class: 'form-control' %></td>
      </tr>

      <tr class="form-group">
        <th><%= f.label :extension, 'Extension :', class: 'control-label' %></th>
        <td><%= f.text_field :extension, class: 'form-control' %></td>
      </tr>

      <tr class="form-group">
        <th><%= f.label :voicemail_number, 'Voicemail Number :', class: 'control-label' %></th>
        <td><%= f.text_field :voicemail_number, class: 'form-control' %></td>
      </tr>

      <tr class="form-group">
        <th><%= f.label :access_info, 'Access Info :', class: 'control-label' %></th>
        <td><%= f.text_field :access_info, class: 'form-control' %></td>
      </tr>

      <tr class="form-group">
        <th><%= f.label :display_text, 'Display text :', class: 'control-label' %></th>
        <td><%= f.text_field :display_text, class: 'form-control' %></td>
      </tr>

      <tr class="form-group">
        <th><%= f.label :description, 'Description :', class: 'control-label' %></th>
        <td><%= f.text_area :description, class: 'form-control' %></td>
      </tr>

      <tr class="form-group">
        <th><%= f.label :defaultorigination, 'Default Origination :', class: 'control-label' %></th>
        <td><%= f.text_field :default_origination, class: 'form-control' %></td>
      </tr>

      <tr class="form-group">
        <th><%= f.label :defaultdestination, 'Default Destination :', class: 'control-label' %></th>
        <td><%= f.text_field :default_destination, class: 'form-control' %></td>
      </tr>


      <tr class="form-group">
        <th><%= f.label :rate_plan_id, 'Rate Plan :', class: 'control-label' %></th>
        <td><%= f.select :rate_plan_id, ::RatePlan.all.collect{|rp| [rp.name, rp.id]}.sort_by { |k, v| k }.to_h, {include_blank: true}, class: 'selectpicker form-control' %></td>
      </tr>

      <tr class="form-group">
        <th><%= f.label :line_of_businesses_id, 'Line of business :', class: 'control-label' %></th>
        <td><%= f.select :line_of_businesses_id, LineOfBusiness.all.collect{|s| [s.code, s.id]}.sort_by { |k, v| k }.to_h, {include_blank: true}, class: 'selectpicker form-control' %></td>
      </tr>

      <tr class="form-group">
        <th><%= f.label :supplier_id, 'Supplier :', class: 'control-label' %></th>
        <td><%= f.select :supplier_id, DIDSupplier.all.collect{|s| [s.name, s.id]}.sort_by { |s| s[0] }, {include_blank: true}, class: 'selectpicker form-control' %></td>
      </tr>

      <tr class="form-group">
        <th><%= f.label :coverage_id, 'Coverage :', class: 'control-label' %></th>
        <td><%= f.select :coverage_id, Coverage.all.order(:name_french).collect{|s| [s.name_french, s.id]}.sort_by { |k, v| k }.to_h, {include_blank: true}, class: 'selectpicker form-control' %></td>
      </tr>


      <tr class="form-group">
        <th><%= f.label :activated_at, 'Activation Date :', class: 'control-label' %></th>
        <td><%= f.text_field :activated_at, class: 'form-control datepicker', :value => @service.activated_at.try(:strftime, '%Y-%m-%d') %></td>
      </tr>

      <tr class="form-group">
        <th><%= f.label :deactivated_at, 'Termination Date :', class: 'control-label' %></th>
        <td><%= f.text_field :deactivated_at, class: 'form-control datepicker', :value => @service.deactivated_at.try(:strftime, '%Y-%m-%d') %></td>
      </tr>

      <tr><td></td><td><%= f.submit 'Save Changes' %></td></tr>

      <tr class="form-group">
        <th><%= f.label :phone_mac_addr, 'MAC Address :', class: 'control-label' %></th>
        <td><%= f.text_field :phone_mac_addr, class: 'form-control' %></td>
      </tr>

      <tr class="form-group">
        <th><%= f.label :phone_type_id, 'Phone Type :', class: 'control-label' %></th>
        <td><%= f.text_field :phone_type_id, class: 'form-control' %></td>
      </tr>

      <tr class="form-group">
        <th><%= f.label :sip_username, 'SIP Username :', class: 'control-label' %></th>
        <td><%= f.text_field :sip_username, class: 'form-control' %></td>
      </tr>

      <tr class="form-group">
        <th><%= f.label :e911_notes, 'E911 Notes :', class: 'control-label' %></th>
        <td><%= f.text_field :e911_notes, class: 'form-control' %></td>
      </tr>

      <tr class="form-group">
        <th><%= f.label :e911_tested, 'E911 Tested :', class: 'control-label' %></th>
        <td><%= f.text_field :e911_tested, class: 'form-control' %></td>
      </tr>

      <tr class="form-group">
        <th><%= f.label :e911_tested_by_id, 'E911 Tested By :', class: 'control-label' %></th>
        <td><%= f.text_field :e911_tested_by_id, class: 'form-control' %></td>
      </tr>

      <tr class="form-group">
        <th><%= f.label :e911_tested_date, 'E911 Tested Date :', class: 'control-label' %></th>
        <td><%= f.text_field :e911_tested_date, class: 'form-control' %></td>
      </tr>

      <tr class="form-group">
        <th><%= f.label :email, 'Email :', class: 'control-label' %></th>
        <td><%= f.text_field :email, class: 'form-control' %></td>
      </tr>

      <tr class="form-group">
        <th><%= f.label :ipaddress, 'IP Address :', class: 'control-label' %></th>
        <td><%= f.text_field :ipaddress, class: 'form-control' %></td>
      </tr>

      <tr class="form-group">
        <th><%= f.label :connectiontype_id, 'Connection Type :', class: 'control-label' %></th>
        <td><%= f.text_field :connectiontype_id, class: 'form-control' %></td>
      </tr>

      <tr class="form-group">
        <th><%= f.label :sip_password, 'SIP Password :', class: 'control-label' %></th>
        <td><%= f.text_field :sip_password, class: 'form-control' %></td>
      </tr>

      <tr class="form-group">
        <th><%= f.label :virtualdid, 'Virtual DID :', class: 'control-label' %></th>
        <td><%= f.text_field :virtualdid, class: 'form-control' %></td>
      </tr>

      <tr class="form-group">
        <th><%= f.label :voicemailportal, 'Voicemail Portal :', class: 'control-label' %></th>
        <td><%= f.text_field :voicemailportal, class: 'form-control' %></td>
      </tr>

      <tr class="form-group">
        <th><%= f.label :callerid, 'Caller ID :', class: 'control-label' %></th>
        <td><%= f.text_field :callerid, class: 'form-control' %></td>
      </tr>

      <tr class="form-group">
        <th><%= f.label :huntgroup, 'Hunt Group :', class: 'control-label' %></th>
        <td><%= f.text_field :huntgroup, class: 'form-control' %></td>
      </tr>

      <tr class="form-group">
        <th><%= f.label :autocreate, 'Autocreate :', class: 'control-label' %></th>
        <td><%= f.text_field :autocreate, class: 'form-control' %></td>
      </tr>

      <tr class="form-group">
        <th><%= f.label :firstname, 'First Name :', class: 'control-label' %></th>
        <td><%= f.text_field :firstname, class: 'form-control' %></td>
      </tr>

      <tr class="form-group">
        <th><%= f.label :lastname, 'Last Name :', class: 'control-label' %></th>
        <td><%= f.text_field :lastname, class: 'form-control' %></td>
      </tr>

      <tr class="form-group">
        <th><%= f.label :calling_firstname, 'Calling First Name :', class: 'control-label' %></th>
        <td><%= f.text_field :calling_firstname, class: 'form-control' %></td>
      </tr>

      <tr class="form-group">
        <th><%= f.label :calling_lastname, 'Calling Last Name :', class: 'control-label' %></th>
        <td><%= f.text_field :calling_lastname, class: 'form-control' %></td>
      </tr>



    </table>
  </div>

  <%= f.submit 'Save Changes' %>

  <%# content_for :footer, flush: true do %>
    <%# link_to 'Save Changes', '#', id: 'edit-phone-fake-submit', class: 'btn btn-primary' %>
  <%# end %>
<% end %>
