<!-- This form at services/_service.html.erb is used for showing a service -->
<%= form_for(@service.object) do |f| %>
    <% @service.object.attributes.each do |attr_name, attr_value| %>
      <tr class="form-group">
        <th><%= f.label attr_name, attr_name.to_s, class: 'control-label' %></th>
        <td><%= f.text_field attr_name, class: 'form-control' %></td>
      </tr>

    <% end %>
<% end %>
