<%= render layout: 'shared/box', locals: { title: "#{icon 'phone'} Services".html_safe, footer: link_to('Add Phone', '#', class: 'btn btn-xs btn-box btn-default') } do %>
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover table-condensed">
      <thead>
        <tr>
          <th><%= titleize 'Site' %></th>
          <th><%= titleize 'Phone Number' %></th>
          <th><%= titleize 'Extension' %></th>
          <th><%= titleize 'voicemail_number' %></th>
          <th><%= titleize 'access_info' %></th>
          <th><%= titleize 'notes' %></th>
          <th><%= titleize 'activated_at' %></th>
          <th><%= titleize 'deactivated_at' %></th>
          <th><%= titleize 'phone_mac_addr' %></th>
          <th><%= titleize 'phone_type_id' %></th>
          <th><%= titleize 'sip_username' %></th>
          <th><%= titleize 'e911_notes' %></th>
          <th><%= titleize 'e911_tested' %></th>
          <th><%= titleize 'e911_tested_by_id' %></th>
          <th><%= titleize 'e911_tested_date' %></th>
          <th><%= titleize 'did_supplier_id' %></th>
          <th><%= titleize 'email' %></th>
          <th><%= titleize 'ipaddress' %></th>
          <th><%= titleize 'connectiontype_id' %></th>
          <th><%= titleize 'sip_password' %></th>
          <th><%= titleize 'virtualdid' %></th>
          <th><%= titleize 'voicemailportal' %></th>
          <th><%= titleize 'callerid' %></th>
          <th><%= titleize 'huntgroup' %></th>
          <th><%= titleize 'autocreate' %></th>
          <th><%= titleize 'firstname' %></th>
          <th><%= titleize 'lastname' %></th>
          <th><%= titleize 'calling_firstname' %></th>
          <th><%= titleize 'calling_lastname' %></th>
          <th><%= titleize 'foreign_userId' %></th>
          <th><%= titleize 'foreign_pid' %></th>
          <th><%= titleize 'rate_center_id' %></th>
          <th><%= titleize 'human_validation_date' %></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% services.each do |phone| %>
          <tr>
            <td><%= phone.site %></td>
            <td><%= phone.service_id %></td>
            <td><%= phone.extension %></td>
            <td><div class="checkbox"><input type="checkbox" <%= value_to_checked(phone.voicemail_number) %> data-toggle="tooltip" title="<%= phone.voicemail_number %>"></div></td>
            <td><div class="checkbox"><input type="checkbox" <%= value_to_checked(phone.access_info) %> data-toggle="tooltip" title="<%= phone.access_info %>"></div></td>
            <td><div class="checkbox"><input type="checkbox" <%= value_to_checked(phone.notes) %> data-toggle="tooltip" title="<%= phone.notes %>"></div></td>
            <td><div class="checkbox"><input type="checkbox" <%= value_to_checked(phone.activated_at) %> data-toggle="tooltip" title="<%= phone.activated_at %>"></div></td>
            <td><div class="checkbox"><input type="checkbox" <%= value_to_checked(phone.deactivated_at) %> data-toggle="tooltip" title="<%= phone.deactivated_at %>"></div></td>
            <td><div class="checkbox"><input type="checkbox" <%= value_to_checked(phone.phone_mac_addr) %> data-toggle="tooltip" title="<%= phone.phone_mac_addr %>"></div></td>
            <td><div class="checkbox"><input type="checkbox" <%= value_to_checked(phone.phone_type_id) %> data-toggle="tooltip" title="<%= phone.phone_type_id %>"></div></td>
            <td><div class="checkbox"><input type="checkbox" <%= value_to_checked(phone.sip_username) %> data-toggle="tooltip" title="<%= phone.sip_username %>"></div></td>
            <td><div class="checkbox"><input type="checkbox" <%= value_to_checked(phone.e911_notes) %> data-toggle="tooltip" title="<%= phone.e911_notes %>"></div></td>
            <td><div class="checkbox"><input type="checkbox" <%= value_to_checked(phone.e911_tested) %> data-toggle="tooltip" title="<%= phone.e911_tested %>"></div></td>
            <td><div class="checkbox"><input type="checkbox" <%= value_to_checked(phone.e911_tested_by_id) %> data-toggle="tooltip" title="<%= phone.e911_tested_by_id %>"></div></td>
            <td><div class="checkbox"><input type="checkbox" <%= value_to_checked(phone.e911_tested_date) %> data-toggle="tooltip" title="<%= phone.e911_tested_date %>"></div></td>
            <td><div class="checkbox"><input type="checkbox" <%= value_to_checked(phone.did_supplier_id) %> data-toggle="tooltip" title="<%= phone.did_supplier_id %>"></div></td>
            <td><div class="checkbox"><input type="checkbox" <%= value_to_checked(phone.email) %> data-toggle="tooltip" title="<%= phone.email %>"></div></td>
            <td><div class="checkbox"><input type="checkbox" <%= value_to_checked(phone.ipaddress) %> data-toggle="tooltip" title="<%= phone.ipaddress %>"></div></td>
            <td><div class="checkbox"><input type="checkbox" <%= value_to_checked(phone.connectiontype_id) %> data-toggle="tooltip" title="<%= phone.connectiontype_id %>"></div></td>
            <td><div class="checkbox"><input type="checkbox" <%= value_to_checked(phone.sip_password) %> data-toggle="tooltip" title="<%= phone.sip_password %>"></div></td>
            <td><div class="checkbox"><input type="checkbox" <%= value_to_checked(phone.virtualdid) %> data-toggle="tooltip" title="<%= phone.virtualdid %>"></div></td>
            <td><div class="checkbox"><input type="checkbox" <%= value_to_checked(phone.voicemailportal) %> data-toggle="tooltip" title="<%= phone.voicemailportal %>"></div></td>
            <td><div class="checkbox"><input type="checkbox" <%= value_to_checked(phone.callerid) %> data-toggle="tooltip" title="<%= phone.callerid %>"></div></td>
            <td><div class="checkbox"><input type="checkbox" <%= value_to_checked(phone.huntgroup) %> data-toggle="tooltip" title="<%= phone.huntgroup %>"></div></td>
            <td><div class="checkbox"><input type="checkbox" <%= value_to_checked(phone.autocreate) %> data-toggle="tooltip" title="<%= phone.autocreate %>"></div></td>
            <td><div class="checkbox"><input type="checkbox" <%= value_to_checked(phone.firstname) %> data-toggle="tooltip" title="<%= phone.firstname %>"></div></td>
            <td><div class="checkbox"><input type="checkbox" <%= value_to_checked(phone.lastname) %> data-toggle="tooltip" title="<%= phone.lastname %>"></div></td>
            <td><div class="checkbox"><input type="checkbox" <%= value_to_checked(phone.calling_firstname) %> data-toggle="tooltip" title="<%= phone.calling_firstname %>"></div></td>
            <td><div class="checkbox"><input type="checkbox" <%= value_to_checked(phone.calling_lastname) %> data-toggle="tooltip" title="<%= phone.calling_lastname %>"></div></td>
            <td><div class="checkbox"><input type="checkbox" <%= value_to_checked(phone.foreign_userId) %> data-toggle="tooltip" title="<%= phone.foreign_userId %>"></div></td>
            <td><div class="checkbox"><input type="checkbox" <%= value_to_checked(phone.foreign_pid) %> data-toggle="tooltip" title="<%= phone.foreign_pid %>"></div></td>
            <td><div class="checkbox"><input type="checkbox" <%= value_to_checked(phone.rate_center_id) %> data-toggle="tooltip" title="<%= phone.rate_center_id %>"></div></td>
            <td><div class="checkbox"><input type="checkbox" <%= value_to_checked(phone.human_validation_date) %> data-toggle="tooltip" title="<%= phone.human_validation_date %>"></div></td>
            <td>
              <div class="text-right">
                <%= link_to "#{icon 'edit'}".html_safe, edit_service_path(phone), class: 'btn btn-xs btn-warning btn-box' %>
                <%= link_to "#{icon 'remove'}".html_safe, service_path(phone), method: :delete, data: { confirm: "WARNING : DESTRUCTIVE OPERATION\nDeleting phone: #{phone.name} records.\nAre you absolutely sure?" }, class: 'btn btn-xs btn-danger btn-box' %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
