<%= render layout: 'shared/box', locals: { title: "#{icon 'phone'} Services".html_safe } do %>


    <%= form_for(@search, url: client_services_path, method: :get, :html => {:class => ''}) do |f| %>



      <div class="row" style="padding-top:4px">
	<div class="col-md-4">
	  <label class="checkbox-inline">
	    <%= f.check_box :activated %>
	    Activated
	  </label>
	  <label class="checkbox-inline">
	    <%= f.check_box :deactivated %>
	    Deactivated
	  </label>
	</div>
      </div>

      <div class="row search-group search-group-col">

	<div class="col-xs-3">
	  <div class="input-group">
	    <span class="input-group-addon">Rate Plan:</span>
	    <%= f.text_field :rateplan, class: 'form-control' %>
	  </div>

	</div>
	<div class="col-xs-3">
	  <div class="input-group">
	    <span class="input-group-addon">Description:</span>
	    <%= f.text_field :description, class: 'form-control' %>
	  </div>
	</div>
	<div class="col-xs-3">
	  <div class="input-group">
	    <span class="input-group-addon" >Supplier:</span>
	    <%= f.text_field :didsupplier, class: 'form-control' %>
	  </div>
	</div>


      </div> <!-- end row -->

      <div class="row search-group search-group-col" style="padding-top:4px">
	<div class="col-xs-3" style="padding-left:0px;">
	  <div class="row">
	    <div class="col-xs-3" style="padding-right:0px">
	      <span class="input-group-addon selectize-input" >Site:</span>
	    </div>
	    <div class="col-xs-9 selectize-custom" style="padding-left:0px">
	      <%= f.select :site, options_from_collection_for_select(@client.sites.sort_by { |s| s.site_number }, :id, lambda { |s| "#{s.site_number}, #{s.name}"}, @search.site), {:include_blank => true}, class: 'form-control ' %>
	    </div>
	  </div>
	</div>
	<div class="col-xs-3" style="padding-left:0px;">
	  <div class="row">
	    <div class="col-xs-4" style="padding-right:0px">
	      <span class="input-group-addon selectize-input" >Service Type:</span>
	    </div>
	    <div class="col-xs-8 selectize-custom" style="padding-left:0px">
	      <%= f.select :servicetype, options_from_collection_for_select(PhoneServiceType.all.sort_by { |s| s.code }, :id, lambda { |s| "#{s.code}"}, @search.servicetype), {:include_blank => true}, class: 'form-control ' %>
	    </div>
	  </div>
	</div>

	<div class="col-xs-4" style="padding-left:0px;">
	  <div class="row">
	    <div class="col-xs-4" style="padding-right:0px">
	      <span class="input-group-addon selectize-input" >Line of Business</span>
	    </div>
	    <div class="col-xs-8 selectize-custom" style="padding-left:0px">
	      <%= f.select :lineofbusiness, options_from_collection_for_select(LineOfBusiness.all.sort_by { |lob| lob.code }, :id, lambda { |lob| "#{lob.code}"}, @search.lineofbusiness), {:include_blank => true}, class: 'form-control ' %>

	    </div>
	  </div>
	</div>
      </div> <!-- end row -->


      <div class="row search-group search-group-col" style="padding-top:4px">

	<div class="col-xs-3">
	  <div class="input-group">
	    <span class="input-group-addon" >Service ID:</span>
	    <%= f.text_field :serviceid , class: 'form-control' %>
	  </div>
	</div>

	<div class="col-xs-3">
	  <div class="input-group">
	    <span class="input-group-addon" >Start Date:</span>
	    <%= f.text_field :startdate , class: 'form-control datepicker' %>
	  </div>
	</div>

	<div class="col-xs-3">
	  <div class="input-group">
	    <span class="input-group-addon" >End Date:</span>
	    <%= f.text_field :enddate , class: 'form-control datepicker' %>
	  </div>
	</div>

      </div>


      <script>
       $(document).ready(function(){
	 $("[name='service_search[site]']").selectize({ create: true, sortField: 'text'});
       })
      </script>

      <div class="row" style="padding-top:4px">
	<div class="col-md-1">
	  <%= link_to 'reset', url_for(controller: 'services', action: 'index', client_id: @client.id), class: "btn btn-warning" %>
	</div>

	<div class="col-md-1">
	  <%= f.submit "Search", class: 'btn btn-primary' %>
	</div>
      </div>

    <% end %>
    <hr>



  <table class="table table-bordered table-striped table-hover">
    <caption><b>Charges (<%= @results_length %>)</b></caption>
    <thead>
      <tr>
        <!-- <th class="col-md-1">Validation</th> -->
        <th class="col-md-1">Service Status</th>
        <th class="col-md-1">Service ID</th>
        <th class="col-md-1">Service Type</th>
        <th class="col-md-2">Description</th>
        <th class="col-md-1">Site</th>
        <th class="col-md-1">Line of Business</th>
        <th class="col-md-1">Rate plan</th>
        <th class="col-md-1">Supplier</th>
        <th class="col-md-1">Start Date</th>
        <th class="col-md-1">End Date</th>
        <th class="col-md-1"></th>
      </tr>
    </thead>

    <tbody>
      <% @services.each do |service| %>
        <tr>
          <td><%= service.activated? ? 'Active' : 'Inactive' %></td>
          <td><%= service.service_id %><br /><span style="overflow-x:hidden;" title="service.id" ><%= service.id %></span></td>
          <td><%= service.phone_service_type.code if service.phone_service_type %></td>
          <td><%= service.description %></td>
          <td><%= service.site %></td>
          <td><%= service.line_of_business.code %></td>
          <td><%= service.rate_plan.try(:name) %> </td>
          <td><%= service.supplier.try(:name) %></td>
          <td><%= service.start_date.try(:strftime, "%F") %></td>
          <td><%= service.termination_date.try(:strftime, "%F") %></td>
          <td><%= link_to icon("edit"), edit_service_path(service), class: 'btn btn-warning btn-box btn-xs' %></td>
        </tr>
      <% end %>
    </tbody>

    <tfoot>
    </tfoot>
  </table>
  <!-- </div> -->

<div class="box-footer clearfix">
  <%= paginate @services, params: request.parameters %>
  <% pathToNewService = url_for(controller: 'services', action: 'new', client_id: @client.id) %>
  <%= link_to 'Add Service', pathToNewService, class: "btn btn-xs btn-box btn-default" %>


<% end %>
