<div class="row">
  <div class="col-md-6">
    <%= render layout: 'shared/box', locals: { title: "#{icon icon_for('phone')} New service".html_safe } do %>
      <%= render 'form' %>
    <% end %>
  </div>
</div>

