<% if user_signed_in? %>
<li><a href="/otrs">Tickets</a></li>
<!-- <li><a href="/phones">Inventory</a></li> -->
<li><a href="/clients">Clients</a></li>
<li><%= link_to 'Inventory', inventories_path() %></li>
<% end %>
