<div class="box <%= if (defined?(collapsed) and collapsed == true) then 'collapsed-box' end -%> <%= extra_classes if defined? extra_classes -%>" <%= if (defined?(id)) then "id=#{id}" end -%>>
  <%# <div class="box "> %>

  <div class="box-header with-border">
    <h3 class="box-title"><%= title if defined? title -%> </h3>
    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse">
	<i class="fa <%= if (defined?(collapsed) and collapsed == true) then 'fa-plus' else 'fa-minus' end -%>"></i>
      </button>
      <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
    </div>
  </div>
  <!-- /.box-header -->

  <div class="box-body">
    <%= yield %>
  </div>
  <!-- /.box-body -->

  <div class="box-footer clearfix">
    <% if defined? footer %>
      <%= footer %>
    <% elsif content_for? :footer %>
      <%= yield :footer %>
    <% end %>
  </div>
</div>
<!-- /.box -->
