<ol class="breadcrumb">
  <li><%= link_to "#{icon 'dashboard'} Home".html_safe, root_path %></li>
  <% if action_name == 'index' %>
  <li class="active"><%= "#{icon icon_for(controller_name)} #{name_for(controller_name)}".html_safe %></li>
  <% else %>
  <li><%= link_to "#{icon icon_for(controller_name)} #{name_for(controller_name)}".html_safe, safe_url_for(action: 'index', controller: controller_name, only_path: true) %></li>
  <li class="active"><%= "#{icon icon_for(action_name)} #{name_for(action_name)}".html_safe %></li>
  <% end %>
</ol>
