<% if !(flash[:alert].nil? || flash[:alert].empty?) %>
<div id="alert-bar">
  <span class="close-button">
    <%= image_tag('close.png', alt: "close",
              onclick: "$('#alert-bar').fadeOut();".html_safe) %>
  </span>
  <br>
  <p class="message notice"><%= notice %></p>
  <p class="message alert"><%= alert %></p>
</div>
<% end %>
