<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Version</b> 0.1.2
  </div>
  <strong>Copyright &copy;
    <%= Time.now.year %>
    <%= link_to 'IP4B', 'http://ip4b.ca' %>.</strong> All rights reserved.
  <!-- Beaumont RAILS4 <%= $ReleaseNum %> -->
</footer>
