<header class="main-header">
  <!-- Logo -->
  <a href="/" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>IP4B</b></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>IP4B</b></span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">

    <div id="loginmenu" class="pull-right">
      <ul class="nav navbar-nav">
        <%= render 'shared/login_menu' %>
      </ul>
    </div>

    <div id="appmenu" class="pull-left">
      <ul class="nav navbar-nav">
        <%= render 'shared/app_menu' %>
      </ul>
    </div>

    <div class="nav navbar-nav" class="center">
      <li class="stargate header"><a class="inactive"><strong>SG-3 BILLING</strong></a></li>
    </div>

  </nav>
</header>
