<% if user_signed_in? %>
<li><%= link_to current_user.email, edit_user_registration_path, :title => current_user.fullname %></li>
<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
<% else %>
<li><%= link_to "Login", new_user_session_path %></li>
<li><%= link_to "Help",  new_user_registration_path %></li>
<% end %>
<li><a href="#">Language</a></li>
