<div id="<%= html[:id] if defined? html -%>"
     class="modal <%= html[:class] if defined? html -%>">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span></button>
        <h4 class="modal-title"><%= title if defined? title %></h4>
      </div>

      <div class="modal-body">
        <%= yield %>
      </div>

      <div class="modal-footer">
        <% if defined? footer %>
          <%= footer %>
        <% elsif content_for? :footer %>
          <%= yield :footer %>
        <% end %>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
