<div id="navigation">
  <ul class="sidebar-menu">
    <!-- <li class="header">MAIN NAVIGATION</li> -->

<% if nil %>
    <% if can? :read, Btn %>
      <li><%= link_to "#{icon(icon_for 'btn')} BTNs".html_safe, btns_path %></li>
    <% end %>

    <% if can? :read, Service %>
      <li><%= link_to "#{icon(icon_for 'phone')} Services".html_safe, phones_path %></li>
    <% end %>

    <% if can? :read, Client %>
    <li><%= link_to "#{icon(icon_for 'client')} Clients".html_safe, clients_path %></li>
    <% end %>

    <% if can? :read, Site %>
      <li><%= link_to "#{icon(icon_for 'site')} Sites".html_safe, sites_path %></li>
    <% end %>

    <%# if can? :read, Building %>
      <!-- <li><%# link_to "#{icon(icon_for 'building')} Buildings".html_safe, buildings_path %></li> -->
    <%# end %>

    <%# if can? :read, RateCenter %>
      <!-- <li><%# link_to "Rate Centers", rate_centers_path %></li> -->
    <%# end %>

    <%# if can? :read, NorthAmericanExchange %>
      <!-- <li><%# link_to "NA Exchanges", north_american_exchanges_path %></li> -->
    <%# end %>

    <%# if can? :read, Call %>
      <!-- <li><%# link_to "Call records", calls_path %></li> -->
    <%# end %>

    <%# if can? :read, Cdr %>
      <!-- <li><%# link_to "CDR records", cdrs_path %></li> -->
    <%# end %>

    <%# if can? :read, Datasource %>
      <!-- <li><%# link_to "Datasources", datasources_path %></li> -->
    <%# end %>

    <%# if can? :read, Service %>
      <!-- <li><%# link_to "Services", services_path %></li> -->
    <%# end %>

    <%# if can? :read, Admin::User %>
      <!-- <li><%# link_to "Users", admin_users_path %></li> -->
    <%# end %>

    <li class="last"><a href="#">Help</a></li>
<% end %>
  </ul>
</div>
