    <div class="col-md-4">
      <form id="client_<%= ressourceName %>_sites_select" class="form-horizontal auto-submit">
        <label class="control-label">Site</label>
        <%= select_tag :site_id, content_tag(:option, 'Show all sites', value: "all")+options_from_collection_for_select(@selectable_sites.order(:site_number), "id", "to_s_withSiteNum", selected: @selected_site.try(:id)), class: 'selectpicker form-control' %>
        <input type="submit" class="hide"></input>
      </form>
    </div>

