<div id="topnav">
  <div id="logo">
    <p><a href="/" title="Top">top</a></p>
  </div>

  <div id="appmenu">
    <%= render 'shared/app_menu' %>
  </div>

  <p class="stargate">SG-3 BILLING</p>

  <ul id="loginmenu">
    <%= render 'shared/login_menu' %>
  </ul>
</div>
