<h1>Listing system_variables</h1>

<table>
  <tr>
    <th>Variable</th>
    <th>Value</th>
    <th>Number</th>
  </tr>

<% for system_variable in @system_variables %>
  <tr class=<%= cycle("even","odd") -%>>
    <td><%=h system_variable.variable %></td>
    <td><%=h system_variable.elidedvalue %></td>
    <td><%=h system_variable.number %></td>
    <td><%= link_to 'Show', system_variable %></td>
    <td><%= link_to 'Edit', edit_system_variable_path(system_variable) %></td>
    <td><%= link_to 'Destroy', system_variable, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New system_variable', new_system_variable_path %>
