<h1>New system_variable</h1>

<%= error_messages_for :system_variable %>

<% form_for(@system_variable) do |f| %>
  <p>
    <b>Variable</b><br />
    <%= f.text_field :variable %>
  </p>

  <p>
    <b>Value</b><br />
    <%= f.text_field :value %>
  </p>

  <p>
    <b>Number</b><br />
    <%= f.text_field :number %>
  </p>

  <p>
    <b>Created At</b><br />
    <%=h @system_variable.created_at %>
  </p>

  <p>
    <b>Updated At</b><br />
    <%=h @system_variable.updated_at %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', system_variables_path %>
