<p>
  <b>Variable:</b>
  <%=h @system_variable.variable %>
</p>

<p>
  <b>Value:</b>
  <%=h @system_variable.value %>
</p>

<p>
  <b>Number:</b>
  <%=h @system_variable.number %>
</p>

<p>
  <b>Created At:</b>
  <%=h @system_variable.created_at %>
</p>

<p>
  <b>Updated At:</b>
  <%=h @system_variable.updated_at %>
</p>

<%= link_to 'Edit', edit_system_variable_path(@system_variable) %> |
<%= link_to 'Back', system_variables_path %>
