<%= form_for @phone do |f| %>

  <%= f.hidden_field :btn_id, value: @btn.id %>

  <div class="table-responsive">
    <table class="table table-bordered">

      <tr class="form-group">
        <th><%= f.label :site_id, 'Site :', class: 'control-label' %></th>
        <td>
          <%= f.select :site_id, options_from_collection_for_select(@client.sites, :id, :name), {}, class: ' form-control' %>
        </td>
      </tr>

      <tr class="form-group">
        <th><%= f.label :service_id, 'mber :', class: 'control-label' %></th>
        <td><%= f.text_field :service_id, class: 'form-control' %></td>
      </tr>

      <tr class="form-group">
        <th><%= f.label :extension, 'Extension :', class: 'control-label' %></th>
        <td><%= f.text_field :extension, class: 'form-control' %></td>
      </tr>

      <tr class="form-group">
        <th><%= f.label :activated_at, 'Activation Date :', class: 'control-label' %></th>
        <td><%= f.text_field :activated_at, class: 'form-control', value: default_to(@phone, :activated_at, Time.now) %></td>
      </tr>

      <tr class="form-group">
        <th><%= f.label :deactivated_at, 'Termination Date :', class: 'control-label' %></th>
        <td><%= f.text_field :deactivated_at, class: 'form-control' %></td>
      </tr>

      <tr class="form-group">
        <th><%= f.label :local_rate_plan_id, 'Local Rate Plan :', class: 'control-label' %></th>
        <td>
          <%= f.select :local_rate_plan_id, options_from_collection_for_select(LocalRatePlan.all, :name, :id), {}, class: ' form-control' %>
        </td>
      </tr>

      <tr class="form-group">
        <th><%= f.label :national_rate_plan_id, 'National Rate Plan :', class: 'control-label' %></th>
        <td>
          <%= f.select :national_rate_plan_id, options_from_collection_for_select(NationalRatePlan.all, :name, :id), {}, class: ' form-control' %>
        </td>
      </tr>

      <tr class="form-group">
        <th><%= f.label :world_rate_plan_id, 'World Rate Plan :', class: 'control-label' %></th>
        <td>
          <%= f.select :world_rate_plan_id, options_from_collection_for_select(InternationalRatePlan.all, :name, :id), {}, class: ' form-control' %>
        </td>
      </tr>

      <tr class="form-group">
        <th><%= f.label :firstname, 'First Name :', class: 'control-label' %></th>
        <td><%= f.text_field :firstname, class: 'form-control' %></td>
      </tr>

      <tr class="form-group">
        <th><%= f.label :lastname, 'Last Name :', class: 'control-label' %></th>
        <td><%= f.text_field :lastname, class: 'form-control' %></td>
      </tr>

      <tr class="form-group">
        <th><%= f.label :rate_center_id, 'Rate Center :', class: 'control-label' %></th>
        <td>
          <%= f.select :rate_center_id, options_from_collection_for_select(RateCenter.all, :name, :id), {}, class: ' form-control' %>
        </td>
      </tr>
    </table>
  </div>


  <%= f.submit 'Add Service', class: 'btn btn-primary btn-box' %>

<% end %>
