<a name="servicesList"></a>
<%= render layout: 'shared/box', locals: { title: "Services (#{@phones_count})" , id: "services_widget"  } do %>
  <div class="row">
  <div class="form-group">
    <div class="col-md-4">
      <% if deactivated_phones? %>
        <label class="control-label">Listing Deactivated Services</label>
        <%= link_to 'Show Activated', client_show_safe_params.merge(deactivated_phones: 0), class: 'btn btn-default btn-box form-control' %>
      <% else %>
        <label class="control-label">Listing Activated Services</label>
        <%= link_to 'Show Deactivated', client_show_safe_params.merge(deactivated_phones: 1), class: 'btn btn-default btn-box form-control' %>
      <% end %>
    </div>

    <%= render :file => 'shared/_site_picker.html.erb', :locals => {:ressourceName => 'services'} %>

    <div class="col-md-4">
    </div>

  </div>
  </div>

  <div class="charges_scroll">

  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <!-- <th class="col-md-1">Validation</th> -->
        <th class="col-md-1">Service Status</th>
        <th class="col-md-1">Service ID</th>
        <th class="col-md-1">Service Type</th>
        <th class="col-md-2">Description</th>
        <th class="col-md-1">Site</th>
        <th class="col-md-1">Line of Business</th>
        <th class="col-md-1">Rate plan</th>
        <th class="col-md-1">Supplier</th>
        <th class="col-md-1">Start Date</th>
        <th class="col-md-1">End Date</th>
        <th class="col-md-1"></th>
      </tr>
    </thead>

    <tbody>
      <% @phones.each do |service| %>
        <tr>
          <!-- <td>
            <%# form_for service do |f| %>
              <%# if service.human_validation_date %>
                <%# f.check_box :human_validation_date, checked: true, title: service.human_validation_date.to_s(:long), data: { toggle: 'tooltip' } %>
              <%# else %>
                <%# f.check_box :human_validation_date, checked: false %>
              <%# end %>
              <%# f.submit :validate, class: 'hide' %>
            <%# end %>
          </td> -->
          <td><%= service.activated? ? 'Active' : 'Inactive' %></td>
          <td><%= service.service_id %><br /><span style="overflow-x:hidden;" title="service.id" ><%= service.id %></span></td>
          <td><%= service.phone_service_type %></td>
          <td><%= service.description %></td>
          <td><%= service.site %></td>
          <td><%= service.line_of_business %></td>
          <td><%= service.rate_plan.try(:name) %> </td>
          <td><%= service.supplier.try(:name) %></td>
          <td><%= service.start_date.try(:strftime, "%F") %></td>
          <td><%= service.termination_date.try(:strftime, "%F") %></td>
          <td><%= link_to icon("edit"), edit_service_path(service), class: 'btn btn-warning btn-box btn-xs' %></td>
        </tr>

      <% end %>
    </tbody>

    <tfoot>
    </tfoot>
  </table>
</div>

  <%# I don't thik we use this anymore.  Add phone model replaced with add service page t13439 %>
  <% content_for :footer, flush: true do %>
    <% pathToNewService = url_for(controller: 'services', action: 'new', client_id: @client.id) %>
    <%= link_to 'Add Service', pathToNewService, class: "btn btn-xs btn-box btn-default" %>
    <%= link_to 'Search', client_services_path(@client), class: "btn btn-xs btn-box btn-default" %>
    <%= paginate(@phones, param_name: :phones_page) %>
    <% if false %>
      <%= render layout: 'shared/modal', locals: { title: 'Add Service', html: { id: 'add-phone-modal' }, footer: ''} do %>
	<%= render 'clients/phones/form' %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
