<div class="charges_scroll">

  <div class="form-group">
    <div class="col-md-4">
	    <%= link_to 'New Inventory Item', mod_new_inventory_path(@inventory.id, :inventoryType => "circuit", :backId => @inventory.id, :siteId => @inventory.site_id), class: 'btn btn-default btn-box control' %>
    </div>
  </div>

  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th class="col-md-1"></th>
        <th class="col-md-2">Status</th>
        <th class="col-md-2">Agreement Number</th>
        <th class="col-md-2">Parent Agreement Number</th>
        <th class="col-md-2">Auto Renewal Number</th>
        <th class="col-md-2">Circuit Number Logique</th>
        <th class="col-md-2">Circuit Number Physique</th>
        <th class="col-md-2">Z End</th>
        <th class="col-md-2">Upload Speed</th>
        <th class="col-md-2">Download Speed</th>
	<th class="col-md-2">Term</th>
	<th class="col-md-2">Start Date</th>
        <th class="col-md-2">Expiry Date</th>
      </tr>
    </thead>

    <tbody>
    <% @inventory.list_by_site_and_by_type(@inventory.id,'circuit').each do |item| %>  
        <tr>
	  <td><%= link_to icon("edit"), edit_inventory_path(item['id'], :inventoryType => "circuit", :backId => item['id'], :siteId => item['site_id']), class: 'btn btn-warning btn-box btn-xs' %></td>
          <td><span><%= @inventory.inventory_status(item['inventory_status_id']) %></span></td>
          <td><span><%= item['agreement_num'] %></span></td>
          <td><span><%= item['parent_agreement_num'] %></span></td>
          <td><span><%= item['auto_renewal_num'] %></span></td>
          <td><span><%= item['circuit_num_logique'] %></span></td>
          <td><span><%= item['circuit_num_physique'] %></span></td>
          <td><span><%= item['z_end'] %></span></td>
          <td><span><%= item['upload_speed'] %></span></td>
          <td><span><%= item['download_speed'] %></span></td>
          <td><span><%= item['term'] %></span></td>
          <td><span><%= item['start_date'] %></span></td>
          <td><span><%= item['expiry_date'] %></span></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

