<table id="client-info-table" class="table table-condensed">
  <tbody>
    <tr id="client-btn">
        <th>BTN&nbsp;:</th>
        <td><span class="form-control"><%= @inventory.btn_billingtelephonenumber(@inventory.id) %></span></td>
    </tr>


    <tr id="client-name">
      <th>Name&nbsp;:</th>
      <td><span class="form-control"><%= @inventory.client_name(@inventory.id)  %></span></td>
    </tr>

    <tr id="client-address">
      <th>Billing Address&nbsp;:</th>
      <td>
	  <span class="form-control" style="height: auto;">
		<% @inventory.client_address_full(@inventory.id).each do |line|  %>
		  <%= line %><br>
	  	<% end %>
	  </span>
      </td>
    </tr>

    <tr id="client-language">
      <th>Language&nbsp;:</th>
      <td><span class="form-control"><%= @inventory.client_language_preference(@inventory.id)  %></span></td>
    </tr>

    <tr id="client-service_level">
	<th>Service Level&nbsp;:</th>
	<td><span class="form-control">
		<% if @inventory.client_service_level(@inventory.id) == 1 %> 
			<i class="fa fa-star"></i>
		<% elsif @inventory.client_service_level(@inventory.id) == 2 %> 
			<i class="fa fa-star"></i><i class="fa fa-star"></i>
		<% elsif @inventory.client_service_level(@inventory.id) == 3 %> 
			<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
		<% end %>
	</span></td>
    </tr>

    <tr id="client-status">
      <th>Status&nbsp;:</th>
      <td><span class="form-control"><%= titleize(@inventory.client_status(@inventory.id))  %></span></td>
    </tr>

  </tbody>
</table>
