<table id="client-info-table" class="table table-condensed">
  <tbody>
    <tr id="client-btn">
      <th class="col-md-3">BTN&nbsp;:</th>
      <td class="col-md-9"><span class="form-control">BTN</span></td>
    </tr>

    <tr id="client-name">
      <th>Name&nbsp;:</th>
      <td><span class="form-control">Client Name</span></td>
    </tr>

    <tr class="form-group">
      <th>
        Address&nbsp;:
      </th>
      <td>
	      Address
      </td>
    </tr>

  </tbody>
  <tfoot>
    <tr class="form-group">
      <th></th>
      <td>
	 edit buttons ...
      </td>
    </tr>
  </tfoot>
</table>
