<div class="charges_scroll">

  <div class="form-group">
    <div class="col-md-4">
	    <%= link_to 'New Inventory Item', mod_new_inventory_path(@inventory.id, :inventoryType => "core_interface_client_fibre", :backId => @inventory.id, :siteId => @inventory.site_id), class: 'btn btn-default btn-box control' %>
    </div>
  </div>

  <table class="table table-bordered table-striped table-hover" style="width: 3000px; max-width: none;" >
    <thead>
      <tr>
        <th class="col-md-20"></th>
        <th class="col-md-20">Status</th>
	<th class="col-md-20">Email</th>         
	<th class="col-md-20">Device</th>                    
	<th class="col-md-20">Adresse IP LAN Data</th>       
	<th class="col-md-20">Adresse IP LAN VOIP</th>       
	<th class="col-md-20">Adresse IP link Data</th>      
	<th class="col-md-20">Adresse IP link VOIP</th>      
	<th class="col-md-20">Adresse IPv6 lan Data</th>     
	<th class="col-md-20">Adresse IPv6 lan VOIP</th>     
	<th class="col-md-20">Adresse IPv6 link Data</th>    
	<th class="col-md-20">Adresse IPv6 link VOIP</th>    
	<th class="col-md-20">Router Principal</th>          
	<th class="col-md-20">Router VRRP</th>               
	<th class="col-md-20">Sous Interface Data</th>       
	<th class="col-md-20">Sous Interface Voip</th>       
	<th class="col-md-20">Sous Interface Voip vrrp</th>  
	<th class="col-md-20">Vlan Data Q in Q</th>          
	<th class="col-md-20">Vlan Supplier</th>             
	<th class="col-md-20">Vlan Voip Q in Q</th>          
	<th class="col-md-20">VRRP ID</th>                   
      </tr>
    </thead>

    <tbody>
	    <% @inventory.list_by_site_and_by_type(@inventory.id,"core_interface_client_fibre").each do |item| %>  
        <tr>
	   <td><%= link_to icon("edit"), edit_inventory_path(item['id'], :inventoryType => "core_interface_client_fibre", :backId => item['id'], :siteId => item['site_id']), class: 'btn btn-warning btn-box btn-xs' %></td>
          <!--<td><%= link_to icon("edit"), edit_inventory_path(@inventory), class: 'btn btn-warning btn-box btn-xs' %></td>--!>
          <td><span><%= @inventory.inventory_status(item['inventory_status_id']) %></span></td>
	   <td><span><%= item['email_of_courrier'] %></span></td>         
	   <td><span><%= item['device'] %></span></td>                    
	   <td><span><%= item['adresse_ip_lan_data'] %></span></td>       
	   <td><span><%= item['adresse_ip_lan_voip'] %></span></td>       
	   <td><span><%= item['adresse_ip_link_data'] %></span></td>      
	   <td><span><%= item['adresse_ip_link_voip'] %></span></td>      
	   <td><span><%= item['adresse_ipv6_lan_data'] %></span></td>     
	   <td><span><%= item['adresse_ipv6_lan_voip'] %></span></td>     
	   <td><span><%= item['adresse_ipv6_link_data'] %></span></td>    
	   <td><span><%= item['adresse_ipv6_link_voip'] %></span></td>    
	   <td><span><%= item['router_principal'] %></span></td>          
	   <td><span><%= item['router_vrrp'] %></span></td>               
	   <td><span><%= item['sous_interface_data'] %></span></td>       
	   <td><span><%= item['sous_interface_voip'] %></span></td>       
	   <td><span><%= item['sous_interface_voip_vrrp'] %></span></td>  
	   <td><span><%= item['vlan_data_q_in_q'] %></span></td>          
	   <td><span><%= item['vlan_supplier'] %></span></td>             
	   <td><span><%= item['vlan_voip_q_in_q'] %></span></td>          
	   <td><span><%= item['vrrp_id'] %></span></td>                   
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

