<%= form_for(inventory) do |f| %>
  <% if inventory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>

      <ul>
      <% inventory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table table-condensed">
  <tbody>

  <!-- Removed fields that are queried from other tables and put them in as non-editable. --!> 

  <tr class="form-group"> 
  <th><%= f.label :inventory_type, 'Inventory Type' %>&nbsp;:</th>
     	<td><%= f.text_field :inventory_type, value: params[:inventoryType], readonly: true, class: 'form-control' %>
  </tr>
	    
  <tr class="form-group">
       <td><%= f.hidden_field :site_id, value: params[:siteId] %>
  </tr>

  <tr class="form-group">
      <th><%= f.label :inventory_status_id , 'Status' %>&nbsp;:</th>
    <td><%= f.select :inventory_status_id, @inventory.inventory_status_list, {selected: @inventory.inventory_status_id || 0}, class: 'form-control selectpicker' %>
  </tr>

  <tr class="form-group">
  <th><%= f.label :device, 'Device Name Monitored' %>&nbsp;:</th>
    <td><%= f.text_field :devicenamemonitored, class: 'form-control' %>
  </tr>

  <tr class="form-group">
  <th><%= f.label :activated_at, 'Activated at' %>&nbsp;:</th>
    <td><%= f.text_field :activated_at , class: 'form-control datepicker', :value => @inventory.activated_at %> 
  </tr>

  <tr class="form-group">
  <th><%= f.label :deactivated_at, 'Deactivated at' %>&nbsp;:</th>
    <td><%= f.text_field :deactivated_at , class: 'form-control datepicker', :value => @inventory.deactivated_at %>
  </tr>

  <tfoot>
    <tr class="form-group">
      <th></th>
      <td>
        <%= link_to 'Back', inventory_path(params[:backId]), class: 'btn btn-default btn-box pull-right' %>
        <%= f.submit nil, class: 'btn btn-primary btn-box' %>
      </td>
    </tr>
  </tfoot>

  </tbody>
  </table>
<% end %>
