<%= form_for(inventory) do |f| %>
  <% if inventory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>

      <ul>
      <% inventory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table table-condensed">
  <tbody>

  <!-- Removed fields that are queried from other tables and put them in as non-editable. --!> 

  <tr class="form-group">
  <th>Inventory Type&nbsp;:</th>
     	<td><%= f.text_field :inventory_type, value: params[:inventoryType], class: 'form-control', readonly: true %>
  </tr>

  <tr class="form-group">
          <td><%= f.hidden_field :site_id, value: params[:siteId] %> 
  </tr>

  <tr class="form-group">
      <th><%= f.label :inventory_status_id , 'Status' %>&nbsp;:</th>
    <td><%= f.select :inventory_status_id, @inventory.inventory_status_list, {selected: @inventory.inventory_status_id || 0}, class: 'form-control selectpicker' %>
  </tr>

  <tr class="form-group">
    <th>Email&nbsp;:</th>
    <td><%= f.text_field :email_of_courrier, class: 'form-control' %>
  </tr>

  <tr class="form-group">
        <th>Device&nbsp;:</th>
    <td><%= f.select :device, @inventory.inventory_device_list, {selected: @inventory.device || ''}, class: 'form-control selectpicker' %>
  </tr>
  
  <tr class="form-group">
        <th>Supplier&nbsp;:</th>
    <td><%= f.select :did_supplier_id, @inventory.did_supplier_list, {selected: @inventory.did_supplier_id || 0}, class: 'form-control selectpicker' %>
  </tr>

  <tr class="form-group">
    <th>Adresse IP LAN Data&nbsp;:</th>
    <td><%= f.text_field :adresse_ip_lan_data, class: 'form-control' %>
  </tr>

  <tr class="form-group">
    <th>Adresse IPv6 LAN Data&nbsp;:</th>
    <td><%= f.text_field :adresse_ipv6_lan_data, class: 'form-control' %>
  </tr>

    <tr class="form-group">
            <th>Router Principal&nbsp;:</th>
            <td><%= f.select :router_principal, @inventory.inventory_router_principal_list, {selected: @inventory.router_principal || ''}, class: 'form-control selectpicker' %>
    </tr>

  <tr class="form-group">
    <th>Sous Interface Data&nbsp;:</th>
    <td><%= f.text_field :sous_interface_data, class: 'form-control' %>
  </tr>

  <tr class="form-group">
    <th>VLAN Supplier&nbsp;:</th>
    <td><%= f.text_field :vlan_supplier, class: 'form-control' %>
  </tr>

  <tr class="form-group">
    <th>Circuit Num&nbsp;:</th>
    <td><%= f.text_field :circuit_num, class: 'form-control' %>
  </tr>

  <tr class="form-group">
    <th>Upload Speed&nbsp;:</th>
    <td><%= f.text_field :upload_speed, class: 'form-control' %>
  </tr>

  <tr class="form-group">
    <th>Download Speed&nbsp;:</th>
    <td><%= f.text_field :download_speed, class: 'form-control' %>
  </tr>

  <tr class="form-group">                                                                                  
        <th>Start Date&nbsp;:</th>          
    <td><%= f.text_field :start_date , class: 'form-control datepicker', :value => @inventory.start_date %> 
  </tr>

    <tr class="form-group">
        <th>Expiry Date&nbsp;:</th>
    <td><%= f.text_field :expiry_date , class: 'form-control datepicker', :value => @inventory.expiry_date %> 
  </tr>

  <tr class="form-group">
  <th><%= f.label :activated_at, 'Activated at' %>&nbsp;:</th>
    <td><%= f.text_field :activated_at , class: 'form-control datepicker', :value => @inventory.activated_at %> 
  </tr>

  <tr class="form-group">
  <th><%= f.label :deactivated_at, 'Deactivated at' %>&nbsp;:</th>
    <td><%= f.text_field :deactivated_at , class: 'form-control datepicker', :value => @inventory.deactivated_at %>
  </tr>

 <tfoot>
    <tr class="form-group">
      <th></th>
      <td>
        <%= link_to 'Back', inventory_path(params[:backId]), class: 'btn btn-default btn-box pull-right' %>
        <%= f.submit nil, class: 'btn btn-primary btn-box' %>
      </td>
    </tr>
  </tfoot>

  </tbody>
  </table>
<% end %>
