<%= form_for(inventory) do |f| %>
  <% if inventory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>

      <ul>
      <% inventory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table table-condensed">
  <tbody>

  <!-- Removed fields that are queried from other tables and put them in as non-editable. --!> 

  <tr class="form-group">
    <th><%= f.label :start_date %>
    <td><%= f.date_select :start_date %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :agreement_num %>
    <td><%= f.text_field :agreement_num %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :auto_renewal_term %>
    <td><%= f.text_field :auto_renewal_term %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :circuit_num_logique %>
    <td><%= f.text_field :circuit_num_logique %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :circuit_num_physique %>
    <td><%= f.text_field :circuit_num_physique %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :download_speed %>
    <td><%= f.text_field :download_speed %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :expiry_date %>
    <td><%= f.date_select :expiry_date %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :parent_agreement_num %>
    <td><%= f.text_field :parent_agreement_num %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :term %>
    <td><%= f.text_field :term %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :upload_speed %>
    <td><%= f.text_field :upload_speed %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :z_end %>
    <td><%= f.text_field :z_end %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :supplier %>
    <td><%= f.text_field :supplier %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :email_of_courrier %>
    <td><%= f.text_field :email_of_courrier %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :adresse_ip_lan_data %>
    <td><%= f.text_field :adresse_ip_lan_data %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :adresse_ip_lan_voip %>
    <td><%= f.text_field :adresse_ip_lan_voip %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :adresse_ip_link_data %>
    <td><%= f.text_field :adresse_ip_link_data %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :adresse_ip_link_voip %>
    <td><%= f.text_field :adresse_ip_link_voip %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :adresse_ipv6_lan_data %>
    <td><%= f.text_field :adresse_ipv6_lan_data %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :adresse_ipv6_lan_voip %>
    <td><%= f.text_field :adresse_ipv6_lan_voip %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :adresse_ipv6_link_data %>
    <td><%= f.text_field :adresse_ipv6_link_data %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :adresse_ipv6_link_voip %>
    <td><%= f.text_field :adresse_ipv6_link_voip %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :device %>
    <td><%= f.text_field :device %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :router_principal %>
    <td><%= f.text_field :router_principal %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :router_vrrp %>
    <td><%= f.text_field :router_vrrp %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :sous_interface_data %>
    <td><%= f.text_field :sous_interface_data %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :sous_interface_voip %>
    <td><%= f.text_field :sous_interface_voip %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :sous_interface_voip_vrrp %>
    <td><%= f.text_field :sous_interface_voip_vrrp %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :vlan_data_q_in_q %>
    <td><%= f.text_field :vlan_data_q_in_q %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :vlan_supplier %>
    <td><%= f.text_field :vlan_supplier %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :vlan_voip_q_in_q %>
    <td><%= f.text_field :vlan_voip_q_in_q %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :vrrp_id %>
    <td><%= f.text_field :vrrp_id %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :address1 %>
    <td><%= f.text_field :address1 %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :city %>
    <td><%= f.text_field :city %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :description %>
    <td><%= f.text_field :description %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :quantity %>
    <td><%= f.text_field :quantity %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :terminate_on %>
    <td><%= f.text_field :terminate_on %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :vl_videotron %>
    <td><%= f.text_field :vl_videotron %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :supplier_num %>
    <td><%= f.text_field :supplier_num %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :customer_sn %>
    <td><%= f.text_field :customer_sn %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :mac_address %>
    <td><%= f.text_field :mac_address %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :compte_fttb %>
    <td><%= f.text_field :compte_fttb %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :installed_on_line %>
    <td><%= f.text_field :installed_on_line %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :numerodereference %>
    <td><%= f.text_field :numerodereference %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :password %>
    <td><%= f.text_field :password %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :realsyncspeeddownload %>
    <td><%= f.text_field :realsyncspeeddownload %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :realsyncspeedupload %>
    <td><%= f.text_field :realsyncspeedupload %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :username %>
    <td><%= f.text_field :username %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :circuit_num %>
    <td><%= f.text_field :circuit_num %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :devicenamemonitored %>
    <td><%= f.text_field :devicenamemonitored %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :inventory_type %>
    <td><%= f.text_field :inventory_type %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :deleted %>
    <%= f.check_box :deleted %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :deleted_at %>
    <td><%= f.datetime_select :deleted_at %>
  </tr>

  <tfoot>
    <tr class="form-group">
      <th></th>
      <td>
        <%= link_to 'Back', inventory_path(inventory.id), class: 'btn btn-default btn-box pull-right' %>
        <%= f.submit nil, class: 'btn btn-primary btn-box' %>
      </td>
    </tr>
  </tfoot>

  </tbody>
  </table>
<% end %>
