<%= form_for(inventory) do |f| %>
  <% if inventory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>

      <ul>
      <% inventory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table table-condensed">
  <tbody>

  <!-- Removed fields that are queried from other tables and put them in as non-editable. --!> 

  <tr class="form-group">
  <th>Inventory Type&nbsp;:</th>
      	<td><%= f.text_field :inventory_type, value: params[:inventoryType], class: 'form-control', readonly: true %>
  </tr>
  
  <tr class="form-group">
     <td><%= f.hidden_field :site_id, value: params[:siteId] %> 
  </tr>

  <tr class="form-group">
      <th><%= f.label :inventory_status_id , 'Status' %>&nbsp;:</th>
    <td><%= f.select :inventory_status_id, @inventory.inventory_status_list, {selected: @inventory.inventory_status_id || 0}, class: 'form-control selectpicker' %>
  </tr>

  <tr class="form-group">
    <th>User Name&nbsp;:</th>
    <td><%= f.text_field :username, class: 'form-control' %>
  </tr>

  <tr class="form-group">
    <th>Password&nbsp;:</th>
    <td><%= f.text_field :password, {value:  @inventory.password_decrypt(@inventory.password) || '' } %>
  </tr>

  <tr class="form-group">
  <th>Description&nbsp;:</th>
    <td><%= f.text_area :description, cols: "35", rows: "5", class: 'form-control' %>
  </tr>

  <tr class="form-group">
  <th>Supplier&nbsp;:</th>
      <td><%= f.select :did_supplier_id, @inventory.did_supplier_list, {selected: @inventory.did_supplier_id || 0}, class: 'form-control selectpicker' %>
  </tr>

  <tr class="form-group">
    <th>Compte FTTB&nbsp;:</th>
    <td><%= f.text_field :compte_fttb, class: 'form-control' %>
  </tr>

  <tr class="form-group">
    <th>Service ID&nbsp;:</th>
    <td><%= f.text_field :service_id, class: 'form-control' %>
  </tr>

  <tr class="form-group">
    <th>Quantity&nbsp;:</th>
    <td><%= f.text_field :quantity, class: 'form-control' %>
  </tr>

  <tr class="form-group">
    <th>Installed on Line&nbsp;:</th>
    <td><%= f.text_field :installed_on_line, class: 'form-control' %>
  </tr>

  <tr class="form-group">
    <th>Numero De Reference&nbsp;:</th>
    <td><%= f.text_field :numerodereference, class: 'form-control' %>
  </tr>

  <tr class="form-group">
    <th>Real Sync Speed Download&nbsp;:</th>
    <td><%= f.text_field :realsyncspeeddownload, class: 'form-control' %>
  </tr>

  <tr class="form-group">
    <th>Real Sync Speed Upload&nbsp;:</th>
    <td><%= f.text_field :realsyncspeedupload, class: 'form-control' %>
  </tr>

  <tr class="form-group">                                                                                  
        <th>Terminate on&nbsp;:</th>                      
    <td><%= f.text_field :terminate_on , class: 'form-control datepicker', :value => @inventory.terminate_on %> 
  </tr>

  <tr class="form-group">                                                                                  
        <th>Start Date&nbsp;:</th>                      
    <td><%= f.text_field :start_date , class: 'form-control datepicker', :value => @inventory.start_date %> 
  </tr>

  <tr class="form-group">
  <th><%= f.label :activated_at, 'Activated at' %>&nbsp;:</th>
    <td><%= f.text_field :activated_at , class: 'form-control datepicker', :value => @inventory.activated_at %> 
  </tr>

  <tr class="form-group">
  <th><%= f.label :deactivated_at, 'Deactivated at' %>&nbsp;:</th>
    <td><%= f.text_field :deactivated_at , class: 'form-control datepicker', :value => @inventory.deactivated_at %>
  </tr>

  <tfoot>
    <tr class="form-group">
      <th></th>
      <td>
        <%= link_to 'Back', inventory_path(params[:backId]), class: 'btn btn-default btn-box pull-right' %>
        <%= f.submit nil, class: 'btn btn-primary btn-box' %>
      </td>
    </tr>
  </tfoot>

  </tbody>
  </table>
<% end %>
