<%= form_for(inventory) do |f| %>
  <% if inventory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>

      <ul>
      <% inventory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Removed fields that are queried from other tables and put them in as non-editable. --!> 

  <table class="table table-condensed">
  <tbody>

  <tr class="form-group">
  <th><%= f.label :inventory_type, 'Inventory Type' %>&nbsp;:</th>
  	<td><%= f.text_field :inventory_type, value: params[:inventoryType], class: 'form-control', readonly: true %>
  </tr>

   
  <tr class="form-group">
        <td><%= f.hidden_field :site_id, value: params[:siteId] %> 
  </tr>

  <tr class="form-group">
      <th><%= f.label :inventory_status_id , 'Status' %>&nbsp;:</th>
    <td><%= f.select :inventory_status_id, @inventory.inventory_status_list, {selected: @inventory.inventory_status_id || 0}, class: 'form-control selectpicker' %>
  </tr>

  <tr class="form-group">
      <th><%= f.label :supplier , 'Supplier' %>&nbsp;:</th>
    <td><%= f.select :did_supplier_id, @inventory.did_supplier_list, {selected: @inventory.did_supplier_id || 0}, class: 'form-control selectpicker' %>
  </tr>


  <tr class="form-group">
    <th><%= f.label :agreement_num , 'Agreement Num' %>&nbsp;:</th>
    <td><%= f.text_field :agreement_num, class: 'form-control' %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :parent_agreement_num , 'Parent Agreement Num' %>&nbsp;:</th>
    <td><%= f.text_field :parent_agreement_num, class: 'form-control' %>
  </tr>

  <tr class="form-group">
      <th><%= f.label :auto_renewal_term , 'Auto Renewal Term' %>&nbsp;:</th>
    <td><%= f.select :auto_renewal_term, @inventory.inventory_auto_renewal_term_list, {selected: @inventory.auto_renewal_term || ''}, class: 'form-control selectpicker' %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :circuit_num_logique , 'Circuit Num Logique' %>&nbsp;:</th>
    <td><%= f.text_field :circuit_num_logique, class: 'form-control' %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :circuit_num_physique , 'Circuit Num Physique' %>&nbsp;:</th>
    <td><%= f.text_field :circuit_num_physique, class: 'form-control' %>
  </tr>

  <tr class="form-group">
  <th><%= f.label :z_end , 'Z End' %>&nbsp;:</th>
    <td><%= f.text_field :z_end, class: 'form-control' %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :upload_speed , 'Upload Speed' %>&nbsp;:</th>
    <td><%= f.text_field :upload_speed, class: 'form-control' %>
  </tr>

  <tr class="form-group">
    <th><%= f.label :download_speed , 'Download Speed' %>&nbsp;:</th>
    <td><%= f.text_field :download_speed, class: 'form-control' %>
  </tr>

  <tr class="form-group">
      <th><%= f.label :term , 'Term' %>&nbsp;:</th>
    <td><%= f.select :term, @inventory.inventory_term_list, {selected: @inventory.term || '5_yr'}, class: 'form-control selectpicker' %>
  </tr>

  <tr class="form-group">                                                                                  
      <th><%= f.label :start_date , 'Start Date' %>&nbsp;:</th>                      
    <td><%= f.text_field :start_date , class: 'form-control datepicker', :value => @inventory.start_date %> 
  </tr>

  <tr class="form-group">
  <th><%= f.label :expiry_date , 'Expiry Date' %>&nbsp;:</th>
    <td><%= f.text_field :expiry_date , class: 'form-control datepicker', :value => @inventory.expiry_date %> 
  </tr>

  <tr class="form-group">
  <th><%= f.label :activated_at, 'Activated at' %>&nbsp;:</th>
    <td><%= f.text_field :activated_at , class: 'form-control datepicker', :value => @inventory.activated_at %> 
  </tr>

  <tr class="form-group">
  <th><%= f.label :deactivated_at, 'Deactivated at' %>&nbsp;:</th>
    <td><%= f.text_field :deactivated_at , class: 'form-control datepicker', :value => @inventory.deactivated_at %> 
  </tr>

  </tbody>

  <tfoot>
    <tr class="form-group">
      <th></th>
      <td>
        <%= link_to 'Back', inventory_path(params[:backId]), class: 'btn btn-default btn-box pull-right' %>
        <%= f.submit nil, class: 'btn btn-primary btn-box' %>
      </td>
    </tr>
  </tfoot>

  </table>
<% end %>


