<div class="charges_scroll">

  <div class="form-group">
    <div class="col-md-4">
	    <%= link_to 'New Inventory Item', mod_new_inventory_path(@inventory.id, :inventoryType => "hsa", :backId => @inventory.id, :siteId => @inventory.site_id), class: 'btn btn-default btn-box control' %>
    </div>
  </div>

  <table class="table table-bordered table-striped table-hover" cellpadding="0" cellspacing="0">
    <thead>
      <tr>
        <th class="col-md-1" style="width:2%"></th>
        <th class="col-md-14">Status</th>
	<th class="col-md-14">Email</th>         
	<th class="col-md-14">Device</th>                    
	<th class="col-md-14">Numero de Reference</th>         
	<th class="col-md-14">Adresse IP LAN Data</th>       
	<th class="col-md-14">Adresse IPv6 lan Data</th>     
	<th class="col-md-14">Router Principal</th>          
	<th class="col-md-14">Sous Interface Data</th>       
	<th class="col-md-14">Vlan Supplier</th>             
	<th class="col-md-14">Circuit Number</th>               
	<th class="col-md-14">Download Speed</th>            
	<th class="col-md-14">Upload Speed</th>              
	<th class="col-md-14">Start Date</th>                
	<th class="col-md-14">Expiry Date</th>               
      </tr>
    </thead>

    <tbody>
    <% @inventory.list_by_site_and_by_type(@inventory.id,'hsa').each do |item| %>  
        <tr>
		<td><%= link_to icon("edit"), edit_inventory_path(item['id'], :inventoryType => "hsa", :backId => item['id'], :siteId => item['site_id']), class: 'btn btn-warning btn-box btn-xs' %></td>
          <!--<td><%= link_to icon("edit"), edit_inventory_path(@inventory), class: 'btn btn-warning btn-box btn-xs' %></td>--!>
          <td><span><%= @inventory.inventory_status(item['inventory_status_id']) %></span></td>
	  <td><span><%= item['email_of_courrier'] %></span></td>         
	  <td><span><%= item['device'] %></span></td>                    
	  <td><span><%= item['numerodereference'] %></span></td>         
	  <td><span><%= item['adresse_ip_lan_data'] %></span></td>       
	  <td><span><%= item['adresse_ipv6_lan_data'] %></span></td>     
	  <td><span><%= item['router_principal'] %></span></td>          
	  <td><span><%= item['sous_interface_data'] %></span></td>       
	  <td><span><%= item['vlan_supplier'] %></span></td>             
	  <td><span><%= item['circuit_num'] %></span></td>               
	  <td><span><%= item['download_speed'] %></span></td>            
	  <td><span><%= item['upload_speed'] %></span></td>              
	  <td><span><%= item['start_date'] %></span></td>                
	  <td><span><%= item['expiry_date'] %></span></td>               
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

