<div class="charges_scroll">

  <div class="form-group">
    <div class="col-md-4">
	    <%= link_to 'New Inventory Item', mod_new_inventory_path(@inventory.id, :inventoryType => "internet_services_pppoe", :backId => @inventory.id, :siteId => @inventory.site_id), class: 'btn btn-default btn-box control' %>
    </div>
  </div>

  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th class="col-md-13"></th>
        <th class="col-md-13">Status</th>
	<th class="col-md-13">Username</th>                  
	<th class="col-md-13">Description</th>               
	<th class="col-md-13">Installed on Line</th>         
	<th class="col-md-13">Compte FTTB</th>               
	<th class="col-md-13">Numero de Reference</th>         
	<th class="col-md-13">Service ID</th>                
	<th class="col-md-13">Quantity</th>                  
	<th class="col-md-13">Real Sync Speed Download</th>     
	<th class="col-md-13">Real Sync Speed Upload</th>       
	<th class="col-md-13">Start Date</th>                
	<th class="col-md-13">Terminate On</th>              
      </tr>
    </thead>

    <tbody>
    <% @inventory.list_by_site_and_by_type(@inventory.id,'internet_services_pppoe').each do |item| %>  
        <tr>
		<td><%= link_to icon("edit"), edit_inventory_path(item['id'], :inventoryType => "internet_services_pppoe", :backId => item['id'], :siteId => item['site_id']), class: 'btn btn-warning btn-box btn-xs' %></td>
          <!--<td><%= link_to icon("edit"), edit_inventory_path(@inventory), class: 'btn btn-warning btn-box btn-xs' %></td>--!>
           <td><span><%= @inventory.inventory_status(item['inventory_status_id']) %></span></td>
	   <td><span><%= item['username'] %></span></td>                  
	   <td><span><%= item['description'] %></span></td>               
	   <td><span><%= item['installed_on_line'] %></span></td>         
	   <td><span><%= item['compte_fttb'] %></span></td>               
	   <td><span><%= item['numerodereference'] %></span></td>         
	   <td><span><%= item['service_id'] %></span></td>                
	   <td><span><%= item['quantity'] %></span></td>                  
	   <td><span><%= item['realsyncspeeddownload'] %></span></td>     
	   <td><span><%= item['realsyncspeedupload'] %></span></td>       
	   <td><span><%= item['start_date'] %></span></td>                
	   <td><span><%= item['terminate_on'] %></span></td>              
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

