<div class="charges_scroll">

  <div class="form-group">
    <div class="col-md-4">
	    <%= link_to 'New Inventory Item', mod_new_inventory_path(@inventory.id, :inventoryType => "internet_services_cable", :backId => @inventory.id, :siteId => @inventory.site_id), class: 'btn btn-default btn-box control' %>
    </div>
  </div>

  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th class="col-md-2" style="width: 5%;"></th>
        <th class="col-md-2" style="width: 10%;">Status</th>
	<th class="col-md-2" style="width: 10%;">Customer SN</th>               
	<th class="col-md-2" style="width: 15%;">Description</th>               
	<th class="col-md-2" style="width: 10%;">Mac Address</th>               
	<th class="col-md-2" style="width: 10%;">Vl Videotron</th>              
	<th class="col-md-2" style="width: 10%;">Service ID</th>                  
	<th class="col-md-2" style="width: 5%;">Quantity</th>                  
	<th class="col-md-2" style="width: 10%;">Terminate On</th>              
	<th class="col-md-2" style="width: 10%;">Start Date</th>                
      </tr>
    </thead>

    <tbody>
    <% @inventory.list_by_site_and_by_type(@inventory.id,'internet_services_cable').each do |item| %>  
        <tr>
		<td><%= link_to icon("edit"), edit_inventory_path(item['id'], :inventoryType => "internet_services_cable", :backId => item['id'], :siteId => item['site_id']), class: 'btn btn-warning btn-box btn-xs' %></td>
           <!--<td><%= link_to icon("edit"), edit_inventory_path(@inventory), class: 'btn btn-warning btn-box btn-xs' %></td>--!>
           <td><span><%= @inventory.inventory_status(item['inventory_status_id']) %></span></td>
	   <td><span><%= item['customer_sn'] %></span></td>               
	   <td><span><%= item['description'] %></span></td>               
	   <td><span><%= item['mac_address'] %></span></td>               
	   <td><span><%= item['vl_videotron'] %></span></td>              
	   <td><span><%= item['service_id'] %></span></td>
	   <td><span><%= item['quantity'] %></span></td>                  
	   <td><span><%= item['terminate_on'] %></span></td>              
	   <td><span><%= item['start_date'] %></span></td>                
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

