
<table class="table table-bordered table-stripped table-hover">
  <thead>
    <tr>
      <th>Customer name</th> 
      <th>BTN</th>
      <th>Site Name</th>
      <th>Site Address</th>
      <th>Site City</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% Inventory.sites_uniq.each do |item| %>
      <tr>
        <td><%= item['client_name']%></td>
        <td><%= item['btn_billingtelephonenumber']%></td>
        <td><%= link_to item['site_name'], inventory_path(item['id']) %></td>
        <td><%= link_to item['address1'], inventory_path(item['id']) %></td>
        <td><%= link_to item['city'], inventory_path(item['id']) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
