<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Export Charges</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <style>
    </style>

    <%#= form_for(@search, url: exports_client_billable_services_path, method: :get, :html => {:class => ''}) do |f| %>
    <%= form_for(@search, url: inventories_path, method: :get, :html => {:class => ''}) do |f| %>

      <!-- SUPPLIER -------------------------------------------------------------------------->
      <div class="row search-group search-group-col">
        <div class="col-md-1" style="width:5%; padding: 6px 12px; ">
          <input type="checkbox" id="cb_supplier">
          All
        </div>

        <div class="col-xs-3" id="supplier-left">
          <div class="input-group">
            <span class="input-group-addon" style="min-width:100px">Supplier:</span>
            <%= f.select :supplierid, options_from_collection_for_select(DIDSupplier.all, :id, lambda { |s| "#{s.name}"}, @search.supplierid), {:include_blank => true}, class: 'form-control ' %>

          </div>
        </div>
        <% if false %>
        <div class="col-md-1" style="width:auto">
          <div class=" input-group">
            <button type="button" class="btn btn-default" id="btn-supplier-select" aria-label="Select input type">
              <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
            </button>
          </div>
        </div>

        <div class="col-xs-3" id="supplier-right">
          <div class=" input-group">
            <span class="input-group-addon" style="min-width:100px">Supplier Text:</span>
            <%= f.text_field :did_supplier, class: 'form-control'  %>
          </div>
        </div>
        <% end %>
      </div>

      <!------------------------------------------------------------------------------------->

      <div class="row" style="padding-top:4px">
        <div class="col-md-1">
          <%= link_to 'reset', url_for(controller: 'billable_services', action: 'exports'), class: "btn btn-warning" %>
        </div>

        <div class="col-md-1">
          <%= f.submit "Search", class: 'btn btn-primary' %>
        </div>

      </div>

    <% end %>
    <hr>

<% if @inventory_index_search.length > 0 %>
<div class="row">
  <div style="overflow-x:auto; width:100%; height:1000px">
    <table class="table table-bordered table-striped table-hover table-condensed small flex-table table-hover">

    <caption><b>Results (<%= @results_length %>/<%= Inventory.all.length %>)</b></caption>
    <thead>
      <tr>
        <% @inventory_index_search[0].to_export_hash.keys.each do |k| %>
          <th><%= k %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @inventory_index_search.each do |bs| %>
        <tr>
          <% bs.to_export_hash.each do |k,v| %>
            <td title="<%= k %>"><%= v %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
<% end %>

  </div>
  <!-- /.box-body -->

  <div class="box-footer clearfix">
    <%# pathToNewBillableService = url_for(controller: 'billable_services', action: 'new', client_id: @client.id) %>
    <%#= link_to 'Add Service', pathToNewBillableService, class: "btn btn-xs btn-box btn-default" %>

    <% if @inventory_index_search.length > 0 %>
      <%= link_to "Get CSV for table", change_current_url_type("json"), class: "btn btn-xs btn-box btn-default" %> <%# We are using json because the CSV type isn't working%>
    <% end %>
    <%= paginate @inventory_index_search, params: request.parameters %>
    <%#= request.parameters[:page] %>
    <%#= link_to_next_page @billable_services, ">", params: request.parameters %>
    <%#= link_to_prev_page @billable_services, "<", params: request.parameters %>


  </div>
</div>

<script>
 var selectize_product= null;
 var selectize_supplier = null;
 $(document).ready(function(){
   //$("[name='billable_service_search[site]']").selectize({ create: true, sortField: 'text'});
   //selectize_product = $("#billable_service_export_search_product").selectize({ create: true, sortField: 'text'});
   selectize_supplier = $("#inventory_index_search_supplierid").selectize({ create: true, sortField: 'text'});

   if($("#inventory_index_search_supplierid").val() == ""){
     $("#cb_supplier").prop('checked',true);
     $(selectize_supplier)[0].selectize.disable();
   }

   $("#cb_supplier").change(function(){
     if(this.checked){
       $(selectize_supplier)[0].selectize.disable();
     } else {
       $(selectize_supplier)[0].selectize.enable();
     }
   })

 })


</script>

