<div>

  <div class="form-group">
    <div class="col-md-4">
	    <%= link_to 'New Inventory Item', mod_new_inventory_path(@inventory.id, :inventoryType => "nagios_ip4b", :backId => @inventory.id, :siteId => @inventory.site_id), class: 'btn btn-default btn-box control' %>
    </div>
  </div>

  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th class="col-md-2" style="width: 5%"></th>
        <th class="col-md-2" style="width: 10%">Status</th>
	<th class="col-md-2" style="width: 85%">Device Name Monitored</th>       
      </tr>
    </thead>

    <tbody>
    <% @inventory.list_by_site_and_by_type(@inventory.id,'nagios_ip4b').each do |item| %>  
        <tr>
		<td><%= link_to icon("edit"), edit_inventory_path(item['id'], :inventoryType => "nagios_ip4b", :backId => item['id'], :siteId => item['site_id']), class: 'btn btn-warning btn-box btn-xs' %></td>
           <!--<td><%= link_to icon("edit"), edit_inventory_path(@inventory), class: 'btn btn-warning btn-box btn-xs' %></td>--!>
           <td><span><%= @inventory.inventory_status(item['inventory_status_id']) %></span></td>
	   <td><span><%= item['devicenamemonitored'] %></span></td>       
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

