<table id="client-info-table" class="table table-condensed">
  <tbody>

    <tr id="site-number">
      <th>Number&nbsp;:</th>
      <td><span class="form-control"><%= @inventory.site_number(@inventory.id) %></span></td>
    </tr>

    <tr id="site-name">
      <th>Name&nbsp;:</th>
      <td><span class="form-control"><%= @inventory.site_name(@inventory.id) %></span></td>
    </tr>

    <tr id="site-address">
      <th >Physical Address&nbsp;:</th>
      <td >
	<span class="form-control" style="height:auto;">
		<% @inventory.site_address_full(@inventory.id).each do |line| %> 
		      <%= line %> <br> 
	      <% end %> 
	      <br>
	</span>
      </td>
    </tr>
    <tr>
	    <th><br><br><br><br></th>
	   <td></td>
    </tr>
    <tr id="site-status">
      <th>Status&nbsp;:</th>
      <td><span class="form-control"><%= @inventory.site_status(@inventory.id) %></span></td>
    </tr>
  </tbody>
</table>
