<h1><%= @inventory.inventory_type_name_pretty(@inventory.id) %></h1>


<div class="col-md-6 col-md-offset-3" style="float:none;">
  <%= render layout: 'shared/box' do %>
    <%= render 'form_' + @inventory.inventory_type, inventory: @inventory %>
  <% end %>
</div>

<!--<%= link_to 'Show', @inventory %> --!>
<!--<%= link_to 'Back', inventories_path %>--!>
