<% content_for :title do %>
  Inventory
<% end -%>

<!--, footer: paginate(inventories)--!>

	<!--<p><%= link_to 'New Inventory Item', new_inventory_path %></p>--!>

<%= render layout: 'shared/box', locals: { title: "Inventory".html_safe  } do %>
  <%= render 'inventories_index_search' %>
<% end %>

<%= render layout: 'shared/box', locals: { title: "Inventory".html_safe  } do %>
  <%= render 'inventories' %>
<% end %>
