<h1>New Inventory</h1>

<div class="col-md-6 col-md-offset-3" style="float:none;">
  <%= render layout: 'shared/box' do %>
    <%= render 'form_' + params[:inventoryType], inventory: @inventory %>
  <% end %>
</div>
