
<div class="row">
  <div class="col-md-6">
    <%= render layout: 'shared/box', locals: { title: "Client".html_safe, footer: '', collapsed: false } do %>
      <%= render 'client' %>
    <% end %>
  </div>

  <div class="col-md-6">
    <%= render layout: 'shared/box', locals: { title: "Site".html_safe, footer: '', collapsed: false } do %>
      <%= render 'site' %>
    <% end %>
  </div>

  <!-- TODO: NEED TO ADD CONTACTS AT SOME POINT --!>

</div>

<!-- Order the following alphabetically --!>
<div class="row">
  <div class="col-md-12">
  <%= render layout: 'shared/box', locals: { title: "Circuit (#{@inventory.list_by_site_and_by_type(@inventory.id,"circuit").count})".html_safe, footer: '', collapsed: true } do %>
      <%= render 'circuit' %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render layout: 'shared/box', locals: { title: "Core Interface Client Fibre (#{@inventory.list_by_site_and_by_type(@inventory.id,"core_interface_client_fibre").count})".html_safe, footer: '', collapsed: true } do %>
      <%= render 'core_interface_client_fibre' %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render layout: 'shared/box', locals: { title: "HSA (#{@inventory.list_by_site_and_by_type(@inventory.id,"hsa").count})".html_safe, footer: '', collapsed: true } do %>
      <%= render 'hsa' %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render layout: 'shared/box', locals: { title: "Internet Services Cable (#{@inventory.list_by_site_and_by_type(@inventory.id,"internet_services_cable").count})".html_safe, footer: '', collapsed: true } do %>
      <%= render 'internet_services_cable' %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render layout: 'shared/box', locals: { title: "Internet Services PPPOE (#{@inventory.list_by_site_and_by_type(@inventory.id,"internet_services_pppoe").count})".html_safe, footer: '', collapsed: true } do %>
      <%= render 'internet_services_pppoe' %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render layout: 'shared/box', locals: { title: "Nagios Client (#{@inventory.list_by_site_and_by_type(@inventory.id,"nagios_client").count})".html_safe, footer: '', collapsed: true } do %>
      <%= render 'nagios_client' %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render layout: 'shared/box', locals: { title: "Nagios IP4B (#{@inventory.list_by_site_and_by_type(@inventory.id,"nagios_ip4b").count})".html_safe, footer: '', collapsed: true } do %>
      <%= render 'nagios_ip4b' %>
    <% end %>
  </div>
</div>

