<%= form_for @payment_invoice do |f| %>

  <%= f.label :amount %>
  <%= f.text_field :amount, class: 'form-control' %>

  <%= f.hidden_field :btn, class: 'form-control' %>

  <%= f.hidden_field :payment, class: 'form-control' %>

  <%= f.hidden_field :invoice, class: 'form-control' %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
