<%= form_for [@client , @email_contact] do |f| %>
  <% if email_contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(email_contact.errors.count, "error") %> prohibited this email_contact from being saved:</h2>

      <ul>
      <% email_contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
  <%= f.label :email, class: 'control-label' %>
  <%= f.text_field :email, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :name, class: 'control-label' %>
  <%= f.text_field :name, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :email_type, class: 'control-label' %>
  <%= f.select :email_type, @email_contact.email_types.sort, {include_blank: true} , { class: 'form-control' } %>
  <%#= f.text_field :email_type, class: 'form-control' %>
</div>

<div class="form-group">
  <label class="control-label" for="email_contact_subscribed">
    <%= f.check_box :subscribed , { class: '' } %>
    Subscribed
  </label>
</div>


<%= f.hidden_field :client_id, value: @client.id %>

  <div class="actions">
    <%= f.submit :class => 'btn btn-primary ' %>
  </div>
<% end %>
