<table id="client-info-table" class="table table-condensed">
  <tbody>
    <tr id="client-btn">
      <th class="col-md-3">BTN&nbsp;:</th>
      <td class="col-md-9"><span class="form-control"><%= client.billingtelephonenumber %></span></td>
    </tr>

    <tr id="client-name">
      <th>Name&nbsp;:</th>
      <td><span class="form-control"><%= client.name %></span></td>
    </tr>

    <tr class="form-group">
      <th>
        Billing Address&nbsp;:
      </th>
      <td>
        <%= @client.billing_address %>
      </td>
    </tr>

    <tr class="form-group">
      <th>Language&nbsp;:</th>
      <td><span class="form-control"><%= client.language_preference %></span></td>
    </tr>

    <tr class="form-group">
      <th>Service Level&nbsp;:</th>
      <td><span class="form-control"><%= client.service_level %></span></td>
    </tr>

    <tr class="form-group">
      <th>Status&nbsp;:</th>
      <td><span class="form-control"><%= status_for(client) %></span></td>
    </tr>

    <tr class="form-group">
      <th>Cycle&nbsp;:</th>
      <td><span class="form-control"><%= client.invoice_cycle %></span></td>
    </tr>

    <tr class="form-group">
      <th>Sales Person&nbsp;:</th>
      <td><span class="form-control"><%= client.sales_person %></span></td>
    </tr>

    <tr class="form-group">
      <th>Note:</th>
      <td><textarea class="form-control" rows="3" style="cursor:text" disabled><%= client.note %></textarea></td>
    </tr>

      <tr class="form-group">
        <th>Coverage&nbsp;:</th>
        <% coverageStr = '' %>
        <% coverageStr = client.coverage.name_french if not client.coverage.nil? %>
        <td><span class="form-control" style="height:100%"><%= coverageStr %></span></td>
      </tr>

      <tr class="form-group">
        <th>Billing Start Date&nbsp;:</th>
        <td><span class="form-control"><%= @client.billing != nil ? "#{date @client.billing.billing_start_date}" : '' %></span></td>
      </tr>

      <tr class="form-group">
        <th>Start Date&nbsp;:</th>
        <td><span class="form-control"><%= @client.billing != nil ? "#{date @client.billing.activated_at}" : '' %></span></td>
      </tr>

    <tr class="form-group">
      <th></th>
      <td>
	<% if false %>
        <%= form_for @client, html: { class: 'needs_review_form form-condensed' } do |f| %>
          <div class="form-group">
            <div class="checkbox">
              <%= f.label :needs_review, class: 'control-label' do %>
                <%= f.check_box :needs_review %> Needs Review
              <% end %>
            </div>
            <%= f.submit :validate, class: 'hidden needs_review_submit' %>
          </div>
        <% end %>

        <%= form_for @client, html: { class: 'human_validation_form form-condensed' } do |f| %>
          <div class="form-group">
            <div class="checkbox">
              <%= f.label :human_validation_date, class: 'control-label' do %>
                <% if @client.human_validation_date %>
                  <%= f.check_box :human_validation_date, checked: true, title: @client.human_validation_date.to_s(:long), data: { toggle: 'tooltip' } %> Validated
                <% else %>
                  <%= f.check_box :human_validation_date, checked: false %> Validated
                <% end %>
              <% end %>
            </div>
            <%= f.submit :validate, class: 'hidden human_validation_submit' %>
          </div>
        <% end %>
	<% end %>
        <% if @client.btn %>
          <%= form_for @client.btn, html: { class: 'invoicing_enabled_form form-condensed' } do |f| %>
            <div class="form-group">
              <div class="checkbox">
                <%= f.label :invoicing_enabled, class: 'control-label' do %>
                  <%= f.check_box :invoicing_enabled %> Is Invoiceable
                <% end %>
              </div>
              <%= f.submit :validate, class: 'hidden invoicing_enabled_submit' %>
            </div>
          <% end %>
        <% end %>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr class="form-group">
      <th></th>
      <td>
        <%= link_to "#{icon 'edit'} Edit".html_safe, edit_client_path(@client), class: 'btn btn-box btn-warning btn-sm pull-right' %>
        <%#= link_to 'Payment History', client_payments_path(@client), class: 'btn btn-box btn-default btn-sm' %>
      </td>
    </tr>
  </tfoot>
</table>
