<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>BTN</th>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>Status</th>
      <th>Invoice Cycle</th>
      <th>Site count</th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.billingtelephonenumber %></td>
        <td><%= link_to client.name, client %></td>
        <td><%= client.billing_address_1 %></td>
        <td><%= client.billing_address_city %></td>
        <td><%= client.status %></td>
        <td><%= client.invoice_cycle %></td>
        <td><%= client.sites.activated.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
