<div class="box box-collapsed">
  <div class="box-header with-border">
    <h3 class="box-title"><%= "#{icon 'users'} Contacts".html_safe %></h3>
    <div class="box-tools pull-right">
      <%= link_to client_contacts_path(@client), class: 'btn btn-box-tool' do %>
        <i class="fa fa-plus"></i>
      <% end %>
      <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
    </div>
  </div>
</div>

<%#= render layout: 'shared/box', locals: { title: "#{icon 'users'} Contacts".html_safe, footer: '' } do %>
  <!-- <table id="client-billing-table" class="table table-condensed">
    <tbody>
      <tr class="form-group">
        <th class="col-md-4">Emails&nbsp;:</th>
        <td class="col-md-8"><span class="form-control"><%= '' %></span></td>
      </tr>

      <tr class="form-group">
        <th>Phone&nbsp;:</th>
        <td><span class="form-control"><%= '' %></span></td>
      </tr>
    </tbody>
  </table> -->
<%# end %>
