<!-- cients/_form.html.erb BEGIN -->
<%= form_for(@client) do |f| %>
  <%= f.fields_for :btn, (@btn ||= Btn.new) do |btnf| %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <%= render layout: 'shared/box', locals: { title: "#{icon 'university'} Client".html_safe } do %>

        <table class="table">

          <tr class="form-group">
            <th class="col-md-3"><%= btnf.label :billingtelephonenumber, 'BTN' %> :</th>
            <td class="col-md-9">
              <%= btnf.text_field :billingtelephonenumber, class: 'form-control', disabled: (@btn.persisted? ? true : false) %>
              <%= errors_for @btn, :billingtelephonenumber %>
            </td>
          </tr>

          <% crm_account = @client.crm_account || @client.crm_account = CrmAccount.new %>
          <%= f.fields_for :crm_account, crm_account do |cf| %>
            <tr class="form-group">
              <th><%= cf.label :name %> :</th>
              <td>
                <%= cf.text_field :name, class: 'form-control' %>
                <%= errors_for @client.crm_account, :name %>
              </td>
            </tr>

            <tr class="form-group">
              <th rowspan="1"><%= cf.label :billing_address_street, 'Billing Address Street 1' %> :</th>
              <td>
                <%= cf.text_field :billing_address_street, class: 'form-control', input_html: { value: @client.crm_account.billing_address_street } %>
                <%= errors_for @client.crm_account, :billing_address_street %>
              </td>
            </tr>

            <tr class="form-group">
              <th><%= cf.label :billing_address_street_2, 'Billing Address Street 2' %> :</th>
              <td>
                <%= cf.text_field :billing_address_street_2, class: 'form-control', input_html: { value: @client.crm_account.billing_address_street_2 } %>
                <%= errors_for @client.crm_account, :billing_address_street_2 %>
              </td>
            </tr>

              <tr class="form-group">
                <th><%= cf.label :billing_address_city, 'City' %> :</th>
                <td>
                  <%= cf.text_field :billing_address_city, class: 'form-control', input_html: { value: @client.crm_account.billing_address_city } %>
                  <%= errors_for @client.crm_account, :billing_address_city %>
                </td>
              </tr>

              <tr class="form-group">
                <td><%= cf.label :billing_address_state, 'Province' %> :</td>
                <td>
                  <%= cf.select :billing_address_state, StatesProvinces::LIST, {selected: @client.crm_account.billing_address_state || 'QC', :include_blank => true}, class: 'form-control selectpicker' %>
                  <%= errors_for @client.crm_account, :billing_address_state %>
                </td>
              </tr>

              <tr class="form-group">
                <td><%= cf.label :billing_address_postalcode, 'Postal Code' %> :</td>
                <td>
                  <%= cf.text_field :billing_address_postalcode, class: 'form-control', input_html: { value: @client.crm_account.billing_address_postalcode } %>
                  <%= errors_for @client.crm_account, :billing_address_postalcode %>
                </td>
              </tr>

              <tr class="form-group">
                <td><%= cf.label :billing_address_country, 'Country' %> :</td>
                <td>
                  <%= cf.text_field :billing_address_country, class: 'form-control', value: @client.crm_account.billing_address_country.blank? ? 'Canada' : @client.crm_account.billing_address_country %>
                  <%= errors_for @client.crm_account, :billing_address_country %>
                </td>
              </tr>

          <% end %>

          <tr class="form-group">
            <th><%= f.label :language_preference, 'Language' %> :</th>
            <td>
              <%= f.select :language_preference, ['French', 'English'], {}, class: 'selectpicker form-control' %>
              <%= errors_for @client, :language_preference %>
            </td>
          </tr>

          <tr class="form-group">
            <th><%= f.label :status, 'Status' %> :</th>
            <td>
              <%= f.select :status, map_status_options_for(@client),
                { selected: @client.status },
                class: 'selectpicker form-control' %>
              <%= errors_for @client, :status %>

              <% if false %>
                  <% #These widets are repeated below, so I don't thik they are needed %>
	              <div class="activation-date hide">
	                <%= f.label :activated_at, class: 'control-label' %>
	                <%= f.text_field :activated_at, class: 'form-control', disabled: true %>
	              </div>

	              <div class="termination-date hide">
	                <%= f.label :deactivated_at, class: 'control-label' %>
	                <%= f.text_field :deactivated_at, class: 'form-control', disabled: true %>
	              </div>
              <% end %>
            </td>
          </tr>

          <tr class="form-group">
            <th><%= btnf.label :invoice_template_id, 'Cycle' %> :</th>
            <td>
              <%= btnf.select :invoice_template_id, InvoiceTemplate.all.order(:invoice_cycle).collect{|t| [t.invoice_cycle, t.id] },
                { selected: @btn.try(:invoice_template_id) || InvoiceTemplate.find_by(invoice_cycle: "999").id }, class: 'selectpicker form-control' %>
              <%= errors_for @btn, :invoice_template_id %>
            </td>
          </tr>

          <tr class="form-group">
            <th><%= f.label :sales_person_id, 'Sales Person' %> :</th>
            <td>
              <%= f.select :sales_person_id, SalesPerson.all.collect{|s| [s.name, s.id]}, { selected: @client.try(:sales_person_id) || SalesPerson.find_by(name: "House Account").id }, class: 'selectpicker form-control' %>
              <%= errors_for @client, :sales_person_id %>
            </td>
          </tr>

          <tr class="form-group">
            <th><%= f.label :service_level, 'Service Level' %> :</th>
            <td>
              <%= f.select :service_level, [["1", 1], ["2", 2], ["3", 3]], { selected: @client.try(:model).try(:service_level) }, class: 'selectpicker form-control', style: "font-family: 'FontAwesome';" %>
              <%= errors_for @client, :service_level %>
            </td>
          </tr>

	  <tr class="form-group">
	    <th><%= f.label :note, 'Note' %> : </th>
	    <td>
	      <%= f.text_area(:note, size: "40x8", class:'form-control') %>
	    </td>
	  </tr>

          <tr class="form-group">
            <th><%= f.label :coverage, 'Coverage' %> :</th>
            <td>
              <%= f.select :coverage_id, Coverage.all.collect {|c| [c.name_french, c.id]},
                { selected: @client.coverage_id },
                class: 'selectpicker form-control' %>
              <%= errors_for @client, :status %>
             </td>
           </tr>

       <% #Checkbox for :invoicing_enabled  %>
        <tr class="form-group">
    <th><%= btnf.label :invoicing_enabled, class: 'control-label' do %>Is Invoiceable?<% end %></th>
            <td><%= btnf.check_box :invoicing_enabled %></td>
        </tr>

	  <tr class="form-group">
	    <th>Statement Type</th>
	    <td>
	      <%= f.collection_check_boxes(:statement_type_ids, StatementType.all.sort_by{ |st| st.name}, :id, :name) do |b| %>
		<div class="row <%= cycle('bg-info','') %>">
		  <div class="col-md-8"><%= b.label %></div><div class="col-md-4"> <%= b.check_box %></div>
		</div>
	      <% end %>
	      <br>
	    </td>
	  </tr>


	  <% billing_account = @client.billing || @client.billing = Billing.new %>
	  <%= f.fields_for :billing, billing_account do |bf| %>
            <tr class="form-group">
              <th><%= bf.label :activated_at, 'Start Date:' %></th>
              <td>
                <%#= bf.text_field :activated_at, class: 'form-control datepicker', input_html: { value: @client.billing.activated_at } %>
                <%= bf.text_field :activated_at, class: 'form-control datepicker', value: ( date @client.billing.activated_at ) %>
                <%#= errors_for @client.billing.activated_at, :activated_at %>
              </td>
            </tr>

            <tr class="form-group">
              <th><%= bf.label :billing_start_date, 'Billing Start Date:' %></th>
              <td>
		<%= bf.text_field :billing_start_date, class: 'form-control datepicker', value: (date @client.billing.billing_start_date) %>
                <%#= errors_for @client.billing.billing_start_date, :billing_start_date %>
              </td>
            </tr>


	  <% end %>

	  <tr class="form-group">
	    <th><%= f.label :deactivated_at, 'Deactivated at:', class: 'control-label' %></th>
	    <td>
	      <div class="row">
		<div class="col-md-8"><%= f.text_field :deactivated_at, class: 'form-control datepicker', value: @client.deactivated_at.try(:strftime, "%Y-%m-%d"), disabled: false %></div>
	      </div>
	    </td>
	  </tr>


          <tfoot>
            <tr>
              <th></th>
              <td>
                <%= link_to 'Back', redirect_back_path || clients_path, class: 'btn btn-default btn-box pull-right' %>
                <%= f.submit nil, class: 'btn btn-primary btn-box' %>
              </td>
            </tr>
          </tfoot>

        </table>
      <% end %>
    </div>
  </div>

  <% end %>
<% end %>
<!-- cients/_form.html.erb END -->
