<%= render layout: 'shared/box', locals: { title: 'Line of Business', footer: '', collapsed: true } do %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Active</th>
        <th>Description</th>
      </tr>
    </thead>

    <tbody>
      <%= form_for(@client) do |f| %>
	<%= f.collection_check_boxes(:line_of_business_ids, LineOfBusiness.all, :id, :code) do |b| %>
	  <tr>
	    <td>
	      <%= b.check_box %>
	    </td>

	    <td>
	      <%= b.label %>
	    </td>
	<% end %>
      <% end %>

<% if nil %>
      <% @client_line_of_businesses.each do |client_line_of_business| %>
        <tr>
          <td>
            <%= form_for(client_line_of_business) do |f| %>
              <%= f.check_box :activated %>
            <% end %>
          </td>
          <td><label><%= client_line_of_business.line_of_business.description %></label></td>
        </tr>

      <% end %>
<% end %>
    </tbody>
  </table>




<% end %>
