<%= render layout: 'shared/box', locals: { title: ('Transaction History ('+String(@client.payments.count) +')' ) , footer: '', collapsed: false } do %>
  <table class="table table-striped table-hover payment_history_table">
    <thead>
      <tr>
        <th>Date</th>
	<th>Type</th>
        <th>Amount</th>
      </tr>
    </thead>
    <% if false %>
    <% @client.payments.reverse.each_with_index do |p,idx| %>
      <% if idx < 4 %>
	<tr>
      <% else %>
	<tr style="display:none" hideme>
      <% end %>
	<td><%= p.date.strftime("%Y-%m-%d") %></td>
	<td>
	  <% if p.transaction_type %>
	    <%= p.transaction_type.typename %>
	  <% end %>
	  <% if p.transaction_method %>:<%= p.transaction_method.methodname %><% end %></td>
	<td><%= money(p.amount) %></td>
      </tr>
    <% end %>
    <% end %>

    <% @client.payments.order(:date).reverse[0..4].each do |p| %>
      <td><%= p.date.strftime("%Y-%m-%d") %></td>
      <td><%= p.transaction_type != nil ?  p.transaction_type.typename : '' %>
	<%= p.transaction_method != nil ? ": #{p.transaction_method.methodname}" : '' %></td>
	<td><%= money(p.amount) %></td>
      </tr>
    <% end %>

    <tbody>

    </tbody>
  </table>
        <%= link_to 'Transaction History', client_payments_path(@client), class: 'btn btn-box btn-default btn-sm' %>
  <% if false %>
  <% if @client.payments.count > 4 %>
    <div class="toggle_hidden btn btn-default btn-sm" >
      <div hidden_label>
	<span lbl><%= @client.payments.count - 4 %> hidden</span>
      </div>
      <div style="display:none" showing_label>
	hide
      </div>
    </div>
  <% end %>
  <% end %>


<% end %>
