<div class="col-xl-6 col-md-9 col-sm-12">
  <%= form_for @client_search, url: clients_path, method: :get do |f| %>
    <div class="input-group">
      <!-- <input type="text" name="query" placeholder="Search query..." class="form-control" autofocus="true" value="<%= query %>"> -->
      <%= f.text_field :query, placeholder: "Search query...", class: 'form-control', autofocus: true, value: client_search_query %>
      <span class="input-group-btn">
        <%= f.submit 'Go', class: 'btn btn-primary btn-flat' %>
        <%= link_to 'Reset', clients_reset_path, method: :post, class: 'btn btn-default btn-flat' %>
      </span>
    </div>

    <div class="form-group">
      <label class="radio-inline"><%= f.radio_button :field, :name, checked: client_search_field == 'name' %> Name</label>
      <label class="radio-inline"><%= f.radio_button :field, :billingtelephonenumber, checked: client_search_field == 'billingtelephonenumber' %> BTN</label>
      <label class="radio-inline"><%= f.radio_button :field, :phone_number, checked: client_search_field == 'phone_number' %> Service</label>
      <span class="vertical-separator hidden-sm hidden-xs">|</span><br class="hidden-md hidden-lg">
      <label class="radio-inline"><%= f.radio_button :status, :active, checked: client_search_status == 'active' %> Active</label>
      <label class="radio-inline"><%= f.radio_button :status, :closed, checked: client_search_status == 'closed' %> Other</label>
      <label class="radio-inline"><%= f.radio_button :status, :either, checked: client_search_status == 'either' %> All</label>
      <span class="vertical-separator hidden-sm hidden-xs">|</span><br class="hidden-md hidden-lg">
      <label class="radio-inline"><%= f.radio_button :invoice, :invoice, checked: client_search_invoice == 'invoice' %> Invoice</label>
      <label class="radio-inline"><%= f.radio_button :invoice, :support, checked: client_search_invoice == 'support' %> Support</label>
      <label class="radio-inline"><%= f.radio_button :invoice, :all, checked: client_search_invoice == 'all' %> All</label>
    </div>

    <!-- <div class="form-group">
      <%# f.select :status, options_for_select([:all, :activated, :active, :closed, :pending_start, :pending_close, :unknown], search_status), class: 'selectpicker form-contorl' %>
      <%# link_to 'Advanced Search', '#', class: 'btn btn-flat btn-default', disabled: true %>
    </div> -->
  <% end %>
</div>
