<div class="slide" id="siteindex">
  <% if @clientsites.count > 0 %>
  <ul class="sitelist">
    <% @clientsites.each do |site| %>
    <li> <%= link_to client_site_path(@client, site) do %>
      <%= site.site_number %>. <%= site.name %>
      <% end %>
    </li>
    <% end %>
  </ul>
  <% else %>
  <%= t('.nosites') %>
  <% end %>
</div>
