<div class="box box-collapsed">
  <div class="box-header with-border">
    <h3 class="box-title"><%= "#{icon(icon_for 'site')} Sites (#{@sites.count} #{'Site'.pluralize(@sites.count)})".html_safe %></h3>
    <div class="box-tools pull-right">
      <%= link_to client_sites_path(@client), class: 'btn btn-box-tool' do %>
        <i class="fa fa-plus"></i>
      <% end %>
      <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
    </div>
  </div>
</div>
