<%= render layout: 'shared/box', locals: { title: ('Statement Type ('+String(@client.statement_types.where.not(:name => "Print").where.not(:name => "Package").count)+ ')' ) , footer: '', collapsed: true } do %>
  <table class="table table-striped table-hover table-condensed ">
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= form_for(@client) do |f| %>
	<%= f.collection_check_boxes(:statement_type_ids, StatementType.all.where.not(:name => "Print").where.not(:name => "Package"), :id, :name) do |b| %>
	  <tr>
	    <td><%= b.label %></td>
	    <td><%= b.check_box disabled: true %></td>
	  </tr>
	<% end %>
      <% end %>
    </tbody>
  </table>
<% end %>
