<% content_for :title do %>
  Clients
<% end -%>

<%= render layout: 'shared/box', locals: { title: "#{icon 'university'} Clients".html_safe, footer: paginate(@clients) } do %>
  <%= render 'search_form' %>

  <%= render 'clients' %>
<% end %>

<%= link_to 'New Client', new_client_path %>
