<% content_for :title do %>
  Clients
<% end -%>

<div class="row">
  <div class="col-md-12">
    <%= render layout: 'shared/box', locals: { title: 'Search' } do %>
      <%= render 'search_form' %>

      <% content_for :footer, flush: true do %>
        <% if @next_client %>
          <%= link_to 'Next Client', @next_client, id: 'next-client', class: 'btn btn-default btn-box btn-sm pull-right' %>
        <% else %>
          <%= link_to 'Next Client', '#', id: 'next-client', class: 'btn btn-default btn-box btn-sm pull-right disabled' %>
        <% end %>

        <% if @previous_client %>
          <%= link_to 'Previous Client', @previous_client, id: 'previous-client', class: 'btn btn-default btn-box btn-sm pull-left' %>
        <% else %>
          <%= link_to 'Previous Client', '#', id: 'previous-client', class: 'btn btn-default btn-box btn-sm pull-left disabled' %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <%= render layout: 'shared/box', locals: { title: "#{icon 'university'} Client".html_safe, footer: '' } do %>
      <%= render @client %>
    <% end %>
  </div>

  <div class="col-md-4">
    <%= render 'billings/billing' %>
  </div>

  <div class="col-md-4">
    <div class="row">
      <div class="col-md-12">
        <%= render 'contacts' %>
      </div>

      <div class="col-md-12">
        <%= render 'line_of_businesses' %>
      </div>

      <div class="col-md-12">
        <%= render 'sites' %>
      </div>

      <div class="col-md-12">
        <%= render 'payment_history' %>
      </div>

      <div class="col-md-12">
        <%= render 'statement_type' %>
      </div>


    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= render 'billable_services/billable_services' %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= render 'clients/phones/phones' %>
  </div>
</div>
