<% linesForTaxBox = 6 %>
<% pageForTaxes = false %>
<% sliceSize = 60 %>
<!-- Monthly charges recurring_charges/_monthlycharges.html.erb -->
<% @billable_services.each_slice(sliceSize) do |billable_services| %>
  <!--  <%= @billable_services.count %> billable_services -->
  <div class="page">
    <div class="container-fluid">
      <%= render 'invoices/shared/customerinfobox' %>

      <table class="table table-striped">
        <!-- Monthly charges in invoices/recurring_charges/_monthlycharges.html.erb -->
        <caption><%=t 'invoices._monthlycharges.monthly_charges' %></caption>
        <thead>
           <tr>
              <th class="text-nowrap" style="width: 16%"><%=t 'invoices._monthlycharges.service' %></th>
              <th class="text-nowrap" style="width: 20%"><%=t 'invoices._monthlycharges.date_range' %></th>
              <th class="text-expand" style="width: 48%"><%=t 'invoices._monthlycharges.description' %></th>
              <th class="text-nowrap text-right" style="width: 8%"><%=t 'invoices._monthlycharges.quantity' %></th>
              <th class="text-nowrap text-right" style="width: 8%"><%=t 'invoices._monthlycharges.total' %></th>
           </tr>
        </thead>

        <tbody>

          <%# Reminder: billable services are called "charges" in business lingo. The underlying table was not renamed as of 2018/05/25 %>

          <%# totalAmount = 0 %>
          <% billable_services.each do |billable_service| %>
            <% billable_service = BillableServiceDecorator.new(billable_service) %>
            <tr class="monthlycharge">
              <td class="mc-service"><%= billable_service.service_id %></td>
              <td class="mc-date">
                <%= [Date.today.beginning_of_month, '/', Date.today.end_of_month].join(' ') =%>
                </td>
              <td class="mc-desc"><%= billable_service.description %> <%= billable_service.identifier %></td>
              <td class="text-nowrap text-right mc-qty"><%= billable_service.qty %></td>
              <!-- <td class="text-nowrap text-right mc-price"><%= money(billable_service.unit_price) %></td> -->
              <td class="text-nowrap text-right mc-total"><%= money(billable_service.total) %></td>
              <%# totalAmount += billable_service.total %>
            </tr>
          <% end %>
          <tr class="total">
            <td class="text-nowrap text-left" colspan=4><%=t 'invoices._monthlycharges.total' %></td>
            <td id="billable-services-total" class="text-nowrap text-right"><%= money(@invoice.billable_services_total) %></td>
            <%# @invoice.checkTotalsAndWarn({"totalAmount for charges": totalAmount, "@invoice.billable_services_total": @invoice.billable_services_total}) %>
          </tr>
        </tbody>
      </table>

    </div>

  <%# Is this the last group? %>
  <% if billable_services.include?(@billable_services.last) %>
  <!-- billable_service / recurring_charges: last group seperation for <%= @billable_services.count %> billable_services -->

    <%# Is there space for taxes? %>
    <% if billable_services.count < (sliceSize - linesForTaxBox*1.5) %>
       <% pageForTaxes = false %>
    <% else %>
       </div>
       <div class="break"><!-- breaking for taxes boxes --></div>
       <% pageForTaxes = true %>
    <% end %>


  <% else %>
    <%# break for the next group %>
    </div>
    <div class="break"><!-- breaking for next billable_services group --></div>
  <% end %>

<% end %>



<%# Force a page break if there are no billable_services (aka recurring / monthly charges) to show #%>
<% pageForTaxes = true if @billable_services.count == 0 %>

<% if pageForTaxes %><div class="page"><% end %>
  <div class="container-fluid">
    <% if pageForTaxes %><%= render 'invoices/shared/customerinfobox' %><% end %>

    <%= render partial: 'invoices/shared/taxtable', locals: {itemType: :charges} %>
  </div>

<%# This div will close the page for taxes or the last page of billeable services (charges) that include taxes %>
</div>

<div class="break"></div>
