<%# THIS TEMPLATE IS NOT IN USE #>
<!-- <tr class="monthlycharge">
  <td class="mc-service"><%= billable_service.service_name %></td>
  <td class="mc-date"><%= billable_service.date_range %></td>
  <td class="mc-desc"><span title="<%= monthly_charge_debug(billable_service) %>"><%= billable_service.description %></span></td>
  <td class="text-nowrap text-right mc-qty"><%= billable_service.qty %></td> -->
  <!-- <td class="text-nowrap text-right mc-price"><%= money(billable_service.unit_price) %></td>
  <td class="text-nowrap text-right mc-total"><%= money(billable_service.total) %></td>
</tr> -->
