<%#= form_for(@phone_contact) do |f| %>


<%= form_for [@client , @phone_contact] do |f| %>
<%#= form_for(@phone_contact, :url => url_for(:controller => 'phone_contact', :action => 'edit')) do |f| %>
  <% if phone_contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(phone_contact.errors.count, "error") %> prohibited this phone_contact from being saved:</h2>

      <ul>
      <% phone_contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
  <%= f.label :phone_number, class: 'control-label' %>
  <%= f.text_field :phone_number, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :name, class: 'control-label' %>
  <%= f.text_field :name, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :phone_type, class: 'control-label' %>
  <%#= f.select :phone_type, @phone_contact.phone_types, include_blank: true %>
  <%= f.select :phone_type, @phone_contact.phone_types.sort, {include_blank: true} , { class: 'form-control' } %>
  <%#= f.text_field :phone_type, class: 'form-control' %>
</div>

<%= f.hidden_field :client_id, value: @client.id %>

  <div class="actions">
    <%#= f.submit %>
    <%= f.submit :class => 'btn btn-primary ' %>
  </div>
<% end %>
