<p id="notice"><%= notice %></p>

<h1>Phone Contacts</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @phone_contacts.each do |phone_contact| %>
      <tr>
        <td><%= link_to 'Show', phone_contact %></td>
        <td><%= link_to 'Edit', edit_phone_contact_path(phone_contact) %></td>
        <td><%= link_to 'Destroy', phone_contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Phone Contact', new_phone_contact_path %>
