<p id="notice"><%= notice %></p>

<%#= link_to 'Edit', edit_phone_contact_path(@phone_contact) %> |
<%#= link_to 'Back', phone_contacts_path %>


<div class="row">
  <div class="col-md-12">
    <%= render layout: 'shared/box', locals: { title: "#{icon(icon_for 'contact')} Phone Contacts".html_safe } do %>
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th class="col-md-3">Phone Type</th>
            <th class="col-md-3">Phone Number</th>
            <th class="col-md-3">Name</th>
            <th class="col-md-3"></th>
          </tr>
        </thead>

        <tbody>
            <tr>
              <td><%= @phone_contact.phone_type %></td>
              <td><%= @phone_contact.phone_number %></td>
              <td><%= @phone_contact.name %></td>
              <td></td>
            </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
