<div class="field">
  <%= f.label :email, class: 'control-label' %>
  <%= f.text_field :email, class: 'form-control' %>
  <%= errors_for(@contact, :email) %>
</div>

<div class="field">
  <%= f.label :name, class: 'control-label' %>
  <%= f.text_field :name, class: 'form-control' %>
  <%= errors_for(@contact, :name) %>
</div>

<div class="field">
  <%= f.label :role, class: 'control-label' %>
  <%= f.text_field :role, class: 'form-control' %>
  <%= errors_for(@contact, :role) %>
</div>

<div class="field">
  <%= f.label :phone_number, class: 'control-label' %>
  <%= f.text_field :phone_number, class: 'form-control' %>
  <%= errors_for(@contact, :phone_number) %>
</div>

<div class="field">
  <%= f.label :active %><br>
  <%= f.check_box :active %>
  <%= errors_for(@contact, :active) %>
</div>

<div class="actions">
  <%= f.submit nil, class: 'btn btn-primary btn-box' %>
</div>
