div.paymentreceived-msg {
	font-size: 80%;
}

div.paymentsdue-msg {
	font-size: 80%;
	font-style: bold;
}

div.seasonal-msg {
	font-size: 120%;
}

div.customersummary {
	display: block;
  float: right;
  width: 75%;
}

.small {
  font-size: 6pt;
}

.table-bordered {
  width: 100%;
}

.text-nowrap {
	font-size: calc(1.0rem - 1px) !important;
	max-width: 100% !important;
	white-space: nowrap;
	overflow: hidden;
}
