<!-- #account-number -->
<div id="account-number" class="row">
  <strong class="pull-left"><%=t 'invoices._accountnumbers.account_number' %></strong>

  <span class="pull-right">
    <%= @invoice.ressource.client.btn.billingtelephonenumber %>
  </span>

  <div class="clearfix"></div>
</div>
<!-- /#account-number -->

<!-- BEGIN #invoice-deptname For site only invoices -->
<% if @invoice.siteOnly? %>
<div id="invoice-deptname" class="row">
  <strong class="pull-left"><%=t 'invoices._accountnumbers.invoice_deptname' %></strong>
  <span class="pull-right">
    <%= @invoice.site.site_name %>
  </span>
  <div class="clearfix"></div>
</div>
<div id="invoice-deptnum" class="row">
  <strong class="pull-left"><%=t 'invoices._accountnumbers.invoice_deptnum' %></strong>
  <span class="pull-right">
    <%= @invoice.site.site_number %>
  </span>
  <div class="clearfix"></div>
</div>
<% end %>
<!-- END #department name-->

<div id="invoice-number" class="row">
  <strong class="pull-left"><%=t 'invoices._accountnumbers.invoice_number' %></strong>

  <span class="pull-right">
    <%= @invoice.invoicenumber %>
  </span>

  <div class="clearfix"></div>
</div>

<!-- #invoice-date -->
<div id="invoice-date" class="row">
  <strong class="pull-left"><%=t 'invoices._accountnumbers.invoice_date' %></strong>

  <span class="pull-right">
    <%= @invoice.invoice_date(invoice_date_format) %>
  </span>

  <div class="clearfix"></div>
</div>
<!-- /#invoice-date -->
