<address class="col-xs-12 form-group">
  <!-- sge/app/views/invoices/shared/_address.html.erb -->
  <%= @invoice.ressource.name %><br />
  <%= br_if_not_blank(@invoice.ressource.billing_address_1) %>
  <%= br_if_not_blank(@invoice.ressource.billing_address_2 + ('&nbsp;'*2) + @invoice.ressource.billing_address_3) %>
  <%# br_if_not_blank(@invoice.client.billing_address_3) %>
  <%= br_if_not_blank(@invoice.ressource.billing_address_4) %>
</address>
