<div class="customersummary">
  <table class="table table-striped" style="margin-bottom: 0px">
    <thead>
      <tr>
        <th class="text-nowrap"><%=t 'invoices._pagetwo.account_name' %></th>
        <th class="text-nowrap"><%=t 'invoices._accountnumbers.account_number' %></th>
        <th class="text-nowrap"><%=t 'invoices._accountnumbers.invoice_number' %></th>
        <th class="text-nowrap"><%=t 'invoices._accountnumbers.invoice_date' %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-nowrap"><%= @invoice.customer_name %></td>
        <td class="text-nowrap"><%= @invoice.account_code %></td>
        <td class="text-nowrap"><%= @invoice.invoicenumber %></td>
        <td class="text-nowrap"><%= @invoice.invoice_date %></td>
      </tr>
    </tbody>
  </table>
      <% if @invoice.siteOnly? %>
      <table class="table table-striped">
        <tr>
          <th class="text"><%=t 'invoices._accountnumbers.invoice_deptname' %></th>
          <td class="text"><%= @invoice.site.name %></td>
          <th class="text"><%=t 'invoices._accountnumbers.invoice_deptnum' %></th>
          <td class="text-nowrap"><%= @invoice.site.site_number %></td>
        </tr>
      <% end %>
      </table>
</div>
