    <tr>
      <td class="text-nowrap"><%= departmentline.site_number %></td>
      <td class="text-expand"><%= departmentline.site_name   %></td>
      <td class="text-nowrap text-right"><%= money(departmentline.services_subtotal) %></td>
      <td class="text-nowrap text-right"><%= money(departmentline.unique_subtotal) %></td>
      <td class="text-nowrap text-right"><%= money(departmentline.charges_subtotal) %></td>
      <td class="text-nowrap text-right"><%= money(departmentline.calc_total_taxes) %></td>
      <td class="text-nowrap text-right"><%= money(departmentline.amount_invoiced) %></td>
    </tr>

