<%= render :partial => 'customerinfobox', object: department_summary -%>

<table class="table table-striped">
  <caption><%=t 'invoices._department_summary.department_summary' %></caption>

  <thead>
    <tr>
      <th class="text-nowrap"><%=t 'invoices._department_summary.site_number' %></th>
      <th class="text-expand"><%=t 'invoices._department_summary.site_name' %></th>
      <th class="text-nowrap text-right"><%=t 'invoices._department_summary.monthlycharges' %></th>
      <th class="text-nowrap text-right"><%=t 'invoices._department_summary.uniquecharges' %></th>
      <th class="text-nowrap text-right"><%=t 'invoices._department_summary.usagecharges' %></th>
      <th class="text-nowrap text-right"><%=t 'invoices._department_summary.totaltaxes' %></th>
      <th class="text-nowrap text-right"><%=t 'invoices._department_summary.total' %></th>
    </tr>
  </thead>

  <tbody>
    <%= render :partial => 'departmentline', collection: @departmental_invoices %>
    <tr>
      <td class="text-nowrap text-left" colspan=2><%=t 'invoices._department_summary.total' %></td>
      <td id="department-summary-total" class="text-nowrap text-right"><%= money(@invoice.departmental_monthly_total) %></td>
      <td id="department-summary-total" class="text-nowrap text-right"><%= money(@invoice.departmental_unique_total) %></td>
      <td id="department-summary-total" class="text-nowrap text-right"><%= money(@invoice.departmental_usage_total) %></td>
      <td id="department-summary-total" class="text-nowrap text-right"><%= money(@invoice.departmental_taxes_total) %></td>
      <td id="department-summary-total" class="text-nowrap text-right"><%= money(@invoice.departmental_total) %></td>
    </tr>
  </tbody>
</table>

<table class="table table-striped">
  <caption><%=t 'invoices._department_summary.country_summary' %></caption>

  <thead>
     <tr>
     </tr>
  </thead>

  <tbody>
    <tr>
    </tr>

    <tr class="total">
    </tr>
  </tbody>
</table>

<table class="table table-striped">
  <caption><%=t 'invoices._department_summary.extension_summary' %></caption>

  <thead>
     <tr>
     </tr>
  </thead>

  <tbody>
    <tr>
    </tr>

    <tr class="total">
    </tr>
  </tbody>
</table>

<table class="table table-striped">
  <caption><%=t 'invoices._department_summary.tax_summary_services' %></caption>

  <thead>
     <tr>
     </tr>
  </thead>

  <tbody>
    <tr>
    </tr>

    <tr class="total">
    </tr>
  </tbody>
</table>

<table class="table table-striped">
  <caption><%=t 'invoices._department_summary.tax_summary_charges' %></caption>

  <thead>
     <tr>
     </tr>
  </thead>

  <tbody>
    <tr>
    </tr>

    <tr class="total">
    </tr>
  </tbody>
</table>
