<div class="text-offset" id="pagetwo">
  <div class="row">
     <div class="col-xs-6">
        <h6 id="company-info" class="fine-print-header">
          <%=t 'invoices._pagetwo.company_information' %>
        </h6>

        <p>
          <%=t 'invoices._pagetwo.please_send_msg' %>
        </p>

        <address id="company-address" class="text-indent">
           <%=t 'invoices._pagetwo.contact_html' %>
        </address>

        <h6 id="business-hours" class="fine-print-header">
          <%=t 'invoices._pagetwo.business_hours' %>
        </h6>

        <p>
           <%=t 'invoices._pagetwo.business_hours_html' %>
        </p>

        <h6 id="payment-info" class="fine-print-header">
          <%=t 'invoices._pagetwo.payment_information' %>
        </h6>

        <p id="late-fees">
          <%=t 'invoices._pagetwo.late_fee_msg', rate: 1.5, amount: money(5.0) %>
        </p>

        <h6 id="dc-policy" class="fine-print-header">
          <%=t 'invoices._pagetwo.disconnect_policy' %>
        </h6>

        <p>
           <%=t 'invoices._pagetwo.disconnect_msg' %>
        </p>

        <ol>
           <li>
              <%=t 'invoices._pagetwo.administration_fee', amount: money(250.0) %>
           </li>

           <li>
              <%=t 'invoices._pagetwo.telco_fees' %>
           </li>
        </ol>

        <p id="responsibility">
           <%=t 'invoices._pagetwo.responsibility_msg' %>
        </p>

        <h6 class="fine-print-header"><%=t 'invoices._pagetwo.change_of_address' %></h6>

        <p>
           <%=t 'invoices._pagetwo.checkbox_msg' %>
        </p>

        <p>
           <%=t 'invoices._pagetwo.advance_msg' %>
        </p>

     </div>


     <div class="col-xs-6">
        <h6 id="service-termination" class="fine-print-header"><%=t 'invoices._pagetwo.service_termination' %></h6>

        <p>
           <%=t 'invoices._pagetwo.advance_disconnection_msg' %>
        </p>

        <p>
           <%=t 'invoices._pagetwo.disconnection_penalty' %>
        </p>

        <h6 id="disputes" class="fine-print-header"><%=t 'invoices._pagetwo.billing_disputes' %></h6>

        <p>
           <%=t 'invoices._pagetwo.disputes_msg' %>
        </p>

        <h6 id="services-offered" class="fine-print-header"><%=t 'invoices._pagetwo.services_offered' %></h6>

        <p>
           <%=t 'invoices._pagetwo.telephony' %>
        </p>

        <ul>
           <li>
              <%=t 'invoices._pagetwo.telephone_lines_msg' %>
           </li>

           <li>
              <%=t 'invoices._pagetwo.calling_cards' %>
           </li>

           <li>
              <%=t 'invoices._pagetwo.conference_bridge' %>
           </li>
        </ul>

        <h6 id="internet"><%=t 'invoices._pagetwo.internet' %></h6>

        <ul>
          <li>
            <%=t 'invoices._pagetwo.internet_access_msg' %>
          </li>

           <li>
            <%=t 'invoices._pagetwo.hosting_msg' %>
           </li>

           <li>
             <%=t 'invoices._pagetwo.multi_site' %>
           </li>
        </ul>
     </div>

  </div>
</div><br /><hr />

<div>
  <div class="row">
    <div class="col-xs-6">
      <h6 class="address-change"><%=t 'invoices._pagetwo.change_of_address' %></h6>
    </div>

    <div class="col-xs-6">
      <p style="font-style:oblique"><%=t 'invoices._pagetwo.please_check_msg' %></p>
    </div>

  </div>

  <div class="col-xs-12 text-lined">
     <div class="row">
        <div class="row">
           <div id="account-name" class="col-xs-12">
              <div class="pull-left text-label"><%=t 'invoices._pagetwo.account_name' %></div>
              <div class="text-nowrap text-block text-underline"> </div>
           </div>
        </div>

        <div class="row">
           <div id="new-address" class="col-xs-12">
              <div class="pull-left text-label"><%=t 'invoices._pagetwo.new_address' %></div>
              <div class="text-nowrap text-block text-underline"> </div>
           </div>
        </div>

        <div class="row">
           <div id="city" class="col-xs-6">
              <div class="pull-left text-label"><%=t 'invoices._pagetwo.city' %></div>
              <div class="text-nowrap text-block text-underline"> </div>
           </div>

           <div id="state" class="col-xs-3">
              <div class="pull-left text-label"><%=t 'invoices._pagetwo.province' %></div>
              <div class="text-nowrap text-block text-underline"> </div>
           </div>

           <div id="zip" class="col-xs-3">
              <div class="pull-left text-label"><%=t 'invoices._pagetwo.postal_code' %></div>
              <div class="text-nowrap text-block text-underline"> </div>
           </div>
        </div>

        <div class="row">
           <div id="work-phone" class="col-xs-12">
              <div class="pull-left text-label"><%=t 'invoices._pagetwo.work_phone' %></div>
              <div class="text-nowrap text-block text-underline"> </div>
           </div>
        </div>

        <div class="row">
           <div id="contact-name" class="col-xs-12">
              <div class="pull-left text-label"><%=t 'invoices._pagetwo.contact_name' %></div>
              <div class="text-nowrap text-block text-underline"> </div>
           </div>
        </div>

        <div class="row">
           <div id="email-address" class="col-xs-12">
              <div class="pull-left text-label"><%=t 'invoices._pagetwo.email_address' %></div>
              <div class="text-nowrap text-block text-underline"> </div>
           </div>
        </div>
     </div>
  </div>
</div>
