<!-- #invoice-page-1.container-fluid -->
<div class="container-fluid">
  <!-- .top-page -->
  <div id="topPage" class="top-page">

    <div id="aboveMsg2" class="row">
      <div class="col-xs-7" id="pageone_lefthalf">
        <!-- Large logo on first page -->
        <div class="col-xs-12 form-group">
          <%= image_tag 'logo-header.png', align: 'left', class: 'logoLarge', alt: '..IP4B Inc.' %>
        </div>

        <!-- IP4B's address -->
        <address class="col-xs-12 form-group">
          <%= t('invoices._pageone.address').html_safe %>
        </address>

        <!-- Customer's address -->
        <%= render 'invoices/shared/address' %>

        <!-- Customer Service Information -->
        <div id="customer-service-information" class="col-xs-12 form-group form-box">
          <div class="form-spacer">
            <div class="row"><strong><%=t 'invoices._pageone.csi.title' %></strong></div>
            <div class="row"><strong class="pull-left"><%=t 'invoices._pageone.csi.customer_service' %></strong><span class="pull-right">514-444-4044 or 1-844-444-4742</span></div>
            <div class="row"><strong class="pull-left"><%=t 'invoices._pageone.csi.technical_support' %></strong><span class="pull-right">514-444-4045</span></div>
            <div class="row"><strong class="pull-left"><%=t 'invoices._pageone.csi.billing_email' %></strong><span class="pull-right"><a href="mailto:facturation@ip4b.ca">facturation@ip4b.ca</a></span></div>
          </div>
        </div>

        <div id="tax-registrations" class="col-xs-12 form-group">
        </div>

        <!-- Message 1: GST, payment rules, late fee notice -->
        <div id="message_01" class="row">
            <span><%=t 'invoices._pageone.tax_registrations', gst: '885630608RT', pst: '1204900538' %></span><br />
            <%= t('invoices._pageone.payments_received', :date=> @invoice.payments_shown_until) %> <%= t('invoices._pageone.payments_due_html', :interest => 1.5, :date=> @invoice.late_payment_date) %>
        </div>

        <div class="paymentreceived-msg col-xs-12 form-group ">
          <div>
            <div><%# TODO @invoice.processed_up_to %></div>
          </div>
        </div>

        <div class="col-xs-12 form-group paymentsdue-msg">
          <div>
            <%# TODO @invoice.payments_due_at.html_safe %>
          </div>
        </div>
        <div class="col-xs-12 form-group seasonal-msg">
          <div>
            <%# TODO seasonal_message(@invoice) %>
          </div>
        </div>
      </div>

      <!-- BEGIN div for Summary (page one, right side) -->
          <div id="summary-right-side" class="col-xs-5">

            <div id="summary-account" class="col-xs-12 form-group">

              <% if @invoice.siteOnly? %><div class="row form-title"><strong><%=t 'invoices._pageone.department_info_header' %></strong></div><% end %>

              <%= render(template: 'invoices/shared/_accountnumbers', locals: {invoice_date_format: :medium}) %>

            </div>

            <% if @invoice.clientOnly? %>
              <div id="account-history" class="col-xs-12 form-group">
                  <div id="summary-account-history" class="row form-title"><strong><%=t 'invoices._pageone.sah.title' %></strong></div>

                  <!-- Previous balance / Solde antérieur -->
                  <div class="row"><span class="pull-left"><%=t 'invoices._pageone.sah.previous_balance' %></span><span class="pull-right"><%= money(@invoice.previous_balance) %></span></div>

                  <!-- Payments / Paiments-->

	              <% @invoice.payments.each do |p| %>
	                <div class="row"><span class="pull-left"><%=t 'invoices._pageone.sah.payment_received', date: l(p.date.to_date, format: :medium) %></span><span class="pull-right"><%= money(p.amount) %></span></div>
	              <% end %>

	              <!-- Late fee charges / Supplément de retard -->
	              <div class="row"><span class="pull-left"><%=t 'invoices._pageone.sah.late_fee_charges' %></span><span class="pull-right"><%= money(@invoice.late_charges) %></span></div>

	              <!-- Past due balance (due immediately) / Solde impayé -->
	              <div class="row"><strong class="pull-left"><%=t 'invoices._pageone.sah.past_due_balance' %></strong><span class="pull-right"><%= money(@invoice.past_due_balance) %></span></div>

              </div>
            <% end %>

            <!-- Monthly charges in _pageone.html.erb -->
            <!-- Charges -->
            <div id="current-charges" class="col-xs-12 form-group">
              <div id="summary-current-charges" class="row form-title"><strong><%=t 'invoices._pageone.scc.title' %></strong></div>

              <!-- Monthly charges / Services -->
              <div class="row"><span class="pull-left"><%=t 'invoices._pageone.scc.monthly_charges' %></span><span class="pull-right"><%= money(@invoice.services_subtotal) %></span></div>

              <!-- Usage Charges / Communication facturées -->
              <div class="row"><span class="pull-left"><%=t 'invoices._pageone.scc.usage_charges' %></span><span class="pull-right"><%= money(@invoice.usage_charges) %></span></div>

              <!-- Taxes -->
              <% @invoice.perTaxTypeTotals.each do |taxTypeAttribute, amount| %>
                <div class="row"><span class="pull-left"><%= InvoiceDecorator::taxHeader_i18n(taxTypeAttribute) %></span><span class="pull-right"><%= money(amount) %></span></div>
              <% end %>

              <!-- Total current charges (@invocie.amount_invoiced) / Total - mois courrent -->
              <div class="row"><strong class="pull-left"><%=t 'invoices._pageone.scc.total_current_charges' %></strong><span class="pull-right"><%= money(@invoice.total_current_charges) %></span></div>
            </div>


            <!-- Summary of dues in page one -->
            <% if @invoice.clientOnly? %>
	            <div id="summary-dues" class="col-xs-12 form-group">
	              <!-- Total due by $date / Montant dû au $date -->
	              <div id="total-due-by" class="row border-black"><strong class="pull-left"><%=t 'invoices._pageone.total_due_by', date: l(@invoice.object.due_date, format: :long) %></strong><span class="pull-right"><%= money(@invoice.total_current_charges) %></span></div>

	              <!-- Total due / Mont dû -->
	              <div id="total-due" class="row border-black"><span class="pull-left"><%=t 'invoices._pageone.total_due' %></span><span class="pull-right"><%= money(@invoice.total_due) %></span></div>
	            </div>

	            <div id="invoice-info" class="small hide">
	              <span> <%= @invoice.invoice_version %></span>
	            </div>
            <% elsif @invoice.siteOnly? %>
                <div class="pull-left col-xs-12 row"><%=t 'invoices._pageone.informative_only_invoice' %></div>
            <% else %>
                <% raise "Invoice is neither clientOnly or siteOnly.  Don't know what to do." %>
            <% end %>

          </div>
          <!-- END div for Summary (page one, right side) -->


          </div>
          <!-- END div for top part -->




        <!-- Custom advertise message -->
        <% settingName = 'invoice_message_' + I18n.locale.to_s %>
        <div id="message_02_advert" class="row"><%=
            sanitize (Setting.find_by_name(settingName).try(:value) or ''), tags: @allowedTags, attributes: %w(style)
        %></div>

        <% if @invoice.clientOnly? %>
	        <div id="detach-msg" class="row">
	          <p class="text-center"><%=t 'invoices._pageone.please_detach_msg' %></p><br />
	          <hr />
	        </div>
        <% end %>

  </div>
  <!-- /.top-page -->

</div>
<!-- /#invoice-page-1.container-fluid -->

<!-- #invoice-page-1.container-fluid -->
<% if @invoice.clientOnly? %>
<div>
  <!-- .bottom-page cut out -->
  <div class="bottom-page">

    <div id="detachable" class="row">
      <div class="col-xs-7">
        <div class="col-xs-12 form-group">
          <% revendor = @invoice.ressource.client.getRevendorForTemplate() %>
          <% if revendor == Client::COOP_HYDRO %>
            <%= image_tag 'logo-coop-hydro.png', align: 'left', class: 'logoCutOff', alt: '..Coop Hydro-Québec' %>
          <% elsif  revendor == Client::COMMERCANT_CHAUDIERE %>
            <%= image_tag 'commercants-de-la-chaudiere.serviceAlaClientele.png', align: 'left', class: 'logoCutOff', alt: '..Commercants Chaudière' %>
          <% else %>
            <%= image_tag 'logo-payment.png', align: 'left', class: 'logoCutOff', alt: '..IP4B Inc.' %>
          <% end %>
        </div>
        <%= render 'invoices/shared/address' %>
      </div>

      <div class="col-xs-5">
        <div class="col-xs-12">

          <!-- footter account numbers -->
          <%= render(template: 'invoices/shared/_accountnumbers', locals: {invoice_date_format: :short_numeric}) %>

		  <!-- due date  of cut out -->
          <div id="invoice-date" class="row">
            <strong class="pull-left"><%=t 'invoices._accountnumbers.due_date' %></strong>
            <span class="pull-right">
              <%= @invoice.due_date %>
            </span>
            <div class="clearfix"></div>
          </div>

          <!-- Total due of cut out -->
          <div class="row text-lined" id="cutout_totaldue">
            <div class="pull-left text-label"><%=t 'invoices._pageone.total_due' %></div>
            <div class="pull-right text-block">
              <%= money @invoice.total_due %>
            </div>
            <div class="clearfix"></div>
          </div>


          <!-- Amount enclosed of cut out -->
          <div class="row text-lined">
            <div id="amount-enclosed" class="pull-left text-label"><%=t 'invoices._pageone.amount_enclosed' %></div>
            <div class="text-nowrap text-block">
              <div class="pull-left">$</div>
              <div class="text-nowrap text-underline"> </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div id="footer-msg" class="col-xs-12 form-group">
      <p><%=t 'invoices._pageone.please_return_msg' %></p>
      <p><input type="checkbox"/> <%=t 'invoices._pageone.address_change_msg' %></p>
    </div>

  </div>
  <!-- /.bottom-page -->
</div>
<!-- /#invoice-page-1.container-fluid -->
<% end %>
