    <% emptyCell = %Q[<td class="text-nowrap text-right" style="min-width:0.5cm">&emsp;</td>].html_safe %>
    <table class="table table-striped">
      <caption><%=t "invoices._monthlycharges.tax_summary_for_#{itemType}" %></caption>
      <thead>
         <tr>
           <th class="text-nowrap"><%=t 'invoices._monthlycharges.account_level' %></th>
           <% @invoice.class::taxTypeList.each do |taxthing| %>
            <th class="text-nowrap text-right" style="width: 150px;"><%= @invoice.class::taxHeader_i18n(taxthing) %></th>
           <% end %>
           <%= emptyCell %>
           <th class="text-nowrap text-right" ><%=t 'invoices._monthlycharges.total' %></th>
         </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-nowrap text-left"><%= @invoice.customer_name %></td>
			<% tax_total = (:tax_total.to_s + '_' + itemType.to_s).to_sym %>
           <% @invoice.class::taxTypeList.each do |taxthing| %>
			<% taxthing = (taxthing.to_s + '_' + itemType.to_s).to_sym %>
            <td class="text-nowrap text-right"><%= money(@invoice.try(taxthing)) %></td>
           <% end %>
           <%= emptyCell %>
           <td class="text-nowrap text-right"><%= money(@invoice.try(tax_total)) %></td>
        </tr>
        <tr class="total">
          <td class="text-nowrap text-left"><%=t 'invoices._monthlycharges.total' %></td>
           <% @invoice.class::taxTypeList.each do |taxthing| %>
			<% taxthing = (taxthing.to_s + '_' + itemType.to_s).to_sym %>
            <td class="text-nowrap text-right"><%= money(@invoice.try(taxthing)) %></td>
           <% end %>
           <%= emptyCell %>
           <td class="text-nowrap text-right"><%= money(@invoice.try(tax_total)) %></td>
        </tr>
      </tbody>
    </table>

