<%#= form_for(@technical_contact) do |f| %>
<%= form_for [@client , @technical_contact] do |f| %>
<%#= form_for(@technical_contact, :url => url_for(:controller => 'technical_contact', :action => 'edit')) do |f| %>
  <% if technical_contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(technical_contact.errors.count, "error") %> prohibited this technical_contact from being saved:</h2>

      <ul>
      <% technical_contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
  <%= f.label :email, class: 'control-label' %>
  <%= f.text_field :email, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :name, class: 'control-label' %>
  <%= f.text_field :name, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :department, class: 'control-label' %>
  <%#= f.collection_select :department, @client.sites.order(:site_number),:id,:name, include_blank: true %>
  <%= f.collection_select :department, @client.sites.order(:site_number),:name,:name, {include_blank:true}, { class: 'form-control' } %>
  <%#= f.text_field :department, class: 'form-control' %>
</div>

<%= f.hidden_field :client_id, value: @client.id %>

  <div class="actions">
    <%= f.submit :class => 'btn btn-primary ' %>
    <%#= f.submit 'submit', :class => 'btn'  %>
  </div>
<% end %>


    <%#= link_to 'Edit', edit_technical_contact_path(technical_contact) %>
<%#= link_to 'Destroy', technical_contact, method: :delete, data: { confirm: 'Are you sure?' } %>
