<p id="notice"><%= notice %></p>

<h1>Technical Contacts</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @technical_contacts.each do |technical_contact| %>
      <tr>
        <td><%= link_to 'Show', technical_contact %></td>
        <td><%= link_to 'Edit', edit_technical_contact_path(technical_contact) %></td>
        <td><%= link_to 'Destroy', technical_contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Technical Contact', new_technical_contact_path %>
