<% if @client %>
  <%= form_for @site do |f| %>
    <%= f.hidden_field :client_id, value: @client.id %>

    <div class="form-group">
      <%= f.label :site_id, 'Site ID', class: 'control-label' %>
      <input class="form-control" type="text" placeholder="<%= @site.id %>" readonly>
    </div>

    <div class="form-group">
      <%= f.label :site_number, 'Site Number', class: 'control-label' %>
      <%= f.text_field :site_number, class: 'form-control'%>
    </div>

    <div class="form-group">
      <%= f.label :name, 'Site Name', class: 'control-label' %>
      <%#= f.text_field :name, class: 'form-control', value: '' %> <%# why was value: '' ?? %>
      <%= f.text_field :name, class: 'form-control'  %>
    </div>

    <% if false %>
      <%#= Keeping this around for a example %>
      <%= f.fields_for :building do |ff| %>
	<div class="form-group">
	  <%= ff.label :address1, class:'control-label col-sm-3 col-form-label' %>
	  <div class="col-sm-8">
	    <%= ff.text_field :address1, class: 'form-control' %><!-- , :readonly => ( @client.buildings.length > 1 )  %> -->
	  </div>
	</div>
      <% end %>
    <% end %>

    <div class="form-horizontal">
      <div class="form-group">
	<%= f.label :address1, class:'control-label col-sm-3 col-form-label' %>
	<div class="col-sm-8">
	  <%= f.text_field :address1, class: 'form-control' %><!-- , :readonly => ( @client.buildings.length > 1 )  %> -->
	</div>
      </div>

      <div class="form-group">
	<%= f.label :address2, class:'control-label col-sm-3 col-form-label' %>
	<div class="col-sm-8">
	  <%= f.text_field :address2, class: 'form-control' %><!-- , :readonly => ( @client.buildings.length > 1 )  %> -->
	</div>
      </div>

      <div class="form-group">
	<%= f.label :city, class:'control-label col-sm-3 col-form-label' %>
	<div class="col-sm-8">
	  <%= f.text_field :city, class: 'form-control' %><!-- , :readonly => ( @client.buildings.length > 1 )  %> -->
	</div>
      </div>

      <div class="form-group">
	<%= f.label :province, class:'control-label col-sm-3 col-form-label' %>
	<div class="col-sm-8">
	  <%#= f.text_field :province, class: 'form-control' %><!-- , :readonly => ( @client.buildings.length > 1 )  %> -->

          <%= f.select :province, StatesProvinces::LIST, {selected: @site.province || 'QC'}, class: 'form-control selectpicker' %>
	</div>
      </div>

      <div class="form-group">
	<%= f.label :country, class:'control-label col-sm-3 col-form-label' %>
	<div class="col-sm-8">
	  <%= f.text_field :country, class: 'form-control' %><!-- , :readonly => ( @client.buildings.length > 1 )  %> -->
	</div>
      </div>

      <div class="form-group">
	<%= f.label :postalcode, class:'control-label col-sm-3 col-form-label' %>
	<div class="col-sm-8">
	  <%= f.text_field :postalcode, class: 'form-control' %><!-- , :readonly => ( @client.buildings.length > 1 )  %> -->
	</div>
      </div>
    </div>



    <% if false %>
      <div class="form-group">
	<%= f.label :buildings, class: 'control-label' %>
	<%# cache @buildings do %>
	<%= f.select :building_id, @client.buildings.select(:name, :id).collect{|s| [s.name, s.id]}, {}, class: 'form-control' %>
	<%# end %>
      </div>
    </hr>
    <div class="form-horizontal">
      <%#= billing_address_1,2,3,4 %>
      <div class="form-group">
	<%= f.label :billing_address_1, class:'control-label col-sm-3 col-form-label' %>
	<div class="col-sm-8">
	  <%= f.text_field :billing_address_1, class: 'form-control' %><!-- , :readonly => ( @client.buildings.length > 1 )  %> -->
	</div>
      </div>



      <div class="form-group">
	<%= f.label :billing_address_2, class:'control-label col-sm-3 col-form-label' %>
	<div class="col-sm-8">
	  <%= f.text_field :billing_address_2, class: 'form-control' %><!-- , :readonly => ( @client.buildings.length > 1 ) %> -->
	</div>
      </div>

      <div class="form-group">
	<%= f.label :billing_address_3, class:'control-label col-sm-3 col-form-label' %>
	<div class="col-sm-8">
	  <%= f.text_field :billing_address_3, class: 'form-control' %><!-- , :readonly => ( @client.buildings.length > 1 ) %> -->
	</div>
      </div>

      <div class="form-group">
	<%= f.label :billing_address_4, class:'control-label col-sm-3 col-form-label' %>
	<div class="col-sm-8">
	  <%= f.text_field :billing_address_4, class: 'form-control' %><!-- , :readonly => ( @client.buildings.length > 1 ) %> -->
	</div>
      </div>

      <%# <div class="form-group"> %>
      <%#= f.label :unitnumber, 'Unit Number', class: 'control-label col-sm-3 col-form-label' %>
      <%# <div class="col-sm-8"> %>
      <%#= f.text_field :unitnumber, class: 'form-control', :readonly => true %>
      <%# </div> %>
    </div>
    </div>
    <% end %>
    <hr>
    <div class="form-group">
      <% if @site.created_at %> <%# create new site won't have a created_at so won't fail. %>
	<% if @site.activated? %>
	  <p class="bg-success" style="padding:1%" >
	    <%= f.label "Activated", class:"control-label bg-success " %>
	    <%= link_to icon('minus'), client_site_deactivate_path(@client, @site), method: :patch, class: 'btn btn-danger btn-xs btn-box', style:"margin-left:1%", title: "click to deactivate"%>
	  </p>
	<% else %>
	  <p class="bg-danger" style="padding:1%" >
	    <%= f.label "Deactivated", class:"control-label" %>
	    <%= link_to icon('plus'), client_site_activate_path(@client, @site), method: :patch, class: 'btn btn-success btn-xs btn-box', style:"margin-left:1%", title: "click to active" %>
	  </p>
	<% end %>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.submit class: 'btn btn-primary' %>
    </div>



    <!-- <div class="form-group"> -->
      <%#= f.label :building_id, 'Site Address', class: 'control-label' %>
      <%# cache @selectable_buildings do %>
        <%#= f.select :building_id, @selectable_buildings.select(:address1, :id).collect{|s| [s.address1, s.id]}, {}, class: 'selectpicker form-control' %>
	<%#= f.select :building_id, @client.buildings.select(:address1, :id).collect{|s| [s.address1, s.id]}, {}, class: 'selectpicker form-control' %>
	<%#= f.select :building_id, @client.selectable_buildings.select(:address1, :id).collect{|s| [s.address1, s.id]}, {}, class: 'selectpicker form-control' %>
      <%# end %>
    <!-- </div> -->

    <!-- <div class="form-group">
      <%# f.label :site_rep_id, class: 'control-label' %>
      <%# cache @selectable_otrs_customer_users do %>
        <%# f.select :site_rep_id, @selectable_otrs_customer_users.select(:first_name, :id).collect{|s| [s.first_name, s.id]}, {}, class: 'selectpicker form-control' %>
      <%# end %>
    </div> -->


  <% end %>
<% else %>
  <%= form_for [@client, @site] do |f| %>
    <div class="form-group">
      <%= f.label :site_number, 'Site Number', class: 'control-label' %>
      <%= f.text_field :site_number, class: 'form-control', autofocus: true %>
      <%= errors_for @site, :site_number %>
    </div>

    <div class="form-group">
      <%= f.label :name, 'Site Name', class: 'control-label' %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= errors_for @site, :name %>
    </div>

    <!-- <div class="form-group">
      <%# f.label :unitnumber, 'Unit Number', class: 'control-label' %>
      <%# f.text_field :unitnumber, class: 'form-control' %>
      <%# errors_for @site, :unitnumber %>
    </div> -->

    <div class="form-group">
      <%= f.label :sla, 'Support Service Level', class: 'control-label' %>
      <%= f.select :support_service_level, [["☆","1"], ["☆☆", "2"], ["☆☆☆", "3"]], {}, class: 'selectpicker form-control' %>
    </div>

    <%= f.fields_for :building, @site.building do |bf| %>
      <div>
        <%= bf.label :address1, 'Address' %>
        <%= bf.text_field :address1, class: 'form-control' %>
        <%= errors_for @site.building, :address1 %>
      </div>

      <div>
        <%= bf.text_field :address2, class: 'form-control' %>
        <%= errors_for @site.building, :address2 %>
      </div>

      <div>
        <%= bf.label :city %>
        <%= bf.text_field :city, class: 'form-control' %>
        <%= errors_for @site.building, :city %>
      </div>

      <div>
        <%= bf.label :province %>
        <%= bf.text_field :province, class: 'form-control' %>
        <%= errors_for @site.building, :province %>
      </div>

      <div>
        <%= bf.label :postalcode, 'Postal Code' %>
        <%= bf.text_field :postalcode, class: 'form-control' %>
        <%= errors_for @site.building, :postalcode %>
      </div>

      <div>
        <%= bf.label :country %>
        <%= bf.text_field :country, class: 'form-control' %>
        <%= errors_for @site.building, :country %>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.submit nil, class: 'btn btn-primary' %>
    </div>

  <% end %>
<% end %>
