<table class="table table-bordered">
  <tr>
    <th class="col-md-3">Name</th><td class="col-md-12"><span class="form-control"><%= link_to_unless site.name.nil?, "#{site.name}", site %></span></td>
  </tr>
  <!-- <tr>
       <th>Building</th><td><span class="form-control"><%#= link_to_unless site.building.nil?, "#{site.building}", site.building %></span></td>
       </tr> -->
  <tr>
    <th>Unit</th><td><span class="form-control"><%= link_to_unless site.unitnumber.nil?, "#{site.unitnumber}", site %></span></td>
  </tr>
</table>
