
<div class="row">
  <form class="form-horizontal">
  <!-- <div class="col-md-4"> -->
  <div class="form-group from-group-sm">
    <% if deactivated_sites? %>
      <label class="col-sm-2 control-label">Listing Deactivated Sites</label>
      <div class="col-sm-10">
        <%= link_to 'Show Activated', client_show_safe_params.merge(deactivated_sites: 0), class: 'btn btn-sm btn-default ' %>
      </div>
    <% else %>

      <label class="control-label col-sm-2">Listing Activated Sites</label>
      <div class="col-sm-10">
        <%= link_to 'Show Deactivated', client_show_safe_params.merge(deactivated_sites: 1), class: 'btn btn-sm btn-default' %>
      </div>
    <% end %>
  </div>
</form>
</div>


<% if @client %>
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover sites table-condensed">
      <thead>
        <tr class="site-row site-heading-row">
          <th class="col-md-1">Number</th>
          <th class="col-md-5">Name</th>
          <th class="col-md-2">Address<!-- Building --></th>
          <th class="col-md-1">City<!-- Building --></th>
          <th class="col-md-1">Province<!-- Building --></th>
          <th class="col-md-1">count</th>
	  <th class="col-md-1">Status</th>
          <!-- <th class="col-md-1">SLA</th> -->
          <th class="col-md-2"></th>
        </tr>
      </thead>
      <tbody>
        <% sites.each do |site| %>
          <tr class="site-row site<%= ' danger' if site.terminated? %>">
            <td><%= link_to site.site_number||site.id, client_path(@client, site_id: site.id) %><!-- <br />[#<%= site.id %>] --></td>

            <!-- <td class="site-name"><%= link_to_unless site.name.nil?, (site.terminated? ? "#{site.name} (INACTIVE)": site.name), site %></td> -->
            <td class="site-name">
	      <%= link_to_unless site.name.nil?, (site.terminated? ? "#{site.name}": site.name), site %>
	    </td>
            <td class="site-building">
	      <% if !site.building.nil? %>
		<%= link_to_unless site.building.nil?, "#{site.building.address1} #{site.building.address2}", site.building %>
	      <% else %>
		-
	      <% end %>
	    </td>
            <td class="site-building">
	      <% if !site.building.nil? %>
		<%= link_to_unless site.building.nil?, "#{site.building.city}", site.building %>
	      <% else %>
		-
	      <% end %>

	    </td>
            <td class="site-building">
	      <% if !site.building.nil? %>
		<%= link_to_unless site.building.nil?, "#{site.building.province}", site.building %>
	      <% else %>
		-
	      <% end %>
	    </td>

            <td class="site-count"><%= sprintf("%03u (%03u)", site.active_phones_count, site.phones_count) %></td>
            <!-- <td class="site-sla"><%# site.sla_stars %></td> -->
            <!-- <td class="site-city"><%# site.city %></td> -->

	    <% if site.activated %>
	      <td class="site-status bg-success">ACTIVE</td>
	    <% else %>
	      <td class="site-status bg-danger">INACTIVE</td>
	    <% end %>

            <td class="site-actions">
              <div class="text-right">
                <%= link_to "#{icon 'edit'}".html_safe, edit_client_site_path(@client, site), class: 'btn btn-xs btn-warning btn-box' %>
                <% if @singular_site || site.terminated? %>
                  <%#= link_to "#{icon 'minus'}".html_safe, '#', class: 'btn btn-xs btn-danger btn-box disabled' %>
                <% else %>
                  <%#= link_to "#{icon 'minus'}".html_safe, remove_client_site_path(@client, site), method: :delete, data: { confirm: "Please confirm operation\nRemoving site: #{site.name} from client: #{@client.name}.\nAre you sure?" }, class: 'btn btn-xs btn-danger btn-box' %>
                <% end %>

		<% if site.activated? %>
		  <td><%= link_to icon('minus'), client_site_deactivate_path(@client, site), method: :patch, class: 'btn btn-danger btn-xs btn-box'%></td>
		<% else %>
		  <td><%= link_to icon('plus'), client_site_activate_path(@client, site), method: :patch, class: 'btn btn-success btn-xs btn-box'%></td>
		<% end %>

              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover sites">
      <thead>
        <tr class="site-row site-heading-row">
          <th class="col-md-1">ID</th>
          <th class="col-md-3">Name</th>
          <th class="col-md-3">Building</th>
          <th class="col-md-1">Unit Number</th>
          <th class="col-md-2">City</th>
          <th class="col-md-2"></th>
        </tr>
      </thead>

      <tbody>
        <% sites.each do |site| %>
          <tr class="site-row site<%= site.terminated? ? ' danger' : nil %>">
            <td class="site-id"><%= site.id %></td>
            <td class="site-name"><%= link_to_unless site.name.nil?, "#{site.name}", site %></td>
            <td class="site-building"><%= link_to_unless site.building.nil?, "#{site.building}", site.building %></td>
            <td class="site-unitnumber"><%= link_to_unless site.unitnumber.nil?, "#{site.unitnumber}", site %></td>
            <td class="site-city"><%= site.city %></td>
            <td class="site-actions">
              <div class="text-right">
                <%= link_to "#{icon 'edit'}".html_safe, edit_site_path(site), class: 'btn btn-xs btn-warning btn-box' %>
                <%= link_to "#{icon 'remove'}".html_safe, sites_path(site), method: :delete, data: { confirm: "WARNING : DESTRUCTIVE OPERATION!\nDeleting site #{site.name}.\nAre you absolutely sure?" }, class: 'btn btn-danger btn-xs btn-box' %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
