<% content_for :title do %>
  Edit Site
<% end -%>

<div class="row">
  <div class="col-md-4">
    <%= render layout: 'shared/box', locals: { title: "#{icon(icon_for 'site')} Edit Site".html_safe } do %>
      <%= render 'form' %>
    <% end %>
  </div>
</div>
