<% content_for :title do %>
  Sites
<% end -%>

<%= render layout: 'shared/box', locals: { title: "#{icon(icon_for 'site')} Sites (#{@sites_count})
<span style='margin-left:1em'>
<small>
<span class='label label-success'>activated: #{@sites_activated_count}</span>
<span class='label label-danger'>deactivated: #{@sites_deactivated_count}</span>
</small>
</span>
".html_safe } do %>
  <%= render 'sites', sites: @sites %>

  <%= content_for :footer do %>
    <%= link_to 'Back', redirect_back_path || clients_path, class: 'btn btn-default btn-box' %>
    <%#= link_to('Add Site', '#', class: 'btn btn-xs btn-box btn-default') %>
    <%= link_to 'Add Site', new_client_site_path , class: 'btn btn-xs btn-box btn-default' %>
    <%= paginate(@sites) %>
  <% end %>
<% end %>
