<% content_for :title do %>
  Site
<% end -%>

<div class="row">
  <div class="col-md-4">
    <%= render layout: 'shared/box', locals: { title: "#{icon(icon_for 'site')} Site".html_safe } do %>
      <%= render 'site', site: @site %>
    <% end %>
  </div>
</div>
