<div class="col-md-6">
  <%= form_tag search_path, method: :post do %>
    <div class="input-group">
      <!-- <input type="text" name="query" placeholder="Search query..." class="form-control" autofocus="true" value="<%= query %>"> -->
      <%= text_field_tag :query, query, placeholder: "Search query...", class: 'form-control', autofocus: true %>
      <span class="input-group-btn">
        <%= submit_tag 'Go', class: 'btn btn-primary btn-flat' %>
        <%= link_to 'Reset', reset_path, method: :post, class: 'btn btn-default btn-flat' %>
      </span>
    </div>

    <div class="form-group">
      <%= select_tag :status, options_for_select([:all, :activated, :active, :closed, :pending_start, :pending_close, :unknown], search_status), class: 'selectpicker form-contorl' %>
      <%= link_to 'Advanced Search', '#', class: 'btn btn-flat btn-default', disabled: true %>
    </div>
  <% end %>
</div>
