<table class="table table-bordered table-striped table-hover">
  <tr>
    <th>Type</th>
    <th>Match</th>
    <th>ID</th>
    <th>Client Name</th>
  </tr>
  <% @results.each do |result| %>
    <% case result %>
    <% when Client %>
      <tr>
        <td>Client</td>
        <td><%= link_to bold_match(result.name, query), result %></td>
        <td><%= result.id %></td>
        <td><%= link_to result.name, result %></td>
      </tr>
    <% when Btn %>
      <tr>
        <td>BTN</td>
        <td><%= link_to bold_match(result.billingtelephonenumber, query), result %></td>
        <td><%= result.id %></td>
        <td><%= link_to result.client.try(:name), result.client %></td>
      </tr>
    <% else %>
      <%= result %>
    <% end %>
  <% end %>
</table>
