<% content_for :title do %>
  Search
<% end -%>

<%= render layout: 'shared/box', locals: { title: "#{icon 'zoom'} Results".html_safe, footer: paginate(@results) } do %>
  <%= render 'searches/form' %>

  <%= render 'search' %>
<% end %>
