<%= form_for @payment do |f| %>

  <%= f.hidden_field :client_id, value: (@payment.client ? @payment.client.id : @client.id) %>

  <div class="form-group">
    <%= f.label :date, 'Date' %>
    <%#= f.date_select :date, {}, class: 'form-control' %>
    <%= f.text_field :date, class: 'form-control datepicker', value: Date.today.strftime('%Y-%m-%d') %>
    <script>
            $(document).ready(function()  {
                    $('.datepicker').datepicker('setEndDate', '<%= Date.today.strftime('%Y-%m-%d') %>');
                    });

    </script>
  </div>

  <div class="form-group">
    <%= f.label :amount %>
    <%= f.text_field :amount, class: 'form-control' %>
  </div>

  <% if false %>
  <div class="form-group">
    <%= f.label :type, 'Type' %>
    <%= f.select :type, ['Cheque', 'Payment', 'CreditMemo', 'DebitMemo' ], { :selected => 'Cheque'}, class: 'form-control' %>
  </div>
  <% end %>


  <div class="form-group">
    <%= f.label :transaction_method, 'Transaction Method' %>
    <%#= f.select :transaction_method, options_from_collection_for_select(TransactionMethod.all, :id, :methodname, @payment.transaction_method_id), {}, class: 'form-control' %>
    <%#= f.select :transaction_method_id, options_from_collection_for_select(TransactionMethod.all, :id, :methodname, @payment.transaction_method_id), {}, class: 'form-control' %>
    <%= f.select :transaction_method_id, options_for_select(TransactionMethod.all.map{ |tm| [ "#{tm.transaction_type.typename} - #{tm.methodname}" , tm.id] }, @payment.transaction_method_id || 2 ), {}, class: 'form-control' %>
  </div>

  <% if false %>
  <div class="form-group">
    <%= f.label :transaction_type, 'Transaction Type' %>
    <%#= f.select :transaction_type, options_from_collection_for_select(TransactionType.all, :id, :typename, @payment.transaction_type_id), {}, class: 'form-control' %>

    <%= f.select :transaction_type_id, options_from_collection_for_select(TransactionType.all.select { |tt| ["CreditMemo", "DebitMemo", "Payment"].include? tt.typename }, :id, :typename, @payment.transaction_type_id), {}, class: 'form-control' %>

  </div>
  <% end %>


  <div class="form-group">
    <%= f.label :description, 'Description' %>
    <%= f.text_field :description, class: 'form-control' %>
  </div>


    <%# glaccount hasn't been populated it appears %>
  <div class="form-group">
    <%= f.label :gl_account, 'GL Account' %>
    <%#= f.select :GLAccount, options_from_collection_for_select(GlAccount.all, :id, :code, @payment.gl_account_id), {}, class: 'form-control' %>
    <%= f.select :gl_account_id, options_for_select(GlAccount.all.map{ |gl| ["#{gl.code} - #{gl.description}", gl.id]}, @payment.gl_account_id), {}, class: 'form-control' %>
  </div>


  <% if false %>
  <div class="form-group">
    <%= f.label :GLAccount, 'GLAccount' %>
    <%= f.text_field :GLAccount, class: 'form-control', value: "10110" %>
    <%# DB only accepts an integer for now, so I put this mast in #%>
    <%# Have to include https://github.com/ruoso/jquery-regex-mask-plugin for this to work #%>
    <%# <script>
            $(document).ready(function()  {
                $('#payment_GLAccount').regexMask(/^\d+$/);
            });
    </script> #%>
  </div>
  <% end %>
  <div class="actions">
    <%= f.submit nil, class: 'btn btn-box btn-primary' %>
  </div>
<% end %>
