<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th class="col-md-3">Current Balance : </th><td>
	<% if @client.billing %>
	  <%= money @client.billing.balance %>
	<% else %>
	  err
	<% end %>
      </td>
    </tr>
    <tr><th colspan="2">Balance Per BTN</th></tr>
  </thead>

  <tbody>
    <tr><th><%= @client.btn.billingtelephonenumber %> : </th>
      <td>
	<% if @client.billing %>
	  <%= money @client.billing.balance %></td>
	<% else %>
	  err
	<% end %>
    </tr>
  </tbody>
</table>
