
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="box box-default">
      <div class="box-header">
	<h1 class="box-title"><%= @client.name %></h1>
      </div>

      <div class="box-body">
	<%= render 'summary' %>

	<table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th>Date</th>
              <th>Amount</th>
              <th>Type</th>
	      <!-- <th>Method</th> -->
              <th>Description</th>
	      <th>GLAccount</th>
            </tr>
          </thead>

          <tbody>
            <% @payments.each do |payment| %>
              <tr>
		<td><%= date payment.date %></td>
		<td><%= money payment.amount %></td>
		<!-- <td><%#= payment.type %></td> -->
		<td><%= payment.transaction_type != nil ?  payment.transaction_type.typename : '' %>
		  <%= payment.transaction_method != nil ? ": #{payment.transaction_method.methodname}" : '' %></td>
		<td><%= payment.description %></td>
		<td><% if payment.gl_account != nil %><span title="<%= payment.gl_account.description %>"><%= payment.gl_account.code %></span><% end %></td>
              </tr>
            <% end %>
          </tbody>
	</table>
      </div>
    </div>
  </div>
</div>
